<%= error_messages_for :invitation %>

<% if @users.include?(current_user) %>

<ul class="tabnav" style="margin-bottom: 20px;">
	<li id="tb1" class="selected"><a href="#" onclick="window.location.hash = '#invitations_left-duffel'; $(this).parent().addClass('selected');$(this).parent().siblings().removeClass('selected');$('#invitations_left').show();$('#message').show();$('#invitations_left-fb').hide();$('#invitations_left-new').hide();$('#invitations_right').show();return false;">Duffel<span>Invite Duffel friends</span></a></li>
	<li id="tb2" style="background: url(/images/social/facebook-32x32.png) no-repeat 20px center; padding-left: 62px"><a href="#" onclick="window.location.hash = '#invitations_left-fb'; $(this).parent().addClass('selected');$(this).parent().siblings().removeClass('selected');$('#invitations_left').hide();$('#message').hide();$('#invitations_left-fb').show();$('#invitations_left-new').hide();$('#invitations_left-email').hide();$('#invitations_right').show();$('#fb-friends-checkbox').load('/beta_invitations/get_fb_friends?trip=true',function(){$('#loading').remove();});return false;">Facebook<span>Invite Facebook friends</span></a></li>
	<li id="tb4"><a href="#" onclick="window.location.hash = '#invitations_left-new'; $(this).parent().addClass('selected');$(this).parent().siblings().removeClass('selected');$('#invitations_left').hide();$('#message').show();$('#invitations_left-fb').hide();$('#invitations_left-new').show();$('#invitations_right').show();return false;">Gmail, Hotmail, Yahoo! Mail<span>Invite friends via email import</span></a></li>
	<div class="clear"></div>
</ul>

<div id="primary-inner">

<div id="invitation">
	<div class="page-header"><h1>Invite friends and local experts to <%= link_to @trip.title, trip_path(@trip) %>!</h1>
		<h5><%= link_to display_user_name(@admins[0]), profile_for(@admins[0]) -%> is going to <%= shorten_trip_destination(@trip.destination.strip) -%></h5></div>
	
	<div class="clearfix"></div>
	
	<div class="inv-left">
	
	<div id="invitations_left-fb" style="display: none; width: 710px;">
		<h2 class="home">Invite Facebook friends</h2>
		<% if current_user.facebook_user? && fb_session %>
			<div id="fb-friends-checkbox">
				<div id="loading"><h4>Loading Facebook friends... <img src="/images/ajax-loader.gif"></h4></div>
			</div>
		
			<p id="announcement">Collaborators can add and modify travel ideas in this duffel. They won't have access to edit duffel settings.</p>
		<% else %>
			<div class="fb-button"><a href="#" id="fb-loginlink">&nbsp;</a></div>
		<% end %>
	</div>
	
	
	<div id="invitations_left">
		
		<% form_for(:invitation, :url => trip_create_invitation_path) do |f| %>
		
     		<h3 class="home">Invite Duffel Friends</h3>

			<div id="friends-checkbox">
			<%= render :partial => "friends_checkbox" %>
			</div>

			<div class="clearfix"></div>
		
			<div id="message">
				<h3 class="home">Optional Message</h3>
				<p><%= text_area_tag :message, nil, :rows => 6, :cols => 35, :style => "margin: 0;" %></p>
			</div>

			<p id="announcement">Collaborators can add and modify travel ideas in this duffel. They won't have access to edit duffel settings.</p>
	
			<div id="form-submit" class="clearfix"><%= submit_tag "Invite", :class => "btn btn-primary" %> or 
				<% if params[:new_duffel] == "true" %>
					<%= link_to "Skip this step &#187", trip_path(@trip) %>
				<% else %>
					<%= link_to "Go back to my duffel &#187", trip_path(@trip) %>
				<% end %>
			</div>
		<% end %>
	</div>
	
	<div id="invitations_left-new" style="display: none">
						
		<div id="contact_list_form">
		<%= render :partial => "webapps/contact_list_form"%>
		</div>
		
		<% form_for(:invitation, :url => trip_create_invitation_path) do |f| %>
			<div id="contact_list" style="margin: 5px 0 15px 0; max-height:350px; overflow:auto;">
			</div>
		
		<div id="message">
			<h2 class="home">Optional Message</h2>
			<p><%= text_area_tag :message, nil, :rows => 6, :cols => 35, :style => "margin: 0;" %></p>
		</div>

		<p id="announcement">Collaborators can add and modify travel ideas in this duffel. They won't have access to edit duffel settings.</p>

		<div id="form-submit" class="clearfix"><%= submit_tag "Invite", :class => "btn btn-primary", :onclick => "pageTracker._trackEvent('Email Import', 'submit', '#{current_user.username}');" %> or 
		<% if params[:new_duffel] == "true" %>
			<%= link_to "Skip this step &#187", trip_path(@trip) %>
		<% else %>
			<%= link_to "Go back to my duffel &#187", trip_path(@trip) %>
		<% end %></div>
		<% end %>
	</div>
		
	</div>
	
	<div id="invitations_right">
		<div class="invitation_right-import" style="width:180px;padding-bottom:0;margin-right:-10px">
		<h4 class="home">Invite via Email <br/><span class="mute"><small>Use &nbsp;&nbsp;;&nbsp;&nbsp; to separate emails.</small></span></h4>
		<% form_for(:invitation, :url => trip_create_invitation_path, :html => {:style => "width:190px"}) do |f| %>
		<%= text_field_tag :emails, nil, :class => "span2" %>
		<%= text_area_tag :message, nil, :rows => 6, :cols => 35, :style => "display:none;" %>
		<%= submit_tag "Invite", :class => "btn btn-mini" %>
		<% end %>
		</div>
		
      <h4 class="home">Collaborators (<%= @users.size %>)</h4>
		<%=  render :partial => "invitation_list" %>
	</div>
	
	<div class="clear"></div>
	
</div>
</div>
<% else %>
	<h3>Sorry!  You are not invited or do not have permission to invite others to this duffel.</h3>
<% end %>
