<%= error_messages_for :invitation %>

<% if @users.include?(current_user) %>

<ul class="tabnav" style="margin-bottom: 20px;">
	<li id="tb1" class="selected"><a href="#invitations_left" onclick="window.location.hash = '#invitations_left'; $('tb1').addClassName('selected'); $('tb2').removeClassName('selected');$('tb4').removeClassName('selected');$('invitations_left').show();$('message').show();$('invitations_left-fb').hide();$('invitations_left-new').hide();$('invitations_right').show();return false;">Duffel<span>Invite Duffel friends</span></a></li>
	<li id="tb2" style="background: url(/images/social/facebook-32x32.png) no-repeat 20px center; padding-left: 62px"><a href="#invitations_left-fb" onclick="window.location.hash = '#invitations_left-fb'; $('tb2').addClassName('selected'); $('tb1').removeClassName('selected');$('tb4').removeClassName('selected');;$('invitations_left').hide();$('message').hide();$('invitations_left-fb').show();$('invitations_left-new').hide();$('invitations_left-email').hide();$('invitations_right').show();return false;">Facebook<span>Invite Facebook friends</span></a></li>
	<li id="tb4"><a href="#invitations_left-new" onclick="window.location.hash = '#invitations_left-new'; $('tb4').addClassName('selected'); $('tb2').removeClassName('selected');$('tb1').removeClassName('selected');$('invitations_left').hide();$('message').show();$('invitations_left-fb').hide();$('invitations_left-new').show();$('invitations_right').show();return false;">Gmail, Hotmail, Yahoo! Mail<span>Invite friends via email import</span></a></li>
	<div class="clear"></div>
</ul>

<div id="invitation"> <img src="/images/icon-duffel.gif" alt="cityname" class="img_city_top" />
	<h1>Invite local experts or friends to collaborate on <%= link_to @trip.title, trip_path(@trip) %>!<span><%= link_to display_user_name(@admins[0]), profile_for(@admins[0]) -%> is going to <%= shorten_trip_destination(@trip.destination.strip) -%></span></h1>
	
	<div class="clearfix"></div>
	
	<div class="inv-left">
	
	<div class="fb-friends-checkbox " id="invitations_left-fb" style="display: none; width: 625px;">
		<h2 class="home">Invite Facebook friends</h2>
	<% if current_user.facebook_user? && facebook_session %>
		
		<% fb_serverfbml do %>
		<script type="text/fbml">
		<fb:fbml>
		
		<% content_for("invite_user") do %>
		<%= @fb_string + " #{fb_req_choice('Recommend Ideas', @fb_url)}" %>
		<% end %>
		
		<% fb_request_form("Duffel","invite_user", "#{trip_url(@trip)}", :method => "GET") do %>
			<%= fb_multi_friend_selector("Invite your friends to #{@trip.title}!", :showborder => false,
				:exclude_ids => facebook_session.user.friends_with_this_app.map(&:id).join(","), :condensed => false, 
				:cols => 4, :rows => 3, :email_invite => false, :bypass => "cancel") %>
		<% end %>
		
		</fb:fbml>
		</script>
		<% end %>
	<% else %>
		<%= fb_login_button "window.location='#{@fb_login_button_url}';", :perms => 'publish_stream,offline_access', :v => 2 %>
	<% end %>
	</div>
	
	
	<div id="invitations_left">
		
		<% form_for(:invitation, :url => trip_create_invitation_path) do |f| %>
			
			<div id="emails">
		
	  		<h2 class="home">Invite via Email <span class="mute"><small>- Please separate multiple emails with semi-colon ( ; )</small></span></h2>
			<p><%= text_field_tag :emails, nil, :size => 55, :style => "margin: 0;" %></p>
					
			</div>
		
			<h2 class="home" style="margin-left:200px">- or - </h2>
		
     		<h2 class="home">Invite Duffel Friends</h2>

			<div id="friends-checkbox">
			<%= render :partial => "friends_checkbox" %>
			</div>

			<div class="clearfix"></div>
		
			<div id="message">
				<h2 class="home">Optional Message</h2>
				<p><%= text_area_tag :message, nil, :rows => 6, :cols => 35, :style => "margin: 0;" %></p>
			</div>

			<p id="announcement">Collaborators can add and modify travel ideas in this duffel. They won't have access to edit duffel settings.</p>
	
			<div id="form-submit" class="clearfix"><%= submit_tag "Invite", :class => "submit" %> or 
				<% if params[:new_duffel] == "true" %>
					<%= link_to "Skip this step &#187", trip_path(@trip) %>
				<% else %>
					<%= link_to "Go back to my duffel &#187", trip_path(@trip) %>
				<% end %>
			</div>
		<% end %>
	</div>
	
	<div id="invitations_left-new" style="display: none">
						
		<div id="contact_list_form">
		<%= render :partial => "webapps/contact_list_form"%>
		</div>
		
		<% form_for(:invitation, :url => trip_create_invitation_path) do |f| %>
			<div id="contact_list" style="margin: 5px 0 15px 0; max-height:350px; overflow:auto;">
			</div>
		
		<div id="message">
			<h2 class="home">Optional Message</h2>
			<p><%= text_area_tag :message, nil, :rows => 6, :cols => 35, :style => "margin: 0;" %></p>
		</div>

		<p id="announcement">Collaborators can add and modify travel ideas in this duffel. They won't have access to edit duffel settings.</p>

		<div id="form-submit" class="clearfix"><%= submit_tag "Invite", :class => "submit", :onclick => "pageTracker._trackEvent('Email Import', 'submit', '#{current_user.username}');" %> or 
		<% if params[:new_duffel] == "true" %>
			<%= link_to "Skip this step &#187", trip_path(@trip) %>
		<% else %>
			<%= link_to "Go back to my duffel &#187", trip_path(@trip) %>
		<% end %></div>
		<% end %>
	</div>
		
	</div>
	
	<div id="invitations_right">
      <h2 class="home">Collaborators (<%= @users.size %>)</h2>
		<%=  render :partial => "invitation_list" %>
	</div>
	
	<div class="clear"></div>

	
<script type="text/javascript">
where = window.location.hash;

if(where=="#invitations_left-fb"){
	$('invitations_left').hide();
	$('message').hide();
	$('invitations_left-fb').show();
	$('invitations_left-new').hide();
	$('tb2').addClassName('selected'); $('tb1').removeClassName('selected');
}

</script>
	
</div>

<% else %>
	<h3>Sorry!  You are not invited or do not have permission to invite others to this duffel.</h3>
<% end %>