<% trips.each do |trip| %>
<dl>
    <dd class="photo-container"><a href="/trips/<%= trip.permalink %>"><img src="<%= duffel_thumbnail_url(trip) %>" alt="<%= trip.title %>" /></a></dd>

	<dt class="title">
		<%= link_to h(truncate(trip.title, :length => Trip::DASHBOARD_TITLE_TRUNCATE_SIZE)), trip_url(:id => trip) %>
	</dt>
	
	<dd class="details">
		<span>
		<% if favorite %>
			<strong><%= @favorites_count[trip.id.to_s].nil? ? 0 : @favorites_count[trip.id.to_s] %></strong> Faves,
		<% else %>
			<strong><%= @all_trips_favorite_count[trip.id.to_s].nil? ? 0 : @all_trips_favorite_count[trip.id.to_s] %></strong> Faves,
		<% end %>
		<strong><%= trip.comment_count %></strong> Comments
		</span>
	</dd>
	
	<dd class="action admin">
		<% if @users_by_trip_id[trip.id.to_s][0] == current_user %>
			<span class="edit"><a href="/trips/<%= trip.permalink %>/edit">Edit trip settings</a></span>
		<% end %>
		<% if @users_by_trip_id[trip.id.to_s].include?(current_user)%>
			<span class="invite"><a href="/trips/<%= trip.permalink %>/invite">Invite collaborators</a></span>
		<% end %>
	</dd>
	
	
	<dd class="destination"><em><%= h(truncate(shorten_trip_destination(trip.destination), :length => Trip::DASHBOARD_DESTINATION_TRUNCATE_SIZE)) %></em></dd>
    <dd class="date mute" style="padding-bottom:6px"><em><%= display_trip_dates(trip.start_date,trip.end_date) %></em></dd>
	

	<dd class="collaborators">
		<%= duffel_collaborators(@users_by_trip_id[trip.id.to_s], 8) %>
	</dd>
	
</dl>
<% end %>