<div class="notice-inline"><%= error_messages_for :trip, :header_message => "Please correct the errors below:", :message => nil %></div>

<script>
$(function() {
	function split( val ) {
				return val.split( /;\s*/ );
			}
			function extractLast( term ) {
				return split( term ).pop();
			}
	$('#trip_destination').autocomplete({
			source: function( request, response ) {
								$.getJSON( "/city/auto_complete", {
									term: extractLast( request.term )
								}, response );
							},
			minLength: 3,
			search: function(event,ui) {$('#indicator').show();},
			open: function(event,ui) {$('#indicator').hide();},
			focus: function() {
								// prevent value inserted on focus
								return false;
							},
			select: function( event, ui ) {
				var terms = split( this.value );
				// remove the current input
				terms.pop();
				// add the selected item
				terms.push( ui.item.value );
				// add placeholder to get the comma-and-space at the end
				terms.push( "" );
				this.value = terms.join( "; " );
				return false;
			}
		});
	});
</script>

<script>
$(function() {
	$( "#trip_start_date" ).datepicker(
		  { showOtherMonths: true,
		 	selectOtherMonths: true });
});
$(function() {
	$( "#trip_end_date" ).datepicker(
		  { showOtherMonths: true,
		 	selectOtherMonths: true,
		 	minDate: $.datepicker.parseDate('mm/dd/yy', $('#trip_start_date').val())});
	$('#trip_start_date').change(function(){
		$( "#trip_end_date" ).datepicker('option','minDate',$.datepicker.parseDate('mm/dd/yy', $('#trip_start_date').val()));
	})
});
</script>

<% if @new_page != true and !@trip.nil? %>
  <div id="trip-image-block" style="float: right; max-width: 300px; max-height: 400px; margin-bottom:10px">
	
	<% if !@trip.photo.size.nil? and @trip.photo.size != "" %>
		<div class="trip-photo">
			<%= image_tag(@trip.photo.url(:small), :class => "image", :style => "max-width: 300px; max-height: 300px;") %>
		</div>
	<% else %>
		<% unless @trip.photo_file_name.nil? %>
			<div class="trip-photo">
				<%= image_tag(@trip.photo_file_name.gsub("_s.jpg", "_m.jpg"), :class => "image") %>
				<br/>Photo courtesy of Flickr
			</div>
		<% end %>
	<% end %>

	<div id="new_image">
		<label for="photo">Attach a Picture:</label>
		<%= form.file_field :photo, :size => 18 %>
	</div>
  </div>
<% end %>


<div class="form-group">
<label for="title">Duffel Name:</label>
<%= form.text_field :title, :size => 36 %>
</div>

<div class="form-group">
	<label for="destination">Destination:<span id="indicator" style="display:none;"><img src="/images/ajax-loader.gif"></span></label>
	<%= form.text_field :destination, :value => params[:city] %>
	<span class="help-block" style="padding:0">Use semi-colon (;) to separate multiple cities.</span>
</div>

<div class="form-group">
	<label for="start_date">Dates: <span class="hint" style="padding:0">(optional)</span></label>

<%= form.text_field :start_date, :class => "span2", :placeholder => "Start date" %> <i onclick="$('#trip_start_date').datepicker('show');" class="icon-calendar" style="cursor:pointer">&nbsp;</i>

<%= form.text_field :end_date, :class => "span2", :placeholder => "End date" %> <i onclick="$('#trip_end_date').datepicker('show');" class="icon-calendar" style="cursor:pointer">&nbsp;</i>

</div>


<div class="form-group">
	<label for="is_public" style="padding:0;">Privacy Setting:</label>
	<%= form.radio_button 'is_public', '0' %> Only people I invite &nbsp;&nbsp;
<% if @new_page == true %> 
	<%= form.radio_button 'is_public', '1', :checked => true %> Anyone can view this trip 
<% else %>
	<%= form.radio_button 'is_public', '1' %> Anyone can view this trip 
<% end %>
</div>

<script>
$('#trip_start_date').val($.datepicker.formatDate('mm/dd/yy', $.datepicker.parseDate('yy-mm-dd', $('#trip_start_date').val())));
$('#trip_end_date').val($.datepicker.formatDate('mm/dd/yy', $.datepicker.parseDate('yy-mm-dd', $('#trip_end_date').val())));
</script>
