<div id="content" style="width:100%;left:0">
	<div id="board_events" style="width:50%;">
		<% unless @trip.start_date.nil? or @trip.end_date.nil? %>
		<div class="divider"><h2>My Ideas & Notes</h2></div>
		<% end %>
		<%= render :partial => 'events/board_events' %>
		
		<% unless @trip.start_date.nil? or @trip.end_date.nil? %>
			<% (@trip.duration+1).times do |day| %>
		
				<div class="divider"><h2><span class="day">Day <%= day+1 %></span> <span class="date"><%= (@trip.start_date + day).strftime("%A, %B %d") %></span></h2></div>
				<%= render :partial => 'events/scheduled_board_events', :locals => { :day => day } %>
			
			<% end %>
		<% end %>
		
	</div>
</div>

<div id="event_details">
	<%= render :partial => "events/trip_event_details", :locals => { :event => @itinerary[0][0] } %>
</div>

<div id="map_wrapper">
	<div class="map-link clearfix"><span id="map-title" class="map-title">Map Overview</span>
		<a href="<%= trip_url(:id => @trip, :view => 'map') %>">View larger map &raquo;</a></div>
	<div id="board_gmap" class="corkboard" style="display:block;width:95%;height:90.5%;"></div>
</div>

<div id="comments_wrapper">
	<%= render :partial => "comments/trip_comments" %>
</div>

<% if !@city[0].nil? and false %>
<div id="footer-promotions" style="width:100%;left:0;" class="clearfix" onmouseover="<%= remote_function(:loading => "$('deals-spinner').show();", :complete => "$('deals-spinner').hide();", :url => { :controller => :trips, :action => :get_deals, :permalink => @trip.permalink }) %>;this.onmouseover=null;">
	<div class="title">
		<img style="vertical-align:middle;margin-right:8px" src="/images/icon-pointer.png"/>Mouse over here to see today's travel deals for <%= @city[0].city.blank? ? @city[0].city_country : @city[0].city %> 
		<span id="deals-spinner" style="display:none;"><img style="vertical-align:middle;margin-left:15px" src="/images/ajax-loader-drk-bg.gif">
	</div>
	<ul class="deals">
		<div id="deals_feed"></div>
		<li style="float:right;font-size:12px;color:#888;margin-right:50px;position:absolute;bottom:28px;right:30px;">Tip: <a style="color:#ccc;margin:0" href="/user/dashboard?tab=deals">Follow these deals on your dashboard</a></li>
		<li style="float:right;font-size:11px;color:#888;margin-right:50px;position:absolute;bottom:8px;right:30px;">Deals by BookingBuddy. Taxes, fees not included.</li>
	</ul>
</div>
<% end %>