<div id="content">
	<div id="board_events">
		<div class="divider"><h2>My Ideas & Notes</h2></div>
		<%= render :partial => 'events/board_events' %>
		
		<% unless true or (@trip.start_date.nil? or @trip.end_date.nil?) %>
			<% (@trip.duration+1).times do |day| %>
		
				<div class="divider"><h2><span class="day">Day <%= day+1 %></span> <span class="date"><%= (@trip.start_date + day).strftime("%A, %B %d") %></span><hr/></h2></div>
				<%= render :partial => 'events/scheduled_board_events', :locals => { :day => day } %>
			
			<% end %>
		<% end %>
		
	</div>
</div>

<div id="event_details">
	<% unless @itinerary.flatten.first.nil? %>
	<script type="text/javascript"> 
		// highlight first element
	  	var last_highlighted_element = $('list_<%= @itinerary.flatten.first.list %>_<%= @itinerary.flatten.first.id %>').down(0);
	  	last_highlighted_element.className += ' highlighted';
	</script>
	<%= render :partial => "events/trip_event_details", :locals => { :event => @itinerary.flatten.first } %>
	<% end %>
</div>

<!--
<div id="comments_wrapper">
	<%= render :partial => "comments/trip_comments" %>
</div>
-->

<div id="itinerary-header" class="clearfix">
	<%= render :partial => 'trips/itinerary_header' %>
</div>

<div id="sidebar">
        <% if @trip.start_date.nil? or @trip.end_date.nil? %>
                <% unless @users.include?(current_user) %>
                        <p class="message"><%= display_user_name(@admins[0]) %> has not built the itinerary, yet.</p>
                <% else %>
                        <p class="message"><%= link_to "Pick a date range", edit_trip_path(:id => @trip.permalink) %> and drag & drop your activities here.</p>
                <% end %>
        <% else %>                      
        <div id="itinerary">
                <% (@trip.duration+1).times do |day| %> 
                        <div id="itinerary_day_<%= day+1 %>" class="clear">
                        <%= render :partial => 'events/scheduled_events', :locals => { :day => day, :map => false } %>
                        </div>
                <% end %>
        </div>
        <% end %>
        
</div>

<div id="map-preview">
	<div class="map-link clearfix"><span id="map-title" class="map-title">Map Overview</span>
		<a href="<%= trip_url(:id => @trip, :view => 'map') %>">Larger Map &raquo;</a></div>
	<div id="board_gmap" class="corkboard" style="display:block;width:222px;height:170px;margin:3px 8px;"></div>
</div>
