<div id="content" style="width:100%;left:0">
        <div id="board_events" style="width:50%;">
                <div class="divider clearfix"><h2 style="float:left">My Ideas & Notes</h2>
					<% if logged_in? and @users.include?(current_user) %>
					<div id="slider-wrapper">
						<span id="caption"><big>&larr;</big>Slide to toggle</span>
						<form id="slida" action="/trips/<%=@trip.permalink%>">
							<fieldset>
								<input type="checkbox" name="state"/><label>Guest View</label>
								<button type="submit">Submit</button>
							</fieldset>
						</form>
					</div>
					<% end %>
				</div>
                <%= render :partial => 'events/board_events' %>
                
                <% unless @trip.start_date.nil? or @trip.end_date.nil? %>
                        <% (@trip.duration+1).times do |day| %>
                
                                <div class="divider"><h2><span class="day">Day <%= day+1 %></span> <span class="date"><%= (@trip.start_date + day).strftime("%A, %B %d") %></span><hr/></h2></div>
                                <%= render :partial => 'events/scheduled_board_events', :locals => { :day => day } %>
                        
                        <% end %>
                <% end %>
                
        </div>
</div>

<div id="event_details" style="right: 305px">
        <% unless @itinerary.flatten.first.nil? %>
		<script type="text/javascript"> 
			// highlight first element
		  	var last_highlighted_element = $('list_<%= @itinerary.flatten.first.list %>_<%= @itinerary.flatten.first.id %>').down(0);
		  	last_highlighted_element.className += ' highlighted';
		</script>
        <%= render :partial => "events/trip_event_details", :locals => { :event => @itinerary.flatten.first } %>
        <% end %>
</div>

<div id="map_wrapper">
        <div class="map-link clearfix"><span id="map-title" class="map-title">Map Overview</span>
                <a href="<%= trip_url(:id => @trip, :view => 'map') %>">View larger map &raquo;</a></div>
        <div id="board_gmap" class="corkboard" style="display:block;width:95%;height:89.5%;"></div>
</div>

<div id="comments_wrapper">
        <%= render :partial => "comments/trip_comments" %>
</div>
