<h2>Already on Duffel - Add as Friend:</h2>

<ul class="user-list">
<% for u in @users %>
	<li class="user">
	<div class="avatar"><%= display_thumbnail(u) %></div>
	<%= check_box_tag "friend_invitation[]", u.username, true %>
	<%= display_user_name(u) %>
	</li>
<% end %>
</ul>

<div class="clear"><p>&nbsp;</p></div>

<h2 style="padding-top: 25px;">Invite others:</h2>
<ul>
<% for u in @not_users %>
	<li>
		<p style="line-height:13px"><input style="margin: 0;" type="checkbox" name="beta_invitation[recipient_email][]" id="email_<%= u %>" value="<%= u[:email] %>" />
		<%= u[:name] %></p>
		<p style="line-height:13px">&nbsp;&nbsp;&nbsp;&nbsp;<strong class="t11 mute"><%= u[:email]%></strong></p>
	</li>
<% end %>
</ul>