<h1>Add to Duffel</h1>

<!-- Flash accepts id="notice", id="warning", and id="error" -->
<% flash.each do |key, msg| -%>
  <%= content_tag :p, msg, :id => key -%>
<% end -%>

<div id="container">
	<div class="box">
	<% form_for(:event, :url => research_url(:trip_permalink => params[:permalink], :jump => params[:jump], :local => params[:local])) do |form| %>
	  <%= form.error_messages %>

		<%= render :partial => "events/partial_forms/generic_idea_form", :locals => { :form => form } %>

		<p id="submit">
		<% if params[:local] == "true" %>
		<%= form.submit "Add to Duffel", :name => "_submit_button", :onclick => "pageTracker._trackEvent('Duffel', 'copy-idea', '#{@event_id}-#{params[:event_title]}');" %>
		<% elsif params[:from_map] == "true" %>
		<%= form.submit "Add to Duffel", :name => "_submit_button", :onclick => "pageTracker._trackEvent('Duffel', 'add-idea', 'google-map');" %>
		<% else %>
			<% unless @trips.empty? %>
				<%= form.submit "Add to Duffel", :name => "_submit_button", :onclick => "pageTracker._trackEvent('Bookmarklet', 'add-idea', 'external-site');" %>
			<% else %>
				<%= form.submit "Add to Duffel", :name => "_submit_button", :onclick => "pageTracker._trackEvent('Bookmarklet', 'add-idea', 'external-site');", :disabled => true %>
			<% end %>
		<% end %>
		
		<% unless params[:local] == "true" %>
		&nbsp;&nbsp;&nbsp;<input type="button" value="Cancel" onclick="window.location.href='/close.html'">
		<% end %>
		
		<% unless params[:local] == "true" or @trips.empty? %>
			<span class="right" style="margin-top:4px;font-size:0.9em"><a target="_blank" href="/trips/<%= @trips[0].permalink %>">See my clipped notes &raquo;</a></span>
		<% end %>
		</p>
	<% end %>
	</div>
</div>

	