<div id="comments_for_trip_<%= @trip.id %>" style="width:70%"> 
  <%= render :partial => "comments/comment", :collection => @trip.comments %> 
</div>

<% if logged_in? %>
  <div id="new_comment_form_for_trip_<%= @trip.id %>" class="new-comment"> 
		<div class="comment-avatar"><%= link_to display_thumbnail(current_user), profile_for(current_user), :alt => display_thumbnail_title(current_user.username, current_user.full_name, current_user.home_city), :title => display_thumbnail_title(current_user.username, current_user.full_name, current_user.home_city) %><br />	
		</div>
	<%= render :partial => 'comments/new' %>
  </div> 
<% else %>
	<p>Please <%= link_to "sign in", login_url(:redirect => request.request_uri) %> or</p>
	<div class="fb-button"><a href="#" id="fb-loginlink">&nbsp;</a></div>
<% end %>