<h2><img height="13" style="float:left;padding-right:5px" src="/images/icon-comment.png"/>Comments (<%= @trip_comments_size %>)</h2>
<div id="CommentsContentsInner">
	<div id="comments_for_trip_<%= @trip.id %>">
		<% if @trip_comments_size.to_i > Trip::NUM_OF_COMMENTS_TO_SHOW %>
			<div id="hidden_comments_for_trip" style="display:none;">
			<%= render :partial => "comments/comment", :collection => @trip.comments[0..(@trip_comments_size.to_i-Trip::NUM_OF_COMMENTS_TO_SHOW+1)] %>
			</div>
			<a onclick="$('hidden_comments_for_trip').show();$(this).hide();return false;" href="#" class="more-comments">See all <%= @trip_comments_size %> comments...</a>
			<%= render :partial => "comments/comment", :collection => @trip.comments[(@trip_comments_size.to_i-Trip::NUM_OF_COMMENTS_TO_SHOW)..(@trip_comments_size).to_i] %> 
		<% else %>
			<%= render :partial => "comments/comment", :collection => @trip.comments %> 
		<% end %>
		
		<% if @trip_comments_size.to_i == 0 %>
			<p style="color:#555">Be first to leave a comment!</p>
		<% end %>
	</div>
</div>

<div id="CommentsContentsBottom">
	
	<% if logged_in? %>
		<% remote_form_for(:comment, :url => trip_comments_path(@trip), :complete => "$(\'#{@trip.id}_comment_textarea\').value=\'\';") do |form| %> 
			<div class='comment-avatar'>
				<%= link_to display_thumbnail(current_user), profile_for(current_user), :alt => "This is you!", :title => "This is you!" %>
			</div>
			<div class='comment-form'>
				  <%= form.text_area :body, :id => "#{@trip.id}_comment_textarea", :cols => '20', :rows => '3' %>
				  <div class="comment-btn">
					<%= submit_tag "POST", :class => 'submit' %>
				  </div> 
			</div>
		<% end %>
	<% else %>
		<div class="fb-button" style="text-align:center"><%= fb_login_button "window.location='/users/link_user_accounts/?redirect=#{request.request_uri}#comments';", :perms => 'publish_stream,offline_access' %></div>
		<p style="padding:10px 5px 0 0;margin:0;color:#555;font-size:12px;">or
		&nbsp;&nbsp;<a href="/login?redirect=<%= request.request_uri %>">Sign In</a> to &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;comment.
		</p>

	<% end %>
<!--
		<h2>Favorites (<%= @trip.favorites.size %>)</h2>
		<div class="friends-list" style="min-height:30px;">
			<% if @trip.favorites.size == 0 %>
				<%- unless @users.include?(current_user) -%>
				<p>Like this duffel? Be the first to <%= link_to 'favorite it', trip_create_favorite_path(@trip.permalink) %>.</p>
				<% else %>
				<p>Get others excited by 
					<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=duffel" class="addthis_button">sharing it</a>.</p>
				<%- end -%>
			<% else %>
			<ul>
		  	<% @trip.favorites.each_with_index do |fav,i| %>
				<% break if i== 15 %>	
				<li><a href="<%= profile_url(fav.user.username) %>" title="<%=display_thumbnail_title(fav.user.username, fav.user.full_name, fav.user.home_city)%>" alt="<%=display_thumbnail_title(fav.user.username, fav.user.full_name, fav.user.home_city)%>" ><%= display_thumbnail(fav.user, { :width => "25" }) %></a></li>
			 <% end %>
			</ul>
			<% end %>
		</div>
-->
</div>