<h1>Listing landmarks for <%= @city.city %> (id = <%= @city.id %>)</h1>

<% for landmark in @landmarks %>

		<p>
		  <strong>Title:</strong> <%= landmark.name %>
		</p>
		<p>
			<strong>Address:</strong> <br/><%= landmark.address %>
		</p>
		<p>
		  <strong>Description:</strong> <%= landmark.description %>
		</p>
		<p>
		  <strong>Fun Facts:</strong> <%= landmark.fun_facts %>
		</p>
		<p>
		  <strong>Tips:</strong> <%= landmark.tips %>
		</p>
		<p>
		  <strong>lat:</strong> <%= landmark.lat %>
		</p>
		<p>
		  <strong>lng:</strong> <%= landmark.lng %>
		</p>
		<p><strong>Map to check lat,lng</strong>
			<img src="http://maps.google.com/maps/api/staticmap?center=<%=landmark.lat%>,<%=landmark.lng%>&zoom=16&size=400x300&sensor=false&markers=color:blue|<%=landmark.lat%>,<%=landmark.lng%>">
		</p>
    <% if landmark.stamp %>
	<p>
      <strong>Stamp name:</strong> <%= landmark.stamp.name %>
    </p>
    <p>
      <strong>Stamp image url:</strong> <%= landmark.stamp.image_url %>
    </p>
	<% else %>
	<p>No stamp attached to this landmark.  Please  <%= link_to 'Edit', edit_city_landmark_path(@city, landmark) %> and add stamp.</p>
	<% end %>
	
    <%= link_to 'Show', [@city, landmark] %> |
    <%= link_to 'Edit', edit_city_landmark_path(@city, landmark) %> |
    <%= link_to 'Destroy', [@city, landmark], :confirm => 'Are you sure?', :method => :delete %>

<% end %>


<br/><br/>

<%= link_to 'New landmark', new_city_landmark_path(@city) %>
