<% if @friend %>
<h3><%= link_to(display_user_name(@friend), profile_for(@friend)) -%> has <%= pluralize(@duffelers.total_entries, 'friend') -%>.</h3>
<% else %>
<h2 class="home"><%= pluralize(@duffelers.total_entries, 'user') %> found:</h2>
<% end %>

<%= will_paginate @duffelers, :inner_window => 2, :outer_window => 0 -%>

<ul class="user-list unstyled">
<%- @duffelers.each do |user| -%>
	<li class="user">
		<div class="avatar"><%= link_to display_thumbnail(user), profile_for(user) %></div>
		<p><%= link_to display_user_name(user), profile_for(user) %> </p>
		<p class="hometown mute"><%= user.home_city unless (user.home_city.nil? or user.home_city.empty?) %></p>

	</li>
<%- end -%>
</ul>

<div class="clear"></div>

<%= will_paginate @duffelers, :inner_window => 2, :outer_window => 0 -%>

<style type="text/css">
.pagination a {
	line-height: 12px;
	padding: 4px 6px;
}
</style>