<noscript>
  <div id="announcement">
  <div class="javascript_disabled_notification">
    <div class="inner">
      <h1>You need to enable Javascript in your web browser!</h1><br />
      <p>Duffel requires a browser feature called <strong>JavaScript</strong> for everything to work correctly.</p>
      <p>Please see: <a href="http://www.google.com/support/bin/answer.py?answer=23852">How to enable JavaScript in your browser</a>.</p>
      <p>Once you've enabled JavaScript you can <a href="">try loading this page again</a>.</p>
    <p>-- Duffel Team</p>
    </div>
  </div>
  </div>
</noscript>

<%= render :partial => "announcements/announcements" unless current_announcements.empty? -%> 

<% if logged_in? and (current_user.email.nil? or current_user.email.blank?) %>
<div id="announcement" style="border: 3px solid #e0e0e0">
<h3>Hi there! We picked a username for you - <%= current_user.username %></h3>
<p>You can change it anytime. Please take a few seconds to <a href="/user/edit">update your profile</a> so we can give you a better Duffel experience.</p>
</div>
<% end %>

<div id="primary-inner" class="dashboard">

  <div id="sidebar-profile">

    <div id="userProfile" style="padding-bottom:1px">
      <div class="avatar">
        <a href="/<%= current_user.username %>"> <%= display_thumbnail(current_user) %></a>
      </div>
      <div class="profile">
        <h4><%= link_to display_user_name(current_user), profile_url(current_user.username) %></h4>
        <cite style="color:#999;"><%= current_user.home_city.gsub(", United States", "") unless current_user.home_city.nil? %></cite>
        <% if founding_member?(current_user) %><cite style="color:#FFD700;">Founding Member</cite><% end %>
		<span class="edit-link" style="float:left;margin-top:5px;"><%= link_to "Edit", edit_user_url %></span>
      </div>

		<div id="userStats" style="padding-top:0px;text-transform: uppercase;font-size:1.1em;clear:both">
	     <dl>
	        <dt>User Stats</dt>
			<dd><%= current_user.events.count.to_s %> Ideas · <%= current_user.trips.count.to_s %> Duffels</dd>
			<!--<dd><%= pluralize(@total_favorite_count, "Person")%> Faved Your Duffels</dd>-->
	      </dl>
	    </div>
    </div> <!-- #userProfile -->


<%- if @duffel_of_the_month -%>
	<% cache("dashboard-featured-duffel") do %>
    <div id="featuredUser">
      <h2>Featured Duffels</h2>
      <div class="avatar">
       	<% if !@duffel_of_the_month.trip.photo.size.nil? and @duffel_of_the_month.trip.photo.size != "" %>
		<span><a href="<%=trip_path(@duffel_of_the_month.trip)%>"><img max-width="240" src="<%= @duffel_of_the_month.trip.photo.url(:small) %>" class="duffel-image" /></a></span>
		<% elsif !@duffel_of_the_month.trip.photo_file_name.nil? %>
		<span><a href="<%=trip_path(@duffel_of_the_month.trip)%>"><img max-width="240" src="<%=@duffel_of_the_month.trip.photo_file_name.gsub("_s.jpg", "_m.jpg") %>" class="duffel-image" /></a></span>
		<% end %>
      </div>
      <div class="profile">
        <em><a href="<%=trip_path(@duffel_of_the_month.trip)%>"><%=truncate(@duffel_of_the_month.trip.title, :length => 28)%></a></em>
        <cite style="font-size:12px;color:#888"><%= @duffel_of_the_month.trip.destination.split(";")[0] %></cite>
		<cite style="margin-top:5px">
			<small><span style="display:inline;padding:5px 5px 0 5px"><i class="icon-heart"></i> <%=pluralize(@duffel_of_the_month.trip.favorites.size, "Fave")%></span>
			<span style="display:inline;padding:5px 5px 0 0"><i class="icon-comment"></i> <%=pluralize(@duffel_of_the_month.trip.comments.size, "Comment")%></span> </small>
		</cite>
      </div>
      <div class="description">
		<span style="font-size:12px; padding-top:5px">
 
		Organized by <a href="/<%= @duffel_of_the_month.trip.admins[0].username %>"> <%= @duffel_of_the_month.trip.admins[0].username %></a>
		<% if @duffel_of_the_month.trip.users.count > 1 %>
			and <%= pluralize(@duffel_of_the_month.trip.users.count, "other tripgoer") %>
		<% end %>

		</span>
		<span><a style="color:#F20063" href="/featured">View more &raquo;</a></span>

      </div>
    </div> <!-- #featuredUser -->
	<% end %>
<%- end -%>

	<% unless @requested_friends.empty? %>
	<div class="section" id="friends-request">
		<%= render :partial => 'profile/requested_friends' -%>
	</div>
	<% end %>

 	<div id="friends">
      <h2>Friends</h2>
      <ul>
		<% @friends.each_with_index do |f,i| %>
			<% break if i== 16 %>
			<li><%= link_to display_thumbnail(f), profile_for(f), :title => display_thumbnail_title(f.username, f.full_name, f.home_city) %></li>
		<% end %>
		<% if @friends.size >= 16 %>
			<div class="clearfix"></div>
			<%= link_to "View all &raquo;", {:controller => "users", :action => "search", :q => "friend:#{current_user.username}"}, :style => "margin-top:5px" %>
		<% end %>
      </ul>
    </div> <!-- #friends -->

	<!-- <h4 style="margin-top:15px;">Places you're following</h4>
	<div id="travelDeals">
		<%= render :partial => 'users/dashboard_partials/following_cities' %>
	</div> -->

	<!-- <div style="margin: 20px 0">
		<a href="http://itunes.apple.com/app/id371064516" target="_blank" alt="Duffel Up and Go iPhone App" title="Duffel Up and Go iPhone App"><img src="/images/iphone_banner.jpg" style="width:210px"></a>
	</div> -->
    
  </div> <!-- #sidebar-profile -->

  <div id="mainContent">
	
	<% if params[:tab] == "updates" %>	
		<%= render :partial => 'users/dashboard_partials/recent_updates' %>
	<% elsif params[:tab] == "likes" or params[:tab] == "duffels-faves" or params[:tab] == "duffels-active" %>
		<%= render :partial => 'users/dashboard_partials/my_duffels' %>
	<% else %> <!-- by default goes to updates tab -->
		<%= render :partial => 'users/dashboard_partials/recent_updates' %>
	<% end %>


    <div id="exploreDestinations">
      <h2>Popular Destinations <span class="right t15"><%= link_to "Browse More &raquo;</strong>", '/explore' %></span></h2>
      <ul class="unstyled">
        <li>
          <dl>
            <dd><a href="<%= na_city_url(:country_code => "US", :region => "NY", :city => "new-york")%>"><%= image_tag "cities/85x85/new-york.jpg", :class => "image1" %></a></dd>
            <dt><a href="<%= na_city_url(:country_code => "US", :region => "NY", :city => "new-york")%>">New York</a></dt>
          </dl>
        </li>
        <li>
          <dl>
            <dd><a href="<%= na_city_url(:country_code => "US", :region => "CA", :city => "san-francisco")%>"><%= image_tag "cities/85x85/san-francisco.jpg" %></a></dd>
            <dt><a href="<%= na_city_url(:country_code => "US", :region => "CA", :city => "san-francisco")%>">San Francisco</a></dt>
          </dl>
        </li>
        <li>
          <dl>
            <dd><a href="<%= na_city_url(:country_code => "US", :region => "CA", :city => "los-angeles")%>"><img src="../images/cities/85x85/los-angeles.jpg"/></a></dd>
            <dt><a href="<%= na_city_url(:country_code => "US", :region => "CA", :city => "los-angeles")%>">Los Angeles</a></dt>
          </dl>
        </li>
        <li>
          <dl>
            <dd><a href="<%= city_url(:country_code => "GB", :city => "london")%>"><img src="../images/cities/85x85/london.jpg"/></a></dd>
            <dt><a href="<%= city_url(:country_code => "GB", :city => "london")%>">London</a></dt>
          </dl>
        </li>
		<li>
          <dl>
            <dd><a href="<%= city_url(:country_code => "FR", :city => "paris")%>"><img src="../images/cities/85x85/paris.jpg"/></a></dd>
            <dt><a href="<%= city_url(:country_code => "FR", :city => "paris")%>">Paris</a></dt>
          </dl>
        </li>
      </ul>
    </div> <!-- #exploreDestinations -->

	<% unless @blog_rss.nil? %>
    <div id="newsfeed">
      <h2>News from Our Blog</h2>
      <ul>
        <li class="display">
          <dl>
            <dd><a href="<%= @blog_rss.items[0].link %>" target="_blank"><%= @blog_rss.items[0].title %></a> <cite><%= distance_of_time_in_words(@blog_rss.items[0].pubDate,Time.now) %> ago</cite></dd>
            <dd><a href="<%= @blog_rss.items[1].link %>" target="_blank"><%= @blog_rss.items[1].title %></a> <cite><%= distance_of_time_in_words(@blog_rss.items[1].pubDate,Time.now) %> ago</cite></dd>
            <dd><a href="<%= @blog_rss.items[2].link %>" target="_blank"><%= @blog_rss.items[2].title %></a> <cite><%= distance_of_time_in_words(@blog_rss.items[2].pubDate,Time.now) %> ago</cite></dd>
          </dl>
        </li>
      </ul>
    </div><!-- #newsfeed -->
	<% end %>

  </div> <!-- #mainContent -->

</div> <!-- #primary-inner -->

