<h1>Editing featured_duffel</h1>

<% form_for(@featured_duffel) do |f| %>
  <%= f.error_messages %>

	<div class="form-group">
		<label for="title">Title:</label>
		<%= f.text_field :title %>
	</div>
	
	<div class="form-group">
		<label for="username">Username:</label>
		<%= text_field_tag :username, @featured_duffel.user.username %>
	</div>
	
	<div class="form-group">
		<label for="trip">Trip Permalink:</label>
		<%= text_field_tag :permalink, @featured_duffel.trip.permalink %>
	</div>
	
	<div class="form-group">
		<label for="destination">What city? (please enter one):<span id="indicator" style="display:none;"><img src="/images/ajax-loader.gif"></span></label>
		<%= text_field_with_auto_complete :featured_duffel, :city_country,  { :size => 36 }, { :indicator => "indicator", :frequency => ".1", :min_chars => "3" } %>
  	</div>
	
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @featured_duffel %> |
<%= link_to 'Back', featured_duffels_path %>
