<h1>New check_in</h1>

<% form_for(@check_in, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :lat %>
    <%= f.text_field :lat %>
  </p>
  <p>
    <%= f.label :lng %>
    <%= f.text_field :lng %>
  </p>

    <p>
      <%= label :event, :trip_id %>
      <%= text_field :event, :trip_id %>
    </p>
    <p>
      <%= label :event, :title %>
      <%= text_field :event, :title %>
    </p>
    <p>
      <%= label :event, :photo %>
      <%= file_field :event, :photo %>
    </p>
	<p>
		<%= label :event, :note %>
	    <%= text_area :event, :note %>
  	</p>
	<p>
    	<%= f.submit "Create" %>
  	</p>
<% end %>

<%= link_to 'Back', check_ins_path %>
