<% if event.eventable_type == "CheckIn" %>
<span id="idea-label" class="check_in">Photo Spot</span>
<% elsif event.eventable_type == "Activity" %>
<span id="idea-label" class="activity">Activity</span>
<% elsif event.eventable_type == "Foodanddrink" %>
<span id="idea-label" class="foodanddrink">Food &amp; Drink</span>
<% elsif event.eventable_type == "Hotel" %>
<span id="idea-label" class="lodging">Lodging</span>
<% end %>

<span id="paginate"><%= link_to_remote "Next", :url => "/events/show/", :method => :get %></span>

<div id="event_details_content">
	<% if !event.title.nil? or !event.title.empty? %>
	<h3><%= display_title_with_link(event, 75) %></h3>
	<% end %>

	<% if event.photo? %>
	<div id="photo_container">
		<% if event.eventable_type == "CheckIn" %>
		<img class="photo check_in" src="<%= get_image_url(event, 'large') %>"/>
		<% else %>
		<img class="photo" src="<%= get_image_url(event, 'large') %>"/>
		<% end %>
	</div>
	<% end %>

	<%= simple_format(h(event.note)) %>
	
	<% if !event.lat.nil? and !event.lng.nil? %>
	<h4><img height="13" style="float:left;padding-right:5px" src="/images/icon-placemark.png"/>Location</h4>
	<img class="map" src="<%= build_static_map_url(event) %>">
	<% end %>
</div>