<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"> 
<head> 
	<title><%= @title %></title> 
	<%= stylesheet_link_tag "style", :media => :all %>
	<%= stylesheet_link_tag "bootstrap", :media => :all %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
	<script src="/javascripts/jrails.js" type="text/javascript"></script>
	<%= javascript_include_tag 'bootstrap.min' %>
	<%= javascript_include_tag 'application' %>
	
<!--[if IE 7]>
<link href="/stylesheets/ie7.css" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
	
	<script src="http://gmaps-utility-library.googlecode.com/svn/trunk/mapiconmaker/1.1/src/mapiconmaker.js" type="text/javascript"></script>
	<script type="text/javascript" 
			src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= GeoKit::Geocoders::google %>">
	</script>
	<script type="text/javascript"> 
      var idea_to_map = <%= @event.to_json %>;
    </script>
	
	<meta name="description" content="<%= @meta_description %>" />
	<link rel="image_src" href="<%= @link %>" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="icon" type="image/png" href="/favicon.png">
</head> 

<body id="simple" onload="initialize_idea_map()" onunload="GUnload()">

	<%= render :partial => 'shared/header_nav', :locals => { :partner => false } %>

	<div id="event" class="container" style="margin-top:55px">

				<div class="sidebar">
					
					<% unless logged_in? %>
					<div id="call-to-action">
						<div class="clearfix">
							<div class="left" style="margin-right:10px">
								<a href="/<%= @author.username unless @author.nil? %>">
									<%= collaborator_thumbnail(@author, 80) %>
								</a>
							</div>
							<div class="pod clearfix">
								<a href="/<%= @author.username unless @author.nil? %>"><%= display_user_name(@author) %></a>
								<% if @author.nil? %>
								I'm
								<% else %>
								is
								<% end %>
								using Duffel to collect and organize travel ideas. Share your ideas and help others plan better trips.
							</div>
							<!--<strong>Download Duffel</strong>
							<a class="" href="">iPhone</a>-->
						</div>
					</div>
					<% end %>
					
					<div class="details row row-border">
						<% if @event.eventable_type == "Activity" or @event.eventable_type == "Hotel" or @event.eventable_type == "Foodanddrink" %>
						<div class="item vcard">
								<h2>About</h2>
									
								<%= "<p>" + (link_to "Go to website &raquo;", @event.website, :target => "_blank")+"</p>" unless @event.website.blank? %>
								<%= "<h3>Address</h3><p>" + map_link(h(@event.address), @event.address) + "</p>" unless @event.address.blank? %>
								<%= "<h3>Phone</h3>" + content_tag('p', h(@event.phone))  unless @event.phone.blank? %>
						</div>
						<% end %>
						
						<h2>Location</h2>
						<div id="gmap"></div>
					</div>
					
					<div class="details row row-border">	
						<h2>Share</h2>
						<!-- AddThis Button BEGIN -->
						<div class="addthis_toolbox addthis_default_style clearfix">
						<a class="addthis_button_facebook"></a>
						<a class="addthis_button_twitter"></a>
						<a class="addthis_button_gmail"></a>
						<a class="addthis_button_email"></a>
						<a class="addthis_button_compact"></a>
						<a class="addthis_counter addthis_bubble_style"></a>
						</div>
						<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
						<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=duffel"></script>
						<!-- AddThis Button END -->
					</div>
						
					<% if @other_ideas %>
					<div class="details row row-border">
					<h2>Other ideas in this duffel</h2>
						<% @other_ideas.each do |p| %>
						<div class="pin clearfix">
							<% if p.photo? %>
								<a class="ImgLink" href="<%= trip_idea_url(:permalink => p.trip.permalink, :id => p.id) %>">
								<img style="width:60px;height:60px;display:block;overflow:hidden;float:left;margin-right:5px;" alt="<%= p.title %>" src="<%= get_image_url(p) %>">
								</a>
							<% else %>
								<a class="ImgLink" href="<%= trip_idea_url(:permalink => p.trip.permalink, :id => p.id) %>">
								<img style="width:30px;height:30px;display:block;overflow:hidden;float:left;margin-right:5px;" alt="<%= p.title %>" src="<%= display_idea_icon(p) %>">
								</a>
							<% end %>
								<h3 style="margin:0 0 5px 5px;line-height:18px"><a href="<%= trip_idea_url(:permalink => p.trip.permalink, :id => p.id) %>"><%= p.title %></a></h3>
								<p class="description" style="line-height:14px;padding:0"><%= truncate(h(p.note), :length => 100) %></p>
						</div>
						<% end %>
					</div>
					<% end %>
				</div>
					

				<div class="main row row-border">
					
				<% if @event.eventable_type == "Foodanddrink"%>
					<span class="idea-label fooddrink">Food &amp; Drink</span>
				<% elsif @event.eventable_type == "Activity" %>
					<span class="idea-label activity">Activity</span>
				<% elsif @event.eventable_type == "Hotel" %>
					<span class="idea-label lodging">Lodging</span>
				<% end %>
				
				<% if @event.eventable_type == "Activity" or @event.eventable_type == "Hotel" or @event.eventable_type == "Foodanddrink" or @event.eventable_type == "CheckIn" %>

					<% if @event.photo? %>
					<div class="event-photo-show">
						<% if !@event.respond_to?("website") or @event.website.blank? %>
							<img src="<%= get_image_url(@event, "large") %>" alt="<%= @event.title %>" />
						<% else %>
							<a href="<%= @event.website %>" target="_blank" class="ImgLink"><img src="<%= get_image_url(@event, "large") %>" alt="<%= @event.title %>" /></a>
						<% end %>
					</div>
					<% end %>
					
					<h1 class="event" style="margin-top:30px"><%= @event.title %></h1>
	
					<% if @event.note? %>
					<div class="note">
						“<%= simple_format_without_p(h(@event.note)) %>”
					</div>
					<% end %>
					
					<div style="margin: 15px 10px 0 0">
						<div class="left" style="margin-right: 10px">
							<a href="/<%= @author.username unless @author.nil? %>">
								<%= collaborator_thumbnail(@author, 45) %>
							</a>
						</div>
						
						<% if @author %>
					    <div class="profile" style="float:left;">
					        <div class="username"><a href="/<%= @author.username %>"><%= display_user_name(@author) %></a></div>
					        <div class="information">
					            <span class="number-statistic"><%= @author.events.count.to_s %></span> ideas
					    		·
					    		<span class="number-statistic"><%= @author.trips.count.to_s %></span> duffels
							</div>
					    </div>
						<% end %>
						
						<div class="profile-right" style="float:right;width:250px;">
							<div class="information">Added to <a style="font-weight:bold" href="/trips/<%= @trip.permalink %>"><%= @trip.title %></a></div>
							<div class="like <% if liked?(@event, true) %>disabled<% end %>" id="like_<%= @event.id %>" style="text-align:right;margin-left:6px;margin-top:10px;float:right;">
								<% if logged_in? %>
									<% if liked?(@event, true) %>
										<%= link_to_remote "Unlike", { :url => "/like/111/?event=#{@event.id}", :method => :delete } -%>
									<% else %>
										<%= link_to_remote "<span style=\"padding-left:31px;background:url(/images/icon-favorite.png) no-repeat 10px -7px;z-index:3\">Like this</span>", { :url => "/like/?event=#{@event.id}", :method => :post }, :style => "padding-left:0" -%>
									<% end %>
								<% else %>
									<a style="padding-left:0" href="/like/new?redirect=<%= request.request_uri %>"><span style="padding-left:31px;background:url(/images/icon-favorite.png) no-repeat 10px -7px;z-index:3">Like this</span></a>
								<% end %>
							</div>
							<div class="add-to-duffel" style="text-align:right;margin-top:10px;"><%= build_url_for_copy("Add to my duffel", @event, @trip.permalink) %></div>
						</div>
					</div>
	
				<% elsif @event.eventable_type == "Transportation" %>

					<div id="form-details">
					<%= h @event.from %> &rarr; <%= h @event.to %><br/>
					Departs <%= display_transportation_datetime(@event.departure_time) %> <br/>
					Arrives <%= display_transportation_datetime(@event.arrival_time) %><br/><br/>
	
					<% if @event.note? %>
						<h3>Notes</h3>
						<div id="note"><%= simple_format_without_p(h(@event.note)) %></div>
					<% end %>
					</div>

				<% elsif @event.eventable_type == "Notes" %>
					<div id="form-details">
					<%= simple_format_without_p(h(@event.content)) %>
					</div>
				<% end %>
				
				<% if @event.likes.size > 0 %>
				<div class="clearfix"></div>
					<div id="likes">
						<h4>Likes</h4>
						
						<div id="likes-wrapper">
							<% @event.likes.each_with_index do |like,i| %>
								<% break if i== 9 %>
								<div class="left" style="margin-right: 10px">
									<a href="/<%= like.user.username unless like.user.nil? %>">
										<%= collaborator_thumbnail(like.user, 45) %>
									</a>
								</div>
							<% end %>
							
							<% if @event.likes.size > 9 %>
								<p style="color:#444;font-weight:bold;font-size:12px;clear:both">and <%= @event.likes.size.to_i - 9 %> more likes</p>
							<% end %>
						</div>
						<div class="clearfix"></div>
					</div>
				<% end %>

				</div>
				
				<div class="clearfix"></div>
				
				<%= render :partial => "cities/cities_box" %>
			</div>
		</div>
		<div class="clearfix"></div>

		<%= render :partial => 'shared/footer' %>


	<div class="clearfix" style="padding:5px">&nbsp;</div>
</div>

	<%= render :partial => 'shared/external_javascripts' %>
</body>
</html>