<h2><%= @event.title %></h2>
<br/>
<div style="max-height:380px; overflow:auto;">
<% if @event.eventable_type == "Activity" or @event.eventable_type == "Hotel" or @event.eventable_type == "Foodanddrink" %>

	<% if @event.photo? %>
	<div class="event-photo-show">
		<img src="<%= get_image_url(@event, "large") %>" alt="<%= @event.title %>" />
	</div>
	<% end %>

	<div id="form-details" <% if @event.photo? %>style="width:340px"<% end %>>
	<%= (link_to h(@event.website), @event.website, :target => "_blank") unless @event.website.blank? %><br/>
	<%= "<h3>Address</h3>" + content_tag('p', h(@event.address)) + "(" + map_link("map", @event.address) + ")" unless @event.address.blank? %>
	<%= "<h3>Phone</h3>" + content_tag('p', h(@event.phone))  unless @event.phone.blank? %>
	
	<% if @event.note? %>
		<h3>Notes</h3>
		<div id="note"><%= simple_format_without_p(h(@event.note)) %></div>
	<% end %>
	</div>
	
<% elsif @event.eventable_type == "Transportation" %>

	<div id="form-details">
	<%= h @event.from %> &rarr; <%= h @event.to %><br/>
	Departs <%= h @event.departure_time.strftime("%a %m/%d at %I:%M%p") unless @event.departure_time.nil? %> <br/>
	Arrives <%= h @event.arrival_time.strftime("%a %m/%d at %I:%M%p") unless @event.arrival_time.nil? %><br/><br/>
	
	<% if @event.note? %>
		<h3>Notes</h3>
		<div id="note"><%= simple_format_without_p(h(@event.note)) %></div>
	<% end %>
	</div>

<% elsif @event.eventable_type == "Notes" %>
	<div id="form-details">
	<%= simple_format_without_p(h(@event.content)) %>
	</div>
<% end %>

</div>