<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"> 
<head> 
	<title><%= @title %></title> 
	<%= stylesheet_link_tag "style", :media => :all %>
	<%= javascript_include_tag 'all' %>
	<%= javascript_include_tag 'application' %> 
	
<!--[if IE 7]>
<link href="/stylesheets/ie7.css" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
	
	<script src="http://gmaps-utility-library.googlecode.com/svn/trunk/mapiconmaker/1.1/src/mapiconmaker.js" type="text/javascript"></script>
	<script type="text/javascript" 
			src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= GeoKit::Geocoders::google %>">
	</script>
	<script type="text/javascript"> 
      var idea_to_map = <%= @event.to_json %>;
    </script>
	
	<meta name="description" content="<%= @meta_description %>" />
	<link rel="image_src" href="<%= @link %>" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="icon" type="image/png" href="/favicon.png">
</head> 

<body id="simple" onload="initialize_idea_map()" onunload="GUnload()">

    <div id="wrapper">
		<div id="header" class="clearfix">
			<%= render :partial => 'shared/header_nav', :locals => { :partner => false } %>
	    </div> 
     	
		<div id="wrapper-inner">
      		<%= render :partial => '/users/search_header' %>		
			<div id="primary">
				
				<h1 class="event"><%= @event.title %></h1>

				<div class="sidebar">
					
					<% unless logged_in? %>
					<div id="call-to-action">
						<div class="clearfix">
							<div class="left" style="margin-right:10px">
								<a href="/<%= @author.username unless @author.nil? %>">
									<%= collaborator_thumbnail(@author, 80) %>
								</a>
							</div>
							<div style="margin-bottom:10px" class="pod clearfix">
								<a href="/<%= @author.username unless @author.nil? %>"><%= display_user_name(@author) %></a>
								is using Duffel to plan trips and share travel pictures on the go. Turn your trip into a memory to keep forever.
							</div>
							<strong>Download Duffel</strong>
							<a class="" href="http://itunes.apple.com/us/app/foodspotting/id350727118?mt=8">iPhone</a>, <a class="" href="https://market.android.com/details?id=com.foodspotting">Android</a>, <a class="" href="http://social.zune.net/redirect?type=phoneApp&amp;id=55b55f3e-649b-e011-986b-78e7d1fa76f8">Windows Phone</a>, <a class="soon" href="/apps">Blackberry</a>
						</div>
					</div>
					<% end %>
					
					<div class="pod">
						<% if @event.eventable_type == "Activity" or @event.eventable_type == "Hotel" or @event.eventable_type == "Foodanddrink" %>
						<div class="item vcard">
								<h2>About <%= truncate(@event.title, :length => 45)%>
									
								<%= "<h3>Website</h3>" + (link_to h(@event.website), @event.website, :target => "_blank") unless @event.website.blank? %><br/>
								<%= "<h3>Address</h3>" + content_tag('p', h(@event.address)) + "(" + map_link("map", @event.address) + ")" unless @event.address.blank? %>
								<%= "<h3>Phone</h3>" + content_tag('p', h(@event.phone))  unless @event.phone.blank? %>
						</div>
						<% end %>
						
						<h2><img height="14" style="float:left;padding:3px 5px 0 0;" src="/images/icon-placemark.png"/>Location</h2>
						<div id="gmap"></div>
					</div>
					
					<div class="pod">
						<h2>More from this trip</h2>
						<div class="more">
						
						</div>
					</div>
					
				</div>

				<div class="main">
				<% if @event.eventable_type == "Activity" or @event.eventable_type == "Hotel" or @event.eventable_type == "Foodanddrink" or @event.eventable_type == "CheckIn" %>

					<% if @event.photo? %>
					<div class="event-photo-show">
						<img src="<%= get_image_url(@event, "large") %>" alt="<%= @event.title %>" />
					</div>
					<% end %>
	
					<% if @event.note? %>
					<div class="note">
						“<%= simple_format_without_p(h(@event.note)) %>”
					</div>
					<% end %>
					
					<div style="margin: 15px 10px 0 0">
						<div class="left" style="margin-right: 10px">
							<a href="/<%= @author.username unless @author.nil? %>">
								<%= collaborator_thumbnail(@author, 45) %>
							</a>
						</div>
					    <div class="profile">
					        <div class="username"><%= display_user_name(@author) %></div>
					        <div class="information">
					            <span class="number-statistic">92</span> photos
					    		·
					    		<span class="number-statistic">138</span> followers
							</div>
					    </div>
					</div>
				
					<div class="clearfix"></div>
	
				<% elsif @event.eventable_type == "Transportation" %>

					<div id="form-details">
					<%= h @event.from %> &rarr; <%= h @event.to %><br/>
					Departs <%= display_transportation_datetime(@event.departure_time) %> <br/>
					Arrives <%= display_transportation_datetime(@event.arrival_time) %><br/><br/>
	
					<% if @event.note? %>
						<h3>Notes</h3>
						<div id="note"><%= simple_format_without_p(h(@event.note)) %></div>
					<% end %>
					</div>

				<% elsif @event.eventable_type == "Notes" %>
					<div id="form-details">
					<%= simple_format_without_p(h(@event.content)) %>
					</div>
				<% end %>

				</div>
			</div>
		</div>
		<%= render :partial => 'shared/footer' %>
	</div>

	<%= render :partial => 'shared/external_javascripts' %>
</body>
</html>