<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html> 
<head> 
	<title><%= @title %></title> 
	<%= stylesheet_link_tag "business" %>
	<%= javascript_include_tag 'all' %>
	<meta name="description" content="<%= @meta_description %>" />
	<meta name="verify-v1" content="8IBqD8OB/RPT+h27hdBdg+7/u5HhbGdf43oyp43yk/U=" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="icon" type="image/png" href="/favicon.png">
</head> 
<body> 

<% flash.each do |key, msg| -%>
	<%= content_tag :p, msg, :id => key -%>
<% end -%>

	<div id="header" class="clearfix">
		<h2><a id="logo" href="http://duffelup.com">Duffel</a></h2>
		<ul>
			<li><a href="/business/overview">Overview</a></li>
			<li class="selected"><a href="/business/demo">How to Start</a></li>
			<!--<li><a href="/business/features">Features</a></li>-->
		</ul>
	</div>
	
	<div class="seperator" style="margin-top: 10px;"></div>
	<div id="promo">
		<div id="what-is">
		<div class="right">
			<a href="#sign-up" id="start-planning">Sign up now</a>
			<div class="clear"></div>
			<!--<%= link_to 'Have an account? <u>Sign in</u>', login_path, :id => 'sign-in' %>-->
			</div>
			<h1 style="line-height: 89px; margin-bottom: 0;">Using Duffel trip planner on your website</h1>
			<div class="clear"></div>
		</div>
	</div>
	<div class="seperator"></div>
	
	<div id="details" class="white">
		<div style="padding: 20px">
			<a name="sign-up"><h1 style="margin-bottom:15px;font-size:26px;margin-top:0">Sign-up Instructions - 2 easy steps</h1></a>
			<p style="width: 650px;padding-bottom:25px">With one line of code, you can embed "Add to Duffel" button to your website and have direct access to our users during planning phase.</p>
			
			<script type="text/javascript">
			function generateCode(img_url) {
				var onclick = "javascript: (function(){EN_CLIP_HOST='http:\/\/duffelup.com';CLIP_URL='';CLIP_TITLE='';CLIP_NOTES='';CLIP_ADDRESS='';CLIP_PHONE='';CLIP_TYPE='';var a=document.createElement('SCRIPT');a.type='text/javascript';a.src=EN_CLIP_HOST+'/javascripts/bookmarklet.js?'+(new Date).getTime()/1E5;document.getElementsByTagName('head')[0].appendChild(a)})(); return false;"
				$('widget-code').value = "<a href='#' alt='Clip to Duffel' title='Clip to Duffel' onclick=\""+onclick+"\"><img src='"+img_url+"'/></a>"
				new Effect.Highlight('widget-code');
				return false;
			}
			</script>
			
			<p><strong>1. Pick your favorite button from below.</strong></p>
			<div style="display:block;width: 220px" class="left pick-button">
				<input onclick="generateCode('http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Small.png');" type="radio" name="btn" value="add_to_duffel_small" /> <img src="http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Small.png"/><br/>
				<input onclick="generateCode('http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Medium.png')" type="radio" name="btn" value="add_to_duffel_medium" /> <img src="http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Medium.png"/>
			</div>
			<div style="display:block;width: 220px" class="left pick-button">
				<input onclick="generateCode('http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Plus_Small.png')" type="radio" name="btn" value="add_to_duffel_plus_small" /> <img src="http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Plus_Small.png"/><br/>
				<input onclick="generateCode('http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Plus_Medium.png')" type="radio" name="btn" value="add_to_duffel_plus_medium" /> <img src="http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Plus_Medium.png"/>
			</div>
			<div style="display:block;width: 220px" class="left pick-button">
				<input onclick="generateCode('http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Basic_Small.png')" type="radio" name="btn" value="add_to_duffel_basic_small" /> <img src="http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Basic_Small.png"/><br/>
				<input onclick="generateCode('http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Basic_Medium.png')" type="radio" name="btn" value="add_to_duffel_basic_medium" /> <img src="http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Basic_Medium.png"/>
			</div>
			<div style="display:block;width: 220px" class="left pick-button">
				<input onclick="generateCode('http://duffelup-assets.s3.amazonaws.com/Duffel_Bag_Button_Small.png)" type="radio" name="btn" value="duffel_bag_small" /> <img src="http://duffelup-assets.s3.amazonaws.com/Duffel_Bag_Button_Small.png"/><br/>
				<input onclick="generateCode('http://duffelup-assets.s3.amazonaws.com/Duffel_Bag_Button_Medium.png')" type="radio" name="btn" value="duffel_bag_medium" /> <img src="http://duffelup-assets.s3.amazonaws.com/Duffel_Bag_Button_Medium.png"/>
			</div>
			<div class="clearfix"></div>
			<div style="display:block;width: 220px" class="left pick-button">
				<input onclick="generateCode('http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Plus_Blue_Small.png')" type="radio" name="btn" value="add_to_duffel_plus_blue_small" /> <img src="http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Plus_Blue_Small.png"/><br/>
				<input onclick="generateCode('http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Plus_Blue_Medium.png')" type="radio" name="btn" value="add_to_duffel_plus_blue_medium" /> <img src="http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Plus_Blue_Medium.png"/>
			</div>
			<div style="display:block;width: 220px" class="left pick-button">
				<input onclick="generateCode('http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Plus_Pink_Small.png')" type="radio" name="btn" value="add_to_duffel_plus_pink_small" /> <img src="http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Plus_Pink_Small.png"/><br/>
				<input onclick="generateCode('http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Plus_Pink_Medium.png')" type="radio" name="btn" value="add_to_duffel_plus_pink_medium" /> <img src="http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Plus_Pink_Medium.png"/>
			</div>
			<div style="display:block;width: 220px" class="left pick-button">
				<input onclick="generateCode('http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Plus_Green_Small.png')" type="radio" name="btn" value="add_to_duffel_plus_green_small" /> <img src="http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Plus_Green_Small.png"/><br/>
				<input onclick="generateCode('http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Plus_Green_Medium.png')" type="radio" name="btn" value="add_to_duffel_plus_green_medium" /> <img src="http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Plus_Green_Medium.png"/>
			</div>
			
			<div class="clearfix"></div>
			<p><strong>2. Copy and paste the code to your website.</strong></p>
			<textarea id="widget-code" style="margin-bottom:8px;font-size:13px" rows="6" cols="60" onClick="javascript:this.focus();this.select();"></textarea>
			<p><strong>3. (Optional) Customize our trip planner to display your logo, custom titles and notes using the following URL parameters:</strong></p>
			<ul>
				<li>CLIP_TITLE</li>
				<li>CLIP_URL</li>
				<li>CLIP_ADDRESS</li>
				<li>CLIP_PHONE</li>
				<li>CLIP_TYPE - default type. Acceptable values: <u>Activity</u>, <u>Foodanddrink</u>, and <u>Hotel</u> </li>
				<li>PID - partner id that is assigned to you (for custom logo placement). Please contact <a style="text-decoration:underline;" href="mailto:business@duffelup.com">business@duffelup.com</a> for more info.</li>
			</ul>
			
			<br/>
			<hr/>
			<br/>
			
			<h1 style="margin-bottom:15px;font-size:26px;">Live Examples</h1>
			
			<p>Click on <img src="http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Plus_Blue_Small.png" style="vertical-align: middle;"> below to see our button in action. Also <a style="text-decoration:underline;" href="http://duffelup.posterous.com/48-hours-and-a-duffel-new-delhi-india" target="_blank">check out our blog</a> for more live examples.</p>
			
			<h1 style="margin-bottom:15px;font-size:26px;margin-top:40px">Example #1: Destination and content sites</h1>
		
			<div id="topHotel">
				<div class="header">
					<h2 class="timesPick item fn org">Metropolitan Museum of Art</h2> 
					<div style="line-height:8px;border:none;margin:7px;padding:0;width:97px;text-align:right;">
						<a href="#" onclick="javascript: (function(){EN_CLIP_HOST='http://duffelup.com';PID='partner_id';CLIP_URL='http://www.metmuseum.org';CLIP_TITLE='Metropolitan Museum of Art';CLIP_NOTES='Suggested admission (includes same-day entrance to the Cloisters) $20 adults, $15 seniors and $10 students, free for children 11 and under when accompanied by an adult.';CLIP_ADDRESS='1000 Fifth Ave, New York, NY, 10028';CLIP_PHONE='(212) 535-7710';CLIP_TYPE='Activity';var a=document.createElement('SCRIPT');a.type='text/javascript';a.src=EN_CLIP_HOST+'/javascripts/bookmarklet.js?'+(new Date).getTime()/1E5;document.getElementsByTagName('head')[0].appendChild(a)})(); return false;"><img alt="Clip this to Duffel" title="Clip this to Duffel" src="http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Plus_Green_Small.png"/></a>
						<a style="color:#888;text-decoration:none;font-family:arial;font-size:10px;letter-spacing: -0.3px;margin:0;display:block;" href="http://duffelup.com">by Duffel trip planner</a>
					</div>
				</div>
			
				<span class="label">Address</span>
					<span class="adr"><span class="street-address">1000 Fifth Ave</span>, <span class="locality">New York</span>, <span class="region">NY</span>, <span class="postal-code">10028</span></span>
				<span class="label">Location</span>
				<span class="locality other">Fifth Ave. at 82nd St</span>
				<span class="label">Phone</span>
				<span class="tel value">(212) 535-7710</span>
				<span class="label">Web Site</span><span class="fn url">www.metmuseum.org</span><span class="label">Price</span>
				<span class="other">Suggested admission $20 adults, $15 seniors and $10 students</span><table cellpadding="0" cellspacing="0" id="moreinfo"><tr>

				</tr></table>
				<p>(content from travel.nytimes.com)</p>
			</div>
			
			<br/>
			<h1 style="margin-bottom:15px;font-size:26px;">Example #2: Booking sites</h1>
			
			<div style="width: 560px">
					
				<h2>Superior Double Studio With Caldera View</h2>
				<p>This bedroom contains a double bed and a balcony with a view.</p>
				<p>
				<table cellspacing="0" style="width: 100%;"><tbody><tr><td style="padding: 0pt 0.6em 0.6em 1.2em; font: 14px/1.2 Arial,Helvetica,sans-serif; width: 8.4em; ">Arrival</td><td style="padding: 0pt 1.2em 0.6em 0pt; font: 14px/1.2 Arial,Helvetica,sans-serif; ">
					Tuesday, September 1, 2011, 
					check-in
					13:00 &ndash; 22:30
				</td></tr><tr><td style="padding: 0pt 0.6em 0.6em 1.2em; font: 14px/1.2 Arial,Helvetica,sans-serif; ">Departure</td><td style="padding: 0pt 1.2em 0.6em 0pt; font: 14px/1.2 Arial,Helvetica,sans-serif; ">
					Thursday, September 3, 2011, 
					check-out
					11:30 &ndash; 12:00
				</td></tr><tr><td style="padding: 0pt 0.6em 0.6em 1.2em; font: 14px/1.2 Arial,Helvetica,sans-serif; vertical-align: top; ">Quantity</td><td style="padding: 0pt 1.2em 0.6em 0pt; font: 14px/1.2 Arial,Helvetica,sans-serif; "><div>
					1 room
				</div></td></tr><tr><td style="padding: 0.5em 0.6em 0.6em 1.2em; font: 14px/1.2 Arial,Helvetica,sans-serif; vertical-align: top;  background-color: rgb(232, 237, 243); border-top: 1px solid rgb(0, 53, 128);"><strong>Total price</strong></td><td style="padding: 0.5em 1.2em 0.6em 0pt; font: 14px/1.2 Arial,Helvetica,sans-serif;  background-color: rgb(232, 237, 243); border-top: 1px solid rgb(0, 53, 128);"><strong>
					€&nbsp;200.00
				</strong>
				<div style="float:right;line-height:8px;border:none;margin:10px;padding:0;width:97px;text-align:right;">
					<a href="#" onclick="javascript: (function(){EN_CLIP_HOST='http://duffelup.com';CLIP_URL='http://www.mybookingsite.com';CLIP_TITLE='Metropolitan Museum of Art';PID='parnter_id';CLIP_NOTES='Suggested admission (includes same-day entrance to the Cloisters) $20 adults, $15 seniors and $10 students, free for children 11 and under when accompanied by an adult.';CLIP_ADDRESS='1000 Fifth Ave, New York, NY, 10028';CLIP_PHONE='(212) 535-7710';CLIP_TYPE='Activity';var a=document.createElement('SCRIPT');a.type='text/javascript';a.src=EN_CLIP_HOST+'/javascripts/bookmarklet.js?'+(new Date).getTime()/1E5;document.getElementsByTagName('head')[0].appendChild(a)})(); return false;"><img alt="Clip this to Duffel" title="Clip this to Duffel" src="http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Plus_Pink_Small.png"/></a>
					<a style="color:#888;text-decoration:none;font-family:arial;font-size:10px;letter-spacing: -0.3px;margin:0;display:block;" href="http://duffelup.com">by Duffel trip planner</a>
				</div>
				<span style="font-size: 90%; margin-left: 0.5em; padding-left: 0.7em; border-left: 1px solid rgb(119, 155, 202);">
					Note: additional supplements<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; are not be added to this total
				</span></td></tr></tbody></table>
				</p>
			</div>
		
			<hr/>
		
			<br/>
			<h1 style="margin-bottom:15px;font-size:26px;">Example #3: Travel articles and blogs</h1>
			<div id="article">
			<h2>A Silicon Valley Relaunch</h2>
			<p>...</p>

			<p>A few doors down, <strong>Angelica’s Bistro</strong> (angelicasbistro.com) is the only place in town where you can dine on French crepes ($7.50) and tap your toes to a Wednesday night jazz jam session, surrounded by European paintings and 200-year-old Italian statues.
				<a href="#" onclick="javascript: (function(){EN_CLIP_HOST='http://duffelup.com';PID='partner_id';CLIP_URL='http://www.angelicasbistro.com';CLIP_TITLE='Angelica’s Bistro';CLIP_NOTES='The only place in town where you can dine on French crepes ($7.50) and tap your toes to a Wednesday night jazz jam session, surrounded by European paintings and 200-year-old Italian statues.';CLIP_ADDRESS='863 Main Street, Redwood City, CA';CLIP_PHONE='650-365-3226';CLIP_TYPE='Foodanddrink';var a=document.createElement('SCRIPT');a.type='text/javascript';a.src=EN_CLIP_HOST+'/javascripts/bookmarklet.js?'+(new Date).getTime()/1E5;document.getElementsByTagName('head')[0].appendChild(a)})(); return false;"><img style="vertical-align:middle" alt="Clip this to Duffel" title="Clip this to Duffel" src="http://duffelup-assets.s3.amazonaws.com/Add_to_Duffel_Basic_Small.png"/></a></p>

			<p>Another standout is <strong>Donato Enoteca</strong> (donatoenoteca.com; 
				<a style="color:#F20063 !important" href="#" onclick="javascript: (function(){EN_CLIP_HOST='http://duffelup.com';PID='partner_id';CLIP_URL='http://www.donatoenoteca.com';CLIP_TITLE='Donato Enoteca';CLIP_NOTES='The chef, Donato Scotti, dishes up Italian specialties like grilled calamari ($9) and satisfyingly simple buckwheat pasta with wild mushrooms ($15). The wraparound patio with red sofas is perfect for sampling the grappa list.';CLIP_ADDRESS='1041 Middlefield Road, Redwood City, CA';CLIP_PHONE='650-701-1000';CLIP_TYPE='Foodanddrink';var a=document.createElement('SCRIPT');a.type='text/javascript';a.src=EN_CLIP_HOST+'/javascripts/bookmarklet.js?'+(new Date).getTime()/1E5;document.getElementsByTagName('head')[0].appendChild(a)})(); return false;">Add to Duffel</a>), which opened last June. The chef, Donato Scotti, dishes up Italian specialties like grilled calamari ($9) and satisfyingly simple buckwheat pasta with wild mushrooms ($15). The wraparound patio with red sofas is perfect for sampling the grappa list.</p>
		
			<p>...</p>
		
			<p>(content from travel.nytimes.com)</p>
			
			</div>
		</div>
	</div>
	
	<div class="clear"></div>
	
	<%= render :partial => 'shared/footer' %>

	<%= render :partial => 'shared/external_javascripts_without_fb'%>
</body>
</html>