<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html> 
<head> 
	<title><%= @title %></title> 
	<%= stylesheet_link_tag "business" %>
	<%= javascript_include_tag 'all' %>
	<meta name="description" content="<%= @meta_description %>" />
	<meta name="verify-v1" content="8IBqD8OB/RPT+h27hdBdg+7/u5HhbGdf43oyp43yk/U=" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="icon" type="image/png" href="/favicon.png">
</head> 
<body> 

<% flash.each do |key, msg| -%>
	<%= content_tag :p, msg, :id => key -%>
<% end -%>

	<div id="header" class="clearfix">
		<h2><a id="logo" href="http://duffelup.com">Duffel</a></h2>
		<ul>
			<li class="selected"><a href="/business/overview">Overview</a></li>
			<li><a href="/business/demo">How It Works</a></li>
			<li><a href="/business/features">Features</a></li>
		</ul>
	</div>

	<div class="seperator" style="margin-top: 10px;"></div>
	<div id="promo" style="padding: 20px 0;">
		<div id="what-is">
			<a style="position:absolute; margin: -38px 0 0 600px;" href="/site/tutorial_overview" rel="ibox&width=630&height=430"<img src="/images/business/screenshot.jpg" alt="screenshot" width="364" height="228" /></a>
			<h1>Duffel Visual Trip Planner</h1>
			<p>Connecting Travelers with Global Vistors Bureaus and Destination Sites</p>
			<a href="/business/demo#sign-up" id="start-planning">Sign up now</a>
			<%= link_to 'How it works', '/business/demo', :id => 'take-a-tour' %>
			<div class="clear"></div>
			<p style="margin:0">&nbsp;</p>
			<!--<%= link_to 'Have an account? <u>Sign in</u>', login_path, :id => 'sign-in' %>-->
		</div>
	</div>
	<div class="seperator"></div>
	
	<div id="details">
		<div class="section">
			<h1>What is Duffel?</h1>
			<p>Duffel is a collaborative trip planning tool for DIY travelers. Tens of thousands of users are already using Duffel to plan their trips, and hundreds interact with us everyday.</p>
			<p>For destination sites, Duffel is an engaging and social marketing platform to promote your website content and destination. It is the most visual and interactive trip-planning-platform that is accessible to your visitors with one-click.</p>
			
			<h1>Is it free?</h1>
			<p>Yes! 100% free of charge.</p>
			
			<h1>Do I need to sign a contract?</h1>
			<p>Nope. You can stop using Duffel anytime you want, but your visitors may be hooked to it!</p>
			
			<h1>How to integrate?</h1>
			<p>Simply embed one line of HTML code and start engaging your visitors. See some examples and <a class="goodLink" href="/business/demo">how it works</a>.</p>
			
		</div>
		<div class="section last">
			<h1>Why use Duffel?</h1>
			<ul>
				<li><span>Make More Money</span><br /> Interact with visitors
				during the important "research" stage, and fully promote your sponsored hotels and activities.</li>
				<li><img class="right" style="margin: 0 0 20px 20px" src="/images/business/why.png" alt="Why Use Duffel" /><span>Increase Return Visits</span><br /> Users who save your content will more likely return to your site during the planning process.</li>
				<li><span>Lower Customer Acquisition Cost</span><br /> Let our community, marketing campaigns and SEO promote your itineraries, content and websites.</li>
				<li><span>Engage Passive Visitors</span><br /> Give your followers one-click access to the powerful planning tools right from your site, provided by Duffel.</li>
				<li><span>Expand Social Media Reach</span><br /> Whenever users interact
				with your content, Duffel automatically
				broadcasts the event to users' social network.</li>
				
			</ul>
			<p style="margin-left: 20px;margin-top:15px"><a class="goodLink" href="/business/demo">Learn more about how it works &rarr;</a></p>
		</div>
		
		<div class="clear"></div>
		
		<div class="section" style="margin-top: 30px;">
			<h1>What our users are saying</h1>
			<p><blockquote>"What is unique about Duffel is the way it presents the trip planning process to the user.  The Apple influenced design, sticky notes, and note cards are simple to visualize, move, and edit making the planning process a fun experience."</blockquote> <em class="mute t11">- Stephen Joyce / Travel & Tourism Technology Trends</em></p>
		</div>
		
		<div class="section last" style="margin-top: 30px;">
			<h1>&nbsp;</h1>
			<p><blockquote>"The most useful thing about Duffel is that the interface is straightforward and uncluttered. You can just drag and drop items with your mouse. Even if you’re not a computer whiz, it’s fairly easy to learn how to use it."</blockquote> <em class="mute t11">- Rolf Potts / Vagablogging</em></p>
		</div>
		
		<div class="clear"></div>
		
		<div class="section" style="width: auto; margin-top: 30px;">
			<h1>In the News</h1>
			<p style="width: 300px" class="left mute"><a href="http://travel.latimes.com/articles/la-tr-webbuzz11-2009oct11"><img src="/images/business/logo-latimes.png" alt="LA Times" width="204" height="27" /><br />
				"Creating a travel itinerary with a corkboard and virtual Post-it notes puts the fun back in online travel planning."</a>
			</p>
			<p style="width: 300px; margin-left: 20px; margin-right: 20px;" class="left mute"><a href="http://www.techcrunch.com/2009/12/03/duffel-trip-planner/"><img src="/images/business/logo-techcrunch.png" alt="Techcrunch" width="149" height="22" /><br />
				"The site is well done, with a clean design and refreshing simplicity."</a>
			</p>
			<p style="width: 300px;" class="left mute"><a href="http://www.readwriteweb.com/start/2009/11/beyond-the-backpack-duffel.php"><img src="/images/business/logo-rww.png" alt="Read Write Web" width="204" height="29" /><br />"In July, we covered a list of travel trends including group planning, mapping tools and recommendation engines. Duffel combines all three in one easy-to-use dashboard."</a>	
		</div>
		
			<p align="center"><a style="font-size:18px;color:#1C86EE;" href="/business/demo">Try us out for free! &rarr;</a></p>
	</div>
	
	<div class="clear"></div>
	
	<%= render :partial => 'shared/footer' %>

	<%= render :partial => 'shared/external_javascripts_without_fb'%>
</body>
</html>