<p>Hello <%= display_user_name(@event_creator) %>,
<br><br>
<a target="_blank" href="<%= @liker_url %>"><%= display_user_name(@liker) %></a> liked your post <a target="_blank" href="<%= @event_url %>"><%= @event_title %></a>.
<br><br>
Looking forward to more posts!
<br>
- The Duffel Team
<br>
<a target="_blank" href="http://duffelup.com/">http://duffelup.com</a>
</p>