<p>
Hi there,
<br/><br/>
<%= display_user_name(@inviter) %> (<%= @inviter.email %>) invited you to Duffel, the best trip planning tool to organize and collaborate your travel plans with friends and family.  Start sharing ideas and create your own travel guide!
<br/><br/>
<% if not @personal_message.nil? and not @personal_message.empty? %>
	<%= display_user_name(@inviter) %>'s personal message:<br>
	<%= simple_format("\"" + @personal_message + "\"") %>
<br/>
<% end %>

Signing up is free and easy!  To sign up for an account, click or paste the following link:
<br> 
<a target="_blank" href="http://duffelup.com/signup?invitation_token=<%= @token %>">http://duffelup.com/signup?invitation_token=<%= @token %></a>
<br><br>

We look forward to see you soon!
<br><br>
- The Duffel Team
<br>
<a target="_blank" href="http://duffelup.com/">http://duffelup.com</a>
</p>