<ul class="tabnav">
	<li id="tb2" style="background: url(/images/social/facebook-32x32.png) no-repeat 20px center; padding-left: 62px"><a href="/beta_invitations/facebook">Facebook<span>Invite Facebook friends</span></a></li>
	<li id="tb1a" class="selected"><a href="/duffel_invitations/new">Email<span>Invite friends via email</span></a></li>
</ul>


<div id="primary-inner">
	<div class="page-header">
	<h1>Invite Your Friends to Duffel</h1>
	</div>

	<div id="invitation">
		<div class="invitation_right-import">
			<p>Not finding who you're looking for? Invite friends to Duffel via email.</p>
			<% form_for @beta_invitation do |f| %>
			<strong><p>Friend's Email:</p></strong>
			<%= f.text_field :recipient_email, :size => 20 %>
	
			<%= f.submit "Invite!", :class => "btn", :style => "margin-top:-5px;", :onclick => "pageTracker._trackEvent('Email Invite', 'submit', '#{current_user.username}');" %>
			<% end %>
		</div>
	</div>
	
	<!-- email and import -->
	<div id="invitations_left-import">

		<div id="contact_list_form">
		<%= render :partial => "webapps/contact_list_form" %>
		</div>

		<% form_for @beta_invitation do |f| %>

		<%= error_messages_for :beta_invitation, :header_message => "Failed to send invitation!", :message => nil %>
	
			<div id="contact_list" style="margin: 5px 0 15px 0; max-height:350px; overflow:auto; margin-right: 30px">
			</div>
	
			<label for="message">Personal Message: <br /><small>(optional)</small></label>
			<%= text_area_tag :message, nil, :rows => 3, :cols => 35 %>

			<div id="form-submit" class="clearfix"><%= f.submit "Invite!", :class => "btn-primary btn-large", :onclick => "pageTracker._trackEvent('Email Import', 'submit', '#{current_user.username}');" %> &nbsp;&nbsp;&nbsp; or <%= link_to "find friends", :controller => 'user', :action => 'search' %> already on Duffel!</div>

		<% end %>
	</div>
	
</div>