<p style="margin-top:5px"><%= form.select("eventable_type", Event::IDEA_EVENT_TYPE, { :selected => @event.eventable_type })%></p>

<p><label for="event_title">Title:</label>
<%= form.text_field :title, :value => @event_title_value %></p>

<div id="form-details">
	<p><label for="event_note">Notes:</label>
		<%= form.text_area :note, :rows => 8, :cols => 35 %></p>

	<% fields_for :idea do |f| -%>
	
	<p><label for="event_website">Website:</label>
		<%= f.text_field :website, :size => 30 %>
		<em class="helper">(ex: http://www.duffelup.com)</em>
	</p>
</div>

<div id="form-location">
	<div class="optional_block" id="optional_block">
	
	<% unless new_visitor_created_trip? %>
		<% if @event.photo? %>
			<label for="photo">Replace photo:</label>
		<% else %>
			<label for="photo">Upload a photo:</label>
		<% end %>
		<%= form.file_field :photo, :size => 16, :disabled => (current_user.bandwidth >= User::UPLOAD_LIMIT) %>
		<%= "<em class='helper t11'>You reached your monthly upload limit!</em>" if (current_user.bandwidth >= User::UPLOAD_LIMIT) %>
	<% else %>
		<p style="margin-top:5px;"><i>Sign up and you can upload a photo here.</i></p>
	<% end %>
	
	<label for="event_address">Address (or Lat,Lng):</label>
		<%= f.text_area :address, :rows => 2, :cols => 22 %>
	
	<label for="event_phone">Phone Number:</label>
		<%= f.text_field :phone, :size => 20 %>
	
	<% end -%>
	
	</div>
</div>
