<p><label for="event_title">Title:</label>
<%= form.text_field :title, :value => @event_title_value %></p>

<div id="form-details">
	<p><label for="event_note">Notes:</label>
		<%= form.text_area :note, :rows => 8, :cols => 35 %></p>

	<% fields_for params[:idea_type].to_sym do |f| -%>
	
	<p><label for="event_website">Website:</label>
		<%= f.text_field :website, :size => 30 %>
		<em class="helper">(ex: http://www.duffelup.com)</em>
	</p>
</div>

<div id="form-location">
	<div id="form-more-info"><a id="link" href="#" onclick="$('optional_block').show();$('form-more-info').hide(); return false;">More details</a></div>
	<div class="optional_block" id="optional_block" style="display:none;">
	
	<label for="photo">Attach a Photo:</label>
	<%= form.file_field :photo, :size => 16 %>
		
	<p><label for="event_address">Address (or lat,lng):</label>
		<%= f.text_area :address, :rows => 2, :cols => 22 %>
		<em class="helper t11">(ex: 123 2nd St, New York, NY)</em>
		<em class="helper t11">(ex: 37.81765,-122.478303)</em>
	</p>
	<p><label for="event_phone">Phone Number:</label>
		<%= f.text_field :phone, :size => 20 %>
	</p>
	<% end -%>
	
	</div>
</div>
