<% unless @cities_search_result.nil? %>
	<div id="column" style="padding:15px;">
		<div class="cities-results">
			<h2>Cities</h2>
			<% if @cities_search_result.empty? %>
				<p>Doh, can't find that place you're looking for.</p>
			<% else %>
				<ul class="cities unstyled">
				<% @cities_search_result.each do |c| %>
					<% unless c.city.empty? %>
						<% if c.country_code == "US" or c.country_code == "CA" %>
							<li style="line-height:28px"><%= link_to c.city_country, na_city_url(:country_code => c.country_code, :region => c.region, :city => city_name_to_url(c.city)) %></li>
						<% else %>
							<li style="line-height:28px"><%= link_to c.city_country, city_url(:country_code => c.country_code, :city => city_name_to_url(c.city)) %></li>
						<% end %>
					<% else %>
						<li style="line-height:28px"><%= link_to c.city_country, country_url(:country_code => c.country_code) %>
					<% end %>
				<% end %>
				</ul>
			<% end %>
		</div>
	</div>
<% end %>

<div id="column" style="padding-top:20px">
<% unless @duffels_search_result.nil? %>
	<h2>Community Duffels</h2>
	<% if @duffels_search_result.empty? %>
		<p>Doh, can't find any trips.</p>
	<% else %>
		<ul class="duffel-list unstyled">
		<% @duffels_search_result.each do |d| %>
			<div class="separate"></div>
		    <li class="duffel">
			<img style="float:left;margin-right:10px;max-width:80px;max-height:80px" src="<%= duffel_thumbnail_url(d) %>"/>
		    <strong><%= link_to h(truncate(d.title, :length => 40)), trip_url(:id => d) %></strong>
		    <em><%= h(truncate(shorten_trip_destination(d.destination), :length => 60)) %></em>
		    <%= display_trip_dates(d.start_date,d.end_date) %>
		    <span class="cf-comment" style="padding-top:10px;display:inline;float:right;margin-right:30px"><%=d.comment_count%> Comments</span> 
			<span class="cf-favorite" style="padding-top:10px;display:inline;float:right"><%=d.favorites.size%> Faves</span>
		<% end %>
		</ul>
	<% end %>
<% end %>
</div>
