<% unless @cities_search_result.nil? %>
	<div id="column" style="padding:15px;">
		<div class="cities-results">
			<% if @cities_search_result.empty? %>
				<p>Doh, can't find that place you're looking for.</p>
			<% else %>
			<h2>Cities</h2>
				<ul class="cities">
				<% @cities_search_result.each do |c| %>
					<% unless c.city.empty? %>
						<% if c.country_code == "US" or c.country_code == "CA" %>
							<li><%= link_to c.city_country, na_city_url(:country_code => c.country_code, :region => c.region, :city => city_name_to_url(c.city)) %></li>
						<% else %>
							<li><%= link_to c.city_country, city_url(:country_code => c.country_code, :city => city_name_to_url(c.city)) %></li>
						<% end %>
					<% else %>
						<li><%= link_to c.city_country, country_url(:country_code => c.country_code) %>
					<% end %>
				<% end %>
				</ul>
			<% end %>
		</div>
	</div>
<% end %>

<div id="column" style="padding-top:20px">
<% unless @duffels_search_result.nil? %>
	<% if @duffels_search_result.empty? %>
		<p>Doh, can't find any trips.</p>
	<% else %>
		<h2>Community Duffels</h2>
		<ul class="duffel-list">
		<% @duffels_search_result.each do |d| %>
			<div class="separate"></div>
		    <li class="duffel">
			<img style="float:left;margin-right:10px;max-width:80px;max-height:80px" src="<%= duffel_thumbnail_url(d) %>"/>
		    <strong><%= link_to h(truncate(d.title, :length => 40)), trip_url(:id => d) %></strong>
		    <em><%= h(truncate(shorten_trip_destination(d.destination), :length => 60)) %></em>
		    <%= display_trip_dates(d.start_date,d.end_date) %>
		    <span class="cf-comment" style="padding-top:10px;display:inline;float:right;margin-right:30px"><%=d.comment_count%> Comments</span> 
			<span class="cf-favorite" style="padding-top:10px;display:inline;float:right"><%=d.favorites.size%> Faves</span>
		<% end %>
		</ul>
	<% end %>
<% end %>
</div>

<div class="clearfix"></div>

<div style="background: url('/images/dottedLine.png') repeat-x scroll 0 top transparent;">
<% unless @duffelers.nil? %>
	<h2 style="padding-top:10px">Duffel Members</h2>
	<ul class="user-list">
	<% if @duffelers.empty? %>
		<p>Can't find any users that match '<%= params[:q] %>'</p>
	<% else %>
		<%- @duffelers.each do |user| -%>
			<li class="user">
				<div class="avatar"><%= link_to display_thumbnail(user), profile_for(user) %></div>
				<h3><%= link_to user.username, profile_for(user) %> <span><%= user.full_name unless (user.full_name.nil? or user.full_name.empty?) %></span></h3>
				<p class="hometown mute"><%= user.home_city unless (user.home_city.nil? or user.home_city.empty?) %></p>

			</li>
		<%- end -%>
	<% end %>
	</ul>
	</div>
	<br/>
	<div class="clearfix"></div>
	<% if @duffelers.total_entries > 12 %>
	<div style="float:right;margin:10px 70px 20px 0"><a href="/user/search?q=<%= params[:q] %>">See more members that match '<%= params[:q] %>'</a> <span style="color:#888;font-size:0.8em">(<%= pluralize(@duffelers.total_entries, 'user') %> found)<span></div>
	<% end %>
<% end %>