<%= render :partial => 'right_menu'%>

<div id="site">
<h1>Video Tutorial</h1>
<object width="630" height="400"><param name="movie" value="http://www.youtube.com/v/Cg2Z1Ai6Y-s&color1=0xb1b1b1&color2=0xcfcfcf&feature=player_embedded&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowScriptAccess" value="always"></param><embed src="http://www.youtube.com/v/Cg2Z1Ai6Y-s&color1=0xb1b1b1&color2=0xcfcfcf&feature=player_embedded&fs=1" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="630" height="400"></embed></object>
<p>Special thanks to <a href="http://demogirl.com/2009/11/05/duffel-is-a-wish-list-for-trip-planning/" target="_blank">Demo Girl</a> for the awesome video tour.</p>
<!--
<h1>How Do I...?</h1>
<h3><a href="#video">Watch the Duffel video again?</a></h3>
... more to come!
<h3><a href="#add-idea">Add an activity, hotel, or restaurant</a></h3>
<h3><a href="#copy-idea">Copy an idea from another duffel</a></h3>
<h3><a href="#schedule-itinerary">Schedule itinerary</a></h3>
<h3><a href="#add-collaborator">Invite collaborator or share duffel</a></h3>
<h3><a href="#map-and-print-view">Toggle map and print views</a></h3>
-->
<br/><br/>

<h1>Frequently Asked Questions</h1>

<h3><a href="#what-is-duffel">What is Duffel?</a></h3>
<h3><a href="#how-duffel-helps">How does Duffel help me?</a></h3>
<h3><a href="#how-else-duffel-helps">Why is Duffel so special?</a></h3>
<h3><a href="#how-duffel-different">How is Duffel different from other travel planning tools?</a></h3>
<h3><a href="#developing-new-features">Are you still developing new features?</a></h3>
<h3><a href="#how-to-sign-up">How do I sign up?</a></h3>
<h3><a href="#more-questions">I have questions that are not answered here.  What do I do?</a></h3>
<br/>
<ul>

<!--	
	<li><a id="help-content" name="add-idea"><h2 name="add-idea">How do I add an activity, hotel, or restaurant?</h2></a></li>
	<p>There are two ways to add ideas.  First way is to click on the corresponding idea category on the top of the trip planning page, and a pop-up form will display for you to input details. </p>
	<p>The second method, also recommended and quickest, is to use our <%= link_to "Clip-It Bookmarker", {:controller => 'site', :action => 'tools'}, :id => 'site' %>, which allows you to clip ideas and articles to Duffel anywhere from the web while you're browsing.</p>
	
	<li><a id="help-content" name="copy-idea"><h2 name="copy-idea">How do I copy an idea from another duffel?</h2></a></li>
	<p>To copy an idea
		
	<li><a id="help-content" name="schedule-itinerary"><h2 name="schedule-itinerary">How do I schedule my itinerary?</h2></a></li>
	
	<li><a id="help-content" name="add-collaborator"><h2 name="add-collaborator">How do I invite collaborator or share duffel?</h2></a></li>
	
	<li><a id="help-content" name="map-and-print-view"><h2 name="map-and-print-view">How do I toggle map and print views?</h2></a></li>
-->
	<li><a id="faq-content" name="what-is-duffel"><h2 name="what-is-duffel">What is Duffel?</h2></a></li>
	<p>Duffel is a visual bookmarking tool for travelers who love to plan their own trips.  It is your duffel bag where you collect, organize, and visualize your travel research from anywhere, online or offline.  It also allows you to create your own travel guides and share them with anyone you choose or the whole world. </p>
	
	<li><a id="faq-content" name="how-duffel-helps"><h2>How does Duffel help me?</h2></a></li>
	<p>Planning a perfect vacation requires inspiration and a place to collect those inspiration: Duffel provides both.  Browse other users' itineraries to find inspiration and tips.  Collect your research ideas from your favorite travel site.  Organize, share, and print your itinerary.</p>
	<p>Duffel can help you even when you're not planning a trip.  See an interesting article on South Africa?  Create a South Africa duffel and throw that idea in there using our <%= link_to "Clip-It Bookmarklet", {:controller => 'site', :action => 'tools'}, :id => 'site' %>.  Someday, when it is time to visit South Africa, all your ideas are right in front of you and you can just drag and drop them to schedule your itinerary.</p>
	
	<li><a id="faq-content" name="how-else-duffel-helps"><h2>Why is Duffel so special?</h2></a></li>
	<p>Duffel is a trip planning tool for people who are not planning any trips. We provide a place to collect your ideas across the web, whether you came across an interesting restaurant or searching for the perfect hotel.</p> 
	<p>Ever pondered about where to bring your out-of-town friends when they visit?  Have you tried researching the best and nearest hotels for your wedding guests?  What about collecting a list of your favorite local places and share them with your friends?</p>
	<p>Why don't you <%= link_to "try it for yourself", signup_url %>?</p>
	
	<li><a id="faq-content" name="how-duffel-different"><h2>How is Duffel different from other travel planning tools?</h2></a></li>
	<p>We realize that avid travelers often organize their trips with Excel or Word.  With Duffel, we strive to preserve the simplicity and flexibility offered by Excel and Word, yet offer a better way to visualize and share your travel research and itineraries.  To stick with our principles, we don't offer travel guides and bloated features; we merely present you a tool to plan your vacations and a medium to communicate these trips with Duffel community and everyone across the globe.</p>
	<p>You don't have to use Duffel just for travel.  Duffel is so flexible that you can use it everyday to collect your thoughts and organize your ideas.  Anything that essentially involves location, time, and people, Duffel can help.</p>
	
	<li><a id="faq-content" name="developing-new-features"><h2>Are you still developing new features?</h2></a></li>
	<p>Of course!  We are working hard to build new features.  Want to submit a new feature request?  Please fill out our <a onclick="feedback_widget.show()" href="#">feedback form</a>.
		
	<li><a id="faq-content" name="how-to-sign-up"><h2>How do I sign up?</h2></a></li>
	<p>We would love to have you!  Please sign up for a free account <%= link_to "here", signup_url %>.</p>
	
	<li><a id="faq-content" name="more-questions"><h2>I have questions that are not answered here.  What do I do?</h2></a></li>
	<p>Check out discussions on <a href="http://getsatisfaction.com/duffel" id="site">Get Satisfaction</a>.  You can post your question there and we'll try to answer it within a few days.  Of course, you can always <%= link_to "send us a feedback", feedback_url, :id => 'site' %> if you prefer more privacy.</p>
</ul>
</div>