<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= @title %></title> 
	<%= stylesheet_link_tag "home" %>
	<%= javascript_include_tag 'all' %>
	<meta name="description" content="<%= @meta_description %>" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="icon" type="image/png" href="/favicon.png">
    <script language="javascript">
		 function changeBox()
		 {
			document.getElementById('div1').style.display='none';
			document.getElementById('div2').style.display='';
			document.getElementById('user_password').focus();
		 }
		 function restoreBox()
		 {
			if(document.getElementById('user_password').value=='')
			{
			  document.getElementById('div1').style.display='';
			  document.getElementById('div2').style.display='none';
			}
		 }
	</script>
</head>

<body id="homepage"> 
	
	<% flash.each do |key, msg| -%>
		<%= content_tag :p, msg, :id => key -%>
	<% end -%>
 
<!-- #header -->  
	<div id="header" class="clearfix"> 
		<h2 id="logo">Duffel</h2> 
       	<ul> 
			<li><a href="/login">Sign in</a></li> 
			<li>/</li> 
			<li><a href="/signup">Sign up</a></li>
		</ul> 
    </div>
    
	<div class="clear"></div>     

<!-- #body-intro and signup --> 		

	<div id="intro" class="clearfix">
		
	  	<div id="features">
			<h2 id="tagline">Fun and corky way to plan your trips.</h2>
            <div id="feature1">
                <img src="/images/homepage/feat1.png" id="feat1" /><br />
            </div>
            
            <div id="feature3">
                <img src="/images/homepage/feat3_v2.png" id="feat3" /><br />
            </div>
            
            <div id="feature2">
                <img src="/images/homepage/feat2.png" id="feat2" />
            </div>
            
			<div id="feature_divider"></div>
            
                <div id="feature1_text">
                <span class="feat_header">
                Clip travel reviews<br />
                </span>
                <span class="feat_text">
                and recommendations from<br/>
				any webpage or email.
                </span>
            </div>
            
            <div id="feature3_text">
            <span class="feat_header">
                Plan the same trip<br />
                </span>
                <span class="feat_text">
                by sharing and collaborating<br/>
				with friends and family.
                </span>          
            </div>
            
            <div id="feature2_text">
                <span class="feat_header">See everything <br />
                </span>
                <span class="feat_text">
                laid out on an interactive<br />
                corkboard and map.
                </span>
            </div>
            
        </div>

		<div id="form-container" class="clearfix">
		<% form_for(:trip_city, :html => {:id => "trip_form"}, :url => create_new_visitor_trip_url) do |f| %>
			<%= text_field_with_auto_complete :trip, :destination, { :class => "trip_destination big", :placeholder => "Enter a city e.g. Rome, Italy" }, { :indicator => "indicator", :frequency => ".1", :min_chars => "3" } %>
			<%= submit_tag "Create a duffel, free", :class => "submit" %>
			<span id="indicator" style="display:none"><img class="indicator" src="/images/ajax-loader.gif" alt="loading" /></span>
		<% end %>
		</div>

	</div>
	
	<div id="divider" class="clearfix"></div>	

	<div id="main" class="clearfix">
    	<div id="app">
        	<a href="http://itunes.apple.com/us/app/duffel-up-and-go/id371064516?mt=8" target="_blank"><img src="/images/homepage/app.png" id="app_pic" /></a>
        </div>
        <div id="social">
        
            <a target="_blank" href="http://www.facebook.com/duffelup">
            <img src="/images/homepage/fb.png" align="center" class="social_pic" /></a>
            <span class="social_text">
            <a target="_blank" href="http://www.facebook.com/duffelup">duffel on Facebook</a></span><br /><br />
            
            <a target="_blank" href="http://twitter.com/duffelup">
            <img src="/images/homepage/twitter.png" align="center" class="social_pic" /></a>
            <span class="social_text">
            <a target="_blank" href="http://twitter.com/duffelup">duffel on Twitter</a></span><br /><br />
            
            <a href="http://blog.duffelup.com">
            <img src="/images/homepage/blog.png" align="center" class="social_pic" /></a>
            <span class="social_text">
            <a href="http://blog.duffelup.com">duffel Blog</a></span>
            
		</div>
        <div id="explore">
          <h2 class="explore_header">Need some travel ideas?</h2>
          <span class="explore_text">
          Explore duffels from popular cities!<br />
          
          <ul>
              <li><img src="/images/homepage/green_arrow.gif" border="0" align="baseline" />
              &nbsp;<a href="http://duffelup.com/US/NY/new-york">
              New York</a></li>
              <li><img src="/images/homepage/green_arrow.gif" border="0" align="baseline" />
              &nbsp;<a href="http://duffelup.com/FR/paris"	>
              Paris</a></li>
              <li><img src="/images/homepage/green_arrow.gif" border="0" align="baseline" />
              &nbsp;<a href="http://duffelup.com/US/CA/san-francisco">
              San Francisco</a></li>
              <li><img src="/images/homepage/green_arrow.gif" border="0" align="baseline" />
              &nbsp;<a href="http://duffelup.com/JP/tokyo">
              Tokyo</a></li>
              <li><img src="/images/homepage/green_arrow.gif" border="0" align="baseline" />
              &nbsp;<a href="http://duffelup.com/US/NV/las-vegas">
              Las Vegas</a></li>
              <li><img src="/images/homepage/green_arrow.gif" border="0" align="baseline" />
              &nbsp;<a href="http://duffelup.com/GB/london">
              London</a></li>
          </ul>
          </span>
          
          <span class="explore_text_sm">
          <a href="http://duffelup.com/explore">
          Browse on interactive map
          </a></span>
		</div>	
	</div>
    
<!-- #footer --> 	
	<%= render :partial => 'shared/footer' %>
<!-- #footer --> 
	<%= render :partial => 'shared/external_javascripts'%>
</body>
</html>
