<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= @title %></title> 
	<%= stylesheet_link_tag "home" %>
	<%= javascript_include_tag 'all' %>
	<meta name="description" content="<%= @meta_description %>" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="icon" type="image/png" href="/favicon.png">
</head>

<body id="homepage"> 
	
	<% flash.each do |key, msg| -%>
		<%= content_tag :p, msg, :id => key -%>
	<% end -%>
 
<!-- #header -->  
	<div id="header" class="clearfix"> 
		<h2 id="logo">Duffel</h2> 
       	<ul> 
			<li><a href="/login">Sign in</a></li> 
			<li>/</li> 
			<li><a href="/signup">Sign up</a></li>
		</ul> 
    </div>
    
	<div class="clear"></div>     

<!-- #body-intro and signup --> 		

	<div id="intro" class="clearfix">
		
	  	<div id="features">
			<h2 id="tagline">See the world with Duffel.</h2>
			
			<div id="form-container" class="clearfix">
			<% form_for(:trip_city, :html => {:id => "trip_form"}, :url => create_new_visitor_trip_url) do |f| %>
				<%= text_field_with_auto_complete :trip, :destination, { :class => "trip_destination big", :placeholder => "Enter a city e.g. Rome, Italy" }, { :indicator => "indicator", :frequency => ".1", :min_chars => "3" } %>
				<%= submit_tag "Go", :class => "submit", :onclick => "this.disabled=true;$('packing').show();" %>
				<span id="indicator" style="display:none"><img class="indicator" src="/images/ajax-loader.gif"/></span>
			<% end %>
			
			<span id="packing" style="font-size:16px;color:#888;font-style:italic;margin-left:170px;position:relative;top:5px;display:none;">Hold on, we're packing your duffel...</span>
			</div>
			
			<div id="explore-destinations">
				<small class="right" style="margin-right:45px;"><%= link_to "Explore more &raquo;</strong>", '/explore', :style => "color:#aaa" %></small>
		      <h2>Popular Destinations</h2>
		      <ul>
		        <li>
		            <div><a href="<%= na_city_url(:country_code => "US", :region => "NY", :city => "new-york")%>"><%= image_tag "/images/cities/85x85/new-york.jpg", :class => "image1" %></a></div>
		            <div><a href="<%= na_city_url(:country_code => "US", :region => "NY", :city => "new-york")%>">New York</a></div>
		        </li>
		        <li>
		            <div><a href="<%= na_city_url(:country_code => "US", :region => "CA", :city => "san-francisco")%>"><%= image_tag "/images/cities/85x85/san-francisco.jpg" %></a></div>
		            <div><a href="<%= na_city_url(:country_code => "US", :region => "CA", :city => "san-francisco")%>">San Francisco</a></div>
		        </li>
				<li>
		            <div><a href="<%= na_city_url(:country_code => "US", :region => "NV", :city => "las-vegas")%>"><%= image_tag "/images/cities/85x85/las-vegas.jpg" %></a></div>
		            <div><a href="<%= na_city_url(:country_code => "US", :region => "NV", :city => "las-vegas")%>">Las Vegas</a></div>
		        </li>
		        <li>
		            <div><a href="<%= na_city_url(:country_code => "US", :region => "CA", :city => "los-angeles")%>"><img src="/images/cities/85x85/los-angeles.jpg"/></a></div>
		            <div><a href="<%= na_city_url(:country_code => "US", :region => "CA", :city => "los-angeles")%>">Los Angeles</a></div>
		        </li>
		        <li>
		            <div><a href="<%= city_url(:country_code => "GB", :city => "london")%>"><img src="/images/cities/85x85/london.jpg"/></a></div>
		            <div><a href="<%= city_url(:country_code => "GB", :city => "london")%>">London</a></div>
		        </li>
				<li>
		            <div><a href="<%= city_url(:country_code => "FR", :city => "paris")%>"><img src="/images/cities/85x85/paris.jpg"/></a></div>
		            <div><a href="<%= city_url(:country_code => "FR", :city => "paris")%>">Paris</a></div>
		        </li>
		      </ul>
		    </div> <!-- #exploreDestinations -->
		</div> <!-- #features -->
	</div>
		
	<div id="main" class="clearfix">

		<ul id="social">
			<li class="facebook">
				<a href="http://www.facebook.com/duffelup" target="_blank"><span class="social_text">duffel on Facebook</span></a> 
			</li>
			<li>
				<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fduffelup&amp;send=false&amp;layout=standard&amp;width=280&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=35&amp;appId=143055821511" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:280px; height:35px;" allowTransparency="true"></iframe>
			</li>
	    
		</ul>
		<ul id="social" style="margin-left:20px;width:230px">
			<li class="twitter">
		    	<a href="http://twitter.com/duffelup" target="_blank"><span class="social_text">duffel on Twitter</span></a> 
			</li>
			<li class="blog">
				<a href="http://blog.duffelup.com" target="_blank"><span class="social_text">duffel Blog</span></a>
			</li>
		</ul>
		<ul id="social">
			<li class="apple">
		    	<a href="http://itunes.apple.com/us/app/duffel-up-and-go/id371064516?mt=8" target="_blank"><span class="social_text">duffel in App Store</span></a> 
			</li>
			<li>
				<a href="/site/about"><span class="faux_link">Learn more about Duffel &raquo;</span></a>
			</li>
		</ul>
	</div>
    
<!-- #footer --> 	
	<%= render :partial => 'shared/footer' %>
<!-- #footer --> 
	<%= render :partial => 'shared/external_javascripts'%>
</body>
</html>
