
	<div id="city-image">
		<ul>
			<% @photos.each do |p| %>
			<li><%= image_tag FlickRaw.url_b(p)%>
				<div class="by"><a href="<%= FlickRaw.url_photopage(p) %>" target="_blank"><%= FlickRaw.url_photopage(p) %></a></div></li>
			<% end %>
		</ul>
	
		<h1><%= @city.city %> <%= ", #{params[:region]}" if params[:region] %>, <%= link_to @city.country_name, "/country/#{params[:country_code]}" %></h1>
		<h6>Total <%= pluralize(@duffel_count["0"]+@duffel_count["1"], "duffel") %> to <%= @city.city %>, including <%= pluralize(@duffel_count["1"], "public duffel") %></h6>
		<%= link_to "Create a duffel to #{@city.city}", new_trip_url(:city => @city.city_country), :class => "create-duffel" %>
		
		
	</div>

	<script>
	document.observe("dom:loaded", function() {
	new Horinaja('city-image',0.3,4,false);
	});
	</script>