<div class="pin <% if !photo_exists?(pin) %>note<% end %>">
	<div class="actions">
		<div class="add-to-duffel"><%= build_url_for_copy("Add to my duffel", pin, pin.trip_perma) %></div>
		<div class="like <% if liked?(pin) %>disabled<% end %>" id="like_<%= pin.id %>">
			<% if logged_in? %>
				<% if liked?(pin) %>
					<%= link_to_remote "Unlike", { :url => "/like/111/?event=#{pin.id}", :method => :delete } -%>
				<% else %>
					<%= link_to_remote "<span style=\"padding:0 0 2px 31px;background:url(/images/icon-favorite.png) no-repeat 10px -7px;z-index:3;\">Like this</span>", { :url => "/like/?event=#{pin.id}", :method => :post }, :style => "padding-left:0;" -%>
				<% end %>
			<% else %>
				<a style="padding-left:0" href="/like/new?redirect=<%= request.request_uri %>"><span style="padding:0 0 2px 31px;background:url(/images/icon-favorite.png) no-repeat 10px -7px;z-index:3">Like this</span></a>
			<% end %>
		</div>
	</div>
	
	<% if pin.eventable_type == "Foodanddrink"%>
		<span class="idea-label fooddrink">Food &amp; Drink</span>
	<% elsif pin.eventable_type == "Activity" %>
		<span class="idea-label activity">Activity</span>
	<% elsif pin.eventable_type == "Hotel" %>
		<span class="idea-label lodging">Lodging</span>
	<% end %>
	
	<% if photo_exists?(pin) %>
		<a class="ImgLink" href="<%= trip_idea_url(:permalink => pin.trip_perma, :id => pin.id) %>">
		<img style="width: 180px;" alt="<%= pin.title %>" src="<%= get_image_url(pin) %>">
		</a>
	<% elsif pin.lat and pin.lng %>
		<a class="ImgLink" href="<%= trip_idea_url(:permalink => pin.trip_perma, :id => pin.id) %>">
		<img class="map" src="<%= build_static_map_url(pin, :size => "180x130", :zoom => 15) %>">
		</a>
	<% end %>
	
	<h3><%= pin.title %></h3>
	<p class="description"><%= truncate(h(pin.note), :length => Event::TRUNCATE_NOTE_ON_CITY_PAGE) %></p>
	
	<% if @pin_like_count[pin.id] != nil and @pin_like_count[pin.id].to_i > 0 %>
	<p class="likes"><%= pluralize(@pin_like_count[pin.id].to_s, "like") %></p>
	<% end %>
	
	<% if pin.public_trip == "1" %>
		<p class="info">By <a href="/<%= pin.author %>"><%= pin.author %></a> to <a href="/trips/<%= pin.trip_perma %>"><%= pin.trip_title %></a></p>
	<% else %>
		<p class="info">By <a href="/<%= pin.author %>"><%= pin.author %></a> to <span title="Private duffel"><strong><%= pin.trip_title %></strong> <img style="vertical-align:middle;height:13px" src="/images/icon-lock.png"/></span></p>
	<% end %>
	
</div>
