<div id="central">

	<%= render :partial => 'cities_header' %>
	
	<div>Found <%= @activities_count.to_s %> activities</div>
	
	<%= will_paginate @activities -%>

	<ul class="user-list">
	<%- @activities.each do |a| -%>
		<li>
			<div><%= image_tag(a.product_image_thumb)%><%= image_tag(a.product_image)%></div>
			<h3><%= link_to a.product_name, a.product_url %> <span>Duration: <%= a.duration %> Price: <%= a.price %></span></h3>
			<p><%= truncate(a.introduction, :length => 100) %></p>
			<div><a href="#">Add to Duffel</a></div>
		</li>
	<%- end -%>
	</ul>

	<div class="clear"></div>

	<%= will_paginate @activities -%>
	
</div>