<%= javascript_include_tag 'slider' %>

<div id="central">

	<%= render :partial => 'cities_header' %>
	
	
	<% unless @trips.empty? %>
	
		<h2>Recent duffels to <%= @city.city %></h2>
	
	<% else %>
	
		<p>No public duffels to <%= @city.city %> found.   Check out our offerings below, or <%= link_to "search for another city here", trips_url %>.</p>
	
	<% end %>

	<ul class="duffel-list">
		<% @trips.each do |trip| %>
			<li class="duffel">
				<div class="seperate"></div>
				
				<% if trip.comment_count.to_i != 0 %><% end %>
				
				<span class="comment-favorite">
				<span id="add-comment-trip-<%=trip.id.to_s%>"><%= link_to trip.comment_count, trip_comments_path(:permalink => trip.permalink), :class => 'cf-comment', :title => "Post comment" %></span> 
				
				<span class="cf-favorite" title="<%= trip.favorite_count %> added as favorite" alt="<%= trip.favorite_count %> added as favorite"><%= trip.favorite_count %></span>
				</span>
				
				<a href="<%= trip_url(trip) %>" class="duffel-picture" style="<%= duffel_thumbnail_style(trip) %>"></a>
				
				<strong><%= link_to h(trip.title), trip_url(:id => trip)  %></strong>
				<em class="mute"><%= display_trip_dates(trip.start_date,trip.end_date) if (trip.start_date and trip.end_date) -%></em>
			
				<div class="collaborators">
					<%= duffel_collaborators(@users_by_trip_id[trip.id.to_s]) %>
				</div>
			</li>
		<% end %>
		
	</ul>

	<% unless true #@trips.empty? %>
	<% if params[:country_code] == "US" or params[:country_code] == "CA" %>
		<%= link_to "See more duffels. Filter &amp; sort them &rarr;", na_city_duffels_url(:country_code => params[:country_code], :region => params[:region], :city => params[:city]), :class => 'more-duffels', :style => "margin:30px 5px 20px 20px;" %>
		<img src="/images/ico-new.png" alt="New" style="margin-top:35px"/>
	<% else %>
		<%= link_to "See more duffels. Filter &amp; sort them &rarr;", city_duffels_url(:country_code => params[:country_code], :city => params[:city]), :class => 'more-duffels', :style => "margin:30px 5px 20px 20px;" %>
		<img src="/images/ico-new.png" alt="New" style="margin-top:35px"/>
	<% end %>
	<% end %>
	
	
	<div class="clear"></div>
	
	
<!--
	<% cache("city-#{@city.city_country}-activities") do %>
	
	<% if !@activities.empty? %>
	<h2 style="margin-top: 25px;">Top Activities from Our Partner</h2>
	<% end %>
	
	<ul class="recommendation-list">
		
		<% @activities.each do |e| %>
			<li>
				<div class="seperate"></div>
				<div class="more-details">
					<a href="<%= e.product_url %>" target="_blank" onClick="pageTracker._trackEvent('Viator', 'click-on-text', 'page-city', '<%= @city.city %>');"><%= h(truncate(e.introduction.gsub(/<\/?[^>]*>/, ""), :length => 130)) %></a>
					<a href="<%= e.product_url %>" target="_blank" onClick="pageTracker._trackEvent('Viator', 'click-on-details', 'page-city', '<%= @city.city %>');" class="more-details-button">more details</a>
				</div>
				<img src="<%= e.product_image_thumb %>" alt="<%= e.product_name %>" title="<%= e.product_name %>" width="75" height="75" />
				<strong><a href="<%= e.product_url %>" target="_blank" onClick="pageTracker._trackEvent('Viator', 'click-on-title', 'page-city', '<%= @city.city %>');"><%= e.product_name %></a></strong>
				<br/><em><strong><%= number_to_currency(e.price) %></strong> <span class="t11 mute">per person</span></em>
				<br/><span style="position:absolute;padding-top:5px">Duration: <strong><%= e.duration %></strong></span>
			</li>
		<% end %>	

	</ul>
	
	<% end %>
-->
</div>