<%= javascript_include_tag 'slider' %>

<div id="central">

	<%= render :partial => 'cities_header' %>
	
	<div id="board">
		<div style="height:38px">
			<div class="divider"><h2 style="float:left">Travel ideas for <%= @city.city %></h2></div>
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="float:right;margin-right:100px">
			<a class="addthis_button_facebook"></a>
			<a class="addthis_button_twitter"></a>
			<a class="addthis_button_email"></a>
			<a class="addthis_button_compact"></a>
			</div>
			<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=duffel"></script>
			<!-- AddThis Button END -->
		</div>
		
		<div id="sidebar" style="float:right">	
		
			<div class="sidebar-pin" style="height:160px;">
				<a title="Map of <%= @city.city %>" href="http://maps.google.com/?q=<%=@city.city_country%>" target="_blank"><img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=@city.city_country%>&zoom=10&size=215x150&sensor=false"></a>
			</div>
		
			<% if @featured %>
			<div class="sidebar-pin" style="padding-bottom:15px">
				<h3 style="padding-bottom:5px"><strong>Featured duffel</strong> <span><a style="color:#F20063;float:right;font-size:11px" href="/featured">View more &raquo;</a></span></h3>
				<div class="avatar">
			       	<% if !@featured.trip.photo.size.nil? and @featured.trip.photo.size != "" %>
					<span><a class="ImgLink" href="<%=trip_path(@featured.trip)%>"><img style="max-width:215px" src="<%= @featured.trip.photo.url(:small) %>" class="duffel-image" /></a></span>
					<% elsif !@featured.trip.photo_file_name.nil? %>
					<span><a class="ImgLink" href="<%=trip_path(@featured.trip)%>"><img style="max-width:215px" src="<%=@featured.trip.photo_file_name.gsub("_s.jpg", "_m.jpg") %>" class="duffel-image" /></a></span>
					<% end %>
			      </div>
			      <div class="profile">
			        <h4><a href="<%=trip_path(@featured.trip)%>"><%=truncate(@featured.trip.title, :length => 28)%></a></h4>
					<cite style="margin-top:5px">
						<small><span class="cf-favorite" style="display:inline;padding:5px 5px 0 25px"><%=pluralize(@featured.trip.favorites.size, "Fave")%></span>
						<span class="cf-comment" style="display:inline;padding:5px 5px 0 25px"><%=pluralize(@featured.trip.comments.size, "Comment")%></span> </small>
					</cite>
			      </div>
			      <div class="collaborators">
						Planned by&nbsp;&nbsp;<%= duffel_collaborators(@featured.trip.users, 5) %>
			      </div>
			</div>
			<% end %>
		
			<% if !@activities.empty? %>
			<div class="sidebar-pin">
				<h3><strong>Top offers from our partners</strong></h3>
				<ul class="recommendation-list">

					<% @activities.each do |e| %>
						<li>
							<div class="seperate"></div>
							<a class="ImgLink" href="<%= e.product_url %>" target="_blank" onClick="pageTracker._trackEvent('Viator', 'click-on-image', 'page-city', '<%= @city.city %>');"><img src="<%= e.product_image_thumb %>" alt="<%= e.product_name %>" title="<%= e.product_name %>" width="75" height="75" /></a>
							<strong><a style="font-size:1.1em" href="<%= e.product_url %>" target="_blank" onClick="pageTracker._trackEvent('Viator', 'click-on-title', 'page-city', '<%= @city.city %>');"><%= e.product_name %></a></strong>
							<br/><em style="position:absolute;margin-top:4px"><strong><%= number_to_currency(e.price) %></strong> <span class="t11 mute">per person</span></em>
							<br/><span style="position:absolute;padding-top:8px">Duration: <strong><%= e.duration %></strong></span>
						</li>
					<% end %>	

				</ul>
			</div>
			<% end %>
			
			<div class="sidebar-pin" style="height:230px">
				<object height="215" width="215" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"><param value="http://www.splendia.com/images/aff/SPL-EN-250x250.swf?clickTag=http%3A%2F%2Fwww.splendia.com%2Fen%2F%3Faftrackid%3DA434%26aftrackmedia%3Dbanner%26utm_source%3Dduffelup-com%26utm_medium%3Dpartner-cpa%26utm_campaign%3Dgeneric%26utm_content%3Dt%3Abanner_s%3A250x250%26utm_term%3Dg%3Abrand_p%3A0_t%3A0_f%3A0" name="movie"/><param value="high" name="quality"/><param value="opaque" name="wmode"/><embed height="215" width="215" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="opaque" quality="high" src="http://www.splendia.com/images/aff/SPL-EN-250x250.swf?clickTag=http%3A%2F%2Fwww.splendia.com%2Fen%2F%3Faftrackid%3DA434%26aftrackmedia%3Dbanner%26utm_source%3Dduffelup-com%26utm_medium%3Dpartner-cpa%26utm_campaign%3Dgeneric%26utm_content%3Dt%3Abanner_s%3A250x250%26utm_term%3Dg%3Abrand_p%3A0_t%3A0_f%3A0"/></object>
			</div>
		
		</div>
		
		<div id="main-board" style="width:720px;">
		
			<%= render :partial => "pin", :collection => @pins %>
			
			<%= will_paginate @pins, 
							:params => {:controller => 'cities', :action => 'more_pins', :city => params[:city], :region => params[:region], :country_code => params[:country_code]},
							:renderer => FlowPagination::LinkRenderer %>
		</div>
	</div>
	
	<script type="text/javascript"> 
		document.observe("dom:loaded",function() {
		new Masonry($('main-board'),{itemSelector: '.pin'});});
	</script>

	
	<% unless true #@trips.empty? %>
	<% unless @trips.empty? %>
	
		<h2>Recent duffels to <%= @city.city %></h2>
	
	<% else %>
	
		<p>No public duffels to <%= @city.city %> found.   Check out our offerings below, or <%= link_to "search for another city here", trips_url %>.</p>
	
	<% end %>

	<ul class="duffel-list">
		<% @trips.each do |trip| %>
			<li class="duffel">
				<div class="seperate"></div>
				
				<% if trip.comment_count.to_i != 0 %><% end %>
				
				<span class="comment-favorite">
				<span id="add-comment-trip-<%=trip.id.to_s%>"><%= link_to trip.comment_count, trip_comments_path(:permalink => trip.permalink), :class => 'cf-comment', :title => "Post comment" %></span> 
				
				<span class="cf-favorite" title="<%= trip.favorite_count %> added as favorite" alt="<%= trip.favorite_count %> added as favorite"><%= trip.favorite_count %></span>
				</span>
				
				<a href="<%= trip_url(trip) %>" class="duffel-picture" style="<%= duffel_thumbnail_style(trip) %>"></a>
				
				<strong><%= link_to h(trip.title), trip_url(:id => trip)  %></strong>
				<em class="mute"><%= display_trip_dates(trip.start_date,trip.end_date) if (trip.start_date and trip.end_date) -%></em>
			
				<div class="collaborators">
					<%= duffel_collaborators(@users_by_trip_id[trip.id.to_s]) %>
				</div>
			</li>
		<% end %>
		
	</ul>
	
	<% #unless true #@trips.empty? %>
	<% if params[:country_code] == "US" or params[:country_code] == "CA" %>
		<%= link_to "See more duffels. Filter &amp; sort them &rarr;", na_city_duffels_url(:country_code => params[:country_code], :region => params[:region], :city => params[:city]), :class => 'more-duffels', :style => "margin:30px 5px 20px 20px;" %>
		<img src="/images/ico-new.png" alt="New" style="margin-top:35px"/>
	<% else %>
		<%= link_to "See more duffels. Filter &amp; sort them &rarr;", city_duffels_url(:country_code => params[:country_code], :city => params[:city]), :class => 'more-duffels', :style => "margin:30px 5px 20px 20px;" %>
		<img src="/images/ico-new.png" alt="New" style="margin-top:35px"/>
	<% end %>
	<% end %>
	
	
	<div class="clear"></div>
	
	<ul class="cities_box" style="margin-top:20px">
		<h3 style="font-size:13px;color:#666;margin-bottom:10px;">Visit more of Duffel's popular cities</h3>
		
		<li class="cities_list_20"><a title="Amsterdam, Netherlands" href="http://duffelup.com/nl/amsterdam">Amsterdam</a></li>
		
		<li class="cities_list_20"><a title="Athens, Greece" href="http://duffelup.com/gr/athens">Athens</a></li>

		<li class="cities_list_20"><a title="Bangkok, Thailand" href="http://duffelup.com/th/bangkok">Bangkok</a></li>

		<li class="cities_list_20"><a title="Barcelona, Spain" href="http://duffelup.com/es/barcelona">Barcelona</a></li>

		<li class="cities_list_20"><a title="Beijing, China" href="http://duffelup.com/cn/beijing">Beijing</a></li>

		<li class="cities_list_20"><a title="Berlin, Germany" href="http://duffelup.com/de/berlin">Berlin</a></li>

		<li class="cities_list_20"><a title="Boston, MA, United States" href="http://duffelup.com/us/ma/boston">Boston</a></li>

		<li class="cities_list_20"><a title="Brussels, Belgium" href="http://duffelup.com/be/brussels">Brussels</a></li>

		<li class="cities_list_20"><a title="Buenos Aires, Argentina" href="http://duffelup.com/AR/buenos-aires">Buenos Aires</a></li>
		
		<li class="cities_list_20"><a title="Chicago, IL, United States" href="http://duffelup.com/us/il/chicago">Chicago</a></li>

		<li class="cities_list_20"><a title="Copenhagen, Denmark" href="http://duffelup.com/dk/copenhagen">Copenhagen</a></li>

		<li class="cities_list_20"><a title="Denver, CO, United States" href="http://duffelup.com/us/co/denver">Denver</a></li>

		<li class="cities_list_20"><a title="Dublin, Ireland" href="http://duffelup.com/ie/dublin">Dublin</a></li>

		<li class="cities_list_20"><a title="Geneva, Switzerland" href="http://duffelup.com/ch/geneva">Geneva</a></li>

		<li class="cities_list_20"><a title="Helsinki, Finland" href="http://duffelup.com/fi/helsinki">Helsinki</a></li>

		<li class="cities_list_20"><a title="Hong Kong, China" href="http://duffelup.com/hk/hong-kong">Hong Kong</a></li>

		<li class="cities_list_20"><a title="Las Vegas, NV, United States" href="http://duffelup.com/us/nv/las-vegas">Las Vegas</a></li>

		<li class="cities_list_20"><a title="London, United Kingdom" href="http://duffelup.com/gb/london">London</a></li>

		<li class="cities_list_20"><a title="Los Angeles, CA, United States" href="http://duffelup.com/us/ca/los-angeles">Los Angeles</a></li>

		<li class="cities_list_20"><a title="Madrid, Spain" href="http://duffelup.com/es/madrid">Madrid</a></li>

		<li class="cities_list_20"><a title="Melbourne, Australia" href="http://duffelup.com/au/melbourne">Melbourne</a></li>

		<li class="cities_list_20"><a title="Miami, FL, United States" href="http://duffelup.com/us/fl/miami">Miami</a></li>

		<li class="cities_list_20"><a title="Milan, Italy" href="http://duffelup.com/it/milan">Milan</a></li>

		<li class="cities_list_20"><a title="Munich, Germany" href="http://duffelup.com/de/munich">Munich</a></li>

		<li class="cities_list_20"><a title="New York, NY, United States" href="http://duffelup.com/us/ny/new-york">New York</a></li>

		<li class="cities_list_20"><a title="Oslo, Norway" href="http://duffelup.com/no/oslo">Oslo</a></li>

		<li class="cities_list_20"><a title="Paris, France" href="http://duffelup.com/fr/paris">Paris</a></li>

		<li class="cities_list_20"><a title="Portland, OR, United States" href="http://duffelup.com/us/or/portland">Portland</a></li>

		<li class="cities_list_20"><a title="Prague, Czech Republic" href="http://duffelup.com/cz/prague">Prague</a></li>

		<li class="cities_list_20"><a title="Rome, Italy" href="http://duffelup.com/it/rome">Rome</a></li>

		<li class="cities_list_20"><a title="San Diego, CA, United States" href="http://duffelup.com/us/ca/san-diego">San Diego</a></li>

		<li class="cities_list_20"><a title="San Francisco, CA, United States" href="http://duffelup.com/us/ca/san-francisco">San Francisco</a></li>

		<li class="cities_list_20"><a title="Seattle, WA, United States" href="http://duffelup.com/us/wa/seattle">Seattle</a></li>

		<li class="cities_list_20"><a title="Shanghai, China" href="http://duffelup.com/cn/shanghai">Shanghai</a></li>

		<li class="cities_list_20"><a title="Singapore, Singapore" href="http://duffelup.com/sg/singapore">Singapore</a></li>

		<li class="cities_list_20"><a title="Stockholm, Sweden" href="http://duffelup.com/se/stockholm">Stockholm</a></li>

		<li class="cities_list_20"><a title="Sydney, Australia" href="http://duffelup.com/au/sydney">Sydney</a></li>

		<li class="cities_list_20"><a title="Tokyo, Japan" href="http://duffelup.com/jp/tokyo">Tokyo</a></li>

		<li class="cities_list_20"><a title="Toronto, Canada" href="http://duffelup.com/ca/toronto">Toronto</a></li>

		<li class="cities_list_20"><a title="Vancouver, Canada" href="http://duffelup.com/ca/vancouver">Vancouver</a></li>

		<li class="cities_list_20"><a title="Vienna, Austria" href="http://duffelup.com/at/vienna">Vienna</a></li>

		<li class="cities_list_20"><a title="Washington, DC, United States" href="http://duffelup.com/us/dc/washington">Washington</a></li>

	</ul>
</div>