<div id="central">

	<%= render :partial => 'cities_header' %>
	
	<style type="text/css">
	        #searchboxInc {
	                font: 12px/1.5 Arial, Helvetica, sans-serif;
	                color: #000;
	                width: 280px;
					margin-top:48px;
					padding: 2px;
					float:right;
	        }

			#searchboxInc label {
				color: #000;
				padding: 0;
			}

	        #searchboxInc form {
	                background: #DBF0F4;
	        }

	        #searchboxInc fieldset, #searchboxInc img {
	                border: 0;
	        }

	        #searchboxInc fieldset {
	                padding: 8px;
	        }

	        #searchboxInc #inout h3 {
	                background-color:transparent;
	                font-size:1.1em;
	        }

	        #searchboxInc h3 {
	                margin-bottom:0.2em;
	                position:static;
	                font-size:118%;
	                font-weight:bold;
	                margin: 0;
	        }

	        #searchboxInc p {
	                font-size: 1.6em;
	                margin: 0;
	        }

	        #homein, #homeout {
	                float: left;
	                padding: 0.5em 1em 0 0;
	        }

	        .avail {
	                padding-top: 1em;
	                float: left;
	        }
	
			#searchboxInc .but button{
					margin-top:10px;
			}

	        #searchboxInc a.calender {
	                vertical-align: -4px;
	        }

	        #searchboxInc a.calender img {
	                background: #0896ff;
	        }

	        .blur {
	                color: #999;
	        }

	        button {
	                float: right;
	                -moz-border-radius: 8px;
	                background-color: #999;
	                border: 2px solid #fff;
	                color: #fff;
	                letter-spacing: 1px;
	                padding: 0.15em 0.75em;
	                text-transform: uppercase;
	                font: bold 1.333em/1 Arial, Helvetica, sans-serif;
	        }

	        #calendar {
	                font: 12px/1.5 Arial, Helvetica, sans-serif;
	                color: #003580;
	            display: none;
	            position: absolute;
	            background-image: url(http://www.booking.com/static/img/shadow3.png);
	            padding: 0 4px 4px 0;
	        }

	       /* For calendar */
	        .caltable {
	            border: 1px solid #003580;
	            background-color: #fff;
	        }
	        .caltable a:link, .caltable a:visited {
	            color: #0896ff !important;
	        }
	        .caltable a:hover {
	            color: #feba02 !important;
	            border-color: #feba02 !important;
	        }
	        .caltable a:active {
	            color: #b30000 !important;
	            border-color: #b30000 !important;
	        }
	        .caltable td {
	            text-align: center;
	        }
	        .caltable td a {
	            display: block;
	            text-decoration: none;
	        }
	        .caltable td.calheader a {
	            display: inline;
	            vertical-align: -.4em;
	        }
	        .caltable td.calheader img.calNoPrevMonth {
	            background: white url(http://booking.com/static/img/butPrevMonth.png) 0 -72px no-repeat;
	            vertical-align: -.4em;
	        }
	        .caltable td.calheader img.calNoNextMonth {
	            background: white url(http://booking.com/static/img/butNextMonth.png) 0 -72px no-repeat;
	            vertical-align: -.4em;
	        }
	        .caltable td.calheader .calNextMonth img {
	            background: white url(http://booking.com/static/img/butNextMonth2.png) 0 0 no-repeat;
	        }
	        .caltable td.calheader .calPrevMonth img {
	            background: white url(http://booking.com/static/img/butPrevMonth2.png) 0 0 no-repeat;
	        }
	        .caltable td.calheader .calNextMonth:hover img, .caltable td.calheader .calPrevMonth:hover img {
	            background-position: 0 -24px;
	        }
	        .caltable td.calheader .calNextMonth:active img, .caltable td.calheader .calPrevMonth:active img {
	            background-position: 0 -48px;
	        }
	        .calheader {
	            padding: .4em;
	            white-space: nowrap;
	        }
	        .calheader select {
	            margin: 0 .6em;
	        }
	        .monthYear {
	            background-color: #ffffff;
	            color: white;
	        }

	       .dayNames td {
	            border-bottom: 1px solid #003580;
	            background-color: #e6edf6;
	        }
	        .days td {
	            color: #779bca;
	            background-color: #e6edf6;
	            padding: .2em;
	            border: 2px solid #e6edf6;
	        }
	        .days td.weekend {
	            background-color: #c5d4e9;
	            border-color: #c5d4e9;
	        }
	        .days td.past {
	            text-decoration: line-through;
	        }
	        .days td.today, .days td.future {
	            border: none;
	            padding: 0;
	        }
	        .days td a {
	            padding: .2em;
	            border: 2px solid #e6edf6;
	        }
	        .days td.weekend a {
	            border-color: #c5d4e9;
	        }
	        .days td.today a {
	            background-color: #fff;
	        }
	        .days td.selected {
	            font-weight: bold;
	        }
	        .days td.selected a {
	            border-color: #0896ff;
	        }

	</style>
	
	<%= render :partial => 'site/hotels_search_form', :locals => { :form_title => "Find #{@city.city} Hotels", :label => "city_page", :dest_field => @city.city } %>
	
	<% cache("city-#{@city.city_country}-duffels") do %>
	
	<% unless @trips.empty? %>
	
		<h2>Recent duffels to <%= @city.city %></h2>
	
	<% else %>
	
		<p>No public duffels to <%= @city.city %> found.   Check out our offerings below, or <%= link_to "search for another city here", trips_url %>.</p>
	
	<% end %>

	<ul class="duffel-list">
		<% @trips.each do |trip| %>
			<li class="duffel">
				<div class="seperate"></div>
				
				<% if trip.comment_count.to_i != 0 %><% end %>
				
				<span class="comment-favorite">
				<span id="add-comment-trip-<%=trip.id.to_s%>"><%= link_to trip.comment_count, trip_comments_path(:permalink => trip.permalink), :class => 'cf-comment', :title => "Post comment" %></span> 
				
				<span class="cf-favorite" title="<%= trip.favorite_count %> added as favorite" alt="<%= trip.favorite_count %> added as favorite"><%= trip.favorite_count %></span>
				</span>
				
				<a href="<%= trip_url(trip) %>" class="duffel-picture" style="<%= duffel_thumbnail_style(trip) %>"></a>
				
				<strong><%= link_to h(trip.title), trip_url(:id => trip)  %></strong>
				<em class="mute"><%= display_trip_dates(trip.start_date,trip.end_date) if (trip.start_date and trip.end_date) -%></em>
			
				<div class="collaborators">
					<%= duffel_collaborators(@users_by_trip_id[trip.id.to_s]) %>
				</div>
			</li>
		<% end %>
		
	</ul>

	<% unless @trips.empty? %>
	<% if params[:country_code] == "US" or params[:country_code] == "CA" %>
		<%= link_to "See more duffels. Filter &amp; sort them &rarr;", na_city_duffels_url(:country_code => params[:country_code], :region => params[:region], :city => params[:city]), :class => 'more-duffels', :style => "margin:30px 5px 20px 20px;" %>
		<img src="/images/ico-new.png" alt="New" style="margin-top:35px"/>
	<% else %>
		<%= link_to "See more duffels. Filter &amp; sort them &rarr;", city_duffels_url(:country_code => params[:country_code], :city => params[:city]), :class => 'more-duffels', :style => "margin:30px 5px 20px 20px;" %>
		<img src="/images/ico-new.png" alt="New" style="margin-top:35px"/>
	<% end %>
	<% end %>
	
	<% end %><!-- end of duffels cache -->
	
	<div class="clear"></div>
	
<!--
	<% cache("city-#{@city.city_country}-activities") do %>
	
	<% if !@activities.empty? %>
	<h2 style="margin-top: 25px;">Top Activities from Our Partner</h2>
	<% end %>
	
	<ul class="recommendation-list">
		
		<% @activities.each do |e| %>
			<li>
				<div class="seperate"></div>
				<div class="more-details">
					<a href="<%= e.product_url %>" target="_blank" onClick="pageTracker._trackEvent('Viator', 'click-on-text', 'page-city', '<%= @city.city %>');"><%= h(truncate(e.introduction.gsub(/<\/?[^>]*>/, ""), :length => 130)) %></a>
					<a href="<%= e.product_url %>" target="_blank" onClick="pageTracker._trackEvent('Viator', 'click-on-details', 'page-city', '<%= @city.city %>');" class="more-details-button">more details</a>
				</div>
				<img src="<%= e.product_image_thumb %>" alt="<%= e.product_name %>" title="<%= e.product_name %>" width="75" height="75" />
				<strong><a href="<%= e.product_url %>" target="_blank" onClick="pageTracker._trackEvent('Viator', 'click-on-title', 'page-city', '<%= @city.city %>');"><%= e.product_name %></a></strong>
				<br/><em><strong><%= number_to_currency(e.price) %></strong> <span class="t11 mute">per person</span></em>
				<br/><span style="position:absolute;padding-top:5px">Duration: <strong><%= e.duration %></strong></span>
			</li>
		<% end %>	

	</ul>
	
	<% end %>
-->
</div>