<li onclick="<%= display_onclick_event_details(@trip.permalink, event.id, event.list) %>" <% if sortable_tile %>class="sortable"<% end %> id="list_<%= day+1 %>_<%= event.id %>" style="position:relative;">

<%- if event.eventable_type == "Foodanddrink" -%>
<span class="foodanddrink">
<%- elsif event.eventable_type == "Transportation" -%>
<span class="transport">
<%- elsif event.eventable_type == "Activity" -%>
<span class="activity">
<%- elsif event.eventable_type == "Hotel" -%>
<span class="lodging">
<%- elsif event.eventable_type == "Notes" -%>
<span class="note">
<%- elsif event.eventable_type == "CheckIn" %>
<span class="checkin">
<%- end -%>

<!-- if map view -->	
<% if map %>

	<!--
	 #Only Activity, Hotel, Foodanddrink and CheckIn can be mapped 
	-->
	<% if event.eventable_type == "Activity" or event.eventable_type == "Hotel" or event.eventable_type == "Foodanddrink" or event.eventable_type == "CheckIn" %>
		<% if event.lat and event.lng %>
		<%= event.index unless event.index.nil? %>. <%= display_title_without_link(event) %>
		<% else %>
		<%= display_title_without_link(event) %>
		<% end %>
	<% else %>
		<%= display_title_without_link(event) %>
	<% end %>
	
<% else %> <!-- if not map view -->

	<%= display_title_without_link(event) %>
	
<% end %>

<em class="list-actions">
<% if params[:view] != "map" %>
<!--<span title="More info" id="list_<%=event.list.to_s%>_<%=event.id.to_s%>" class="idea-info"><a href="#" onclick="<%= display_onclick_event_details(@trip.permalink, event.id, event.list) %>">More Info</a></span>-->
<% else %>
<span title="Expand" id="<%= event.id %>_expand" class="idea-expand"><a href="#" onclick="Element.toggle('<%= event.id %>_details'); Element.toggle('<%= event.id %>_collapse'); Element.toggle('<%= event.id %>_expand'); return false;">+</a></span>
<span title="Collapse" style="display:none;" id="<%= event.id %>_collapse" class="idea-collapse"><a href="#" onclick="Element.toggle('<%= event.id %>_details'); Element.toggle('<%= event.id %>_expand'); Element.toggle('<%= event.id %>_collapse'); return false;">+</a></span>
<% end %>

<%- unless event.eventable_type == "CheckIn" -%>
<%- if logged_in? -%><span title="Copy" class="idea-copy"><%= build_url_for_copy("Copy", event, @trip.permalink) %></span><%- end -%>
<%- end -%>

<% if sortable_tile %>

	<!-- 
	 #Only Activity, Hotel, and Foodanddrink have partner_id 
	-->
	<% if event.eventable_type == "Activity" or event.eventable_type == "Hotel" or event.eventable_type == "Foodanddrink" %>
		<% unless event.partner_id == Idea::PARTNER_ID["viator"] %>
			<!-- if map view, add view=map parameter -->
			<% if map %>
				<span class="idea-edit"><%= fast_link("Edit", "trips/#{@trip.permalink}/ideas/#{event.id}/edit?view=map", "rel=\"ibox\" title=\"Edit\"") %></span>
			<% else %>
				<span class="idea-edit"><%= fast_link("Edit", "trips/#{@trip.permalink}/ideas/#{event.id}/edit", "rel=\"ibox\" title=\"Edit\"") %></span>
			<% end %>
		<% end %>
	<% elsif event.eventable_type == "CheckIn" %>
		<!-- cannot edit CheckIn -->
	<% else %>
		<% if map %>
			<span class="idea-edit"><%= fast_link("Edit", "trips/#{@trip.permalink}/ideas/#{event.id}/edit?view=map", "rel=\"ibox\" title=\"Edit\"") %></span>
		<% else %>
			<span class="idea-edit"><%= fast_link("Edit", "trips/#{@trip.permalink}/ideas/#{event.id}/edit", "rel=\"ibox\" title=\"Edit\"") %></span>
		<% end %>
	<% end %>

	
<% end %>

</em>

<!-- event details here -->
   <div id="<%= event.id %>_details" style="display: none;">
           <%= render :partial => '/events/event_details', :locals => { :event_detail => event, :trip_permalink => @trip.permalink } %>
   </div>
</span>
</li>