<li <% if @users.include?(current_user) %>class="sortable"<% end %> id="list_<%= day+1 %>_<%= event.id %>" style="position:relative;">

<%- if event.eventable_type == "Foodanddrink" -%>
<span class="foodanddrink">
<%- elsif event.eventable_type == "Transportation" -%>
<span class="transport">
<%- elsif event.eventable_type == "Activity" -%>
<span class="activity">
<%- elsif event.eventable_type == "Hotel" -%>
<span class="lodging">
<%- elsif event.eventable_type == "Notes" -%>
<span class="note">
<%- elsif event.eventable_type == "CheckIn" %>
<span class="checkin">
<%- end -%>

<%= display_title_without_link(event.title) %>
	

<em class="list-actions">
		<span title="More info" id="list_<%=event.list.to_s%>_<%=event.id.to_s%>" class="idea-expand"><a href="#" onclick="<%= display_onclick_event_details(@trip.permalink, event.id, event.list

<%- unless event.eventable_type == "CheckIn" -%>
<%- if logged_in? -%><span title="Copy" class="idea-copy"><%= build_url_for_copy("Copy", event, nil, @trip.permalink) %></span><%- end -%>
<%- end -%>

<% if @users.include?(current_user) %>

	<!-- 
	 #Only Activity, Hotel, and Foodanddrink have partner_id 
	-->
	<% if event.eventable_type == "Activity" or event.eventable_type == "Hotel" or event.eventable_type == "Foodanddrink" %>
		<% unless event.partner_id == Idea::PARTNER_ID["viator"] %>
			<!-- if map view, add view=map parameter -->
			<% if map %>
				<span class="idea-edit"><%= fast_link("Edit", "trips/#{@trip.permalink}/ideas/#{event.id}/edit?view=map", "rel=\"ibox\" title=\"Edit\"") %></span>
			<% else %>
				<span class="idea-edit"><%= fast_link("Edit", "trips/#{@trip.permalink}/ideas/#{event.id}/edit", "rel=\"ibox\" title=\"Edit\"") %></span>
			<% end %>
		<% end %>
	<% elsif event.eventable_type == "CheckIn" %>
		<!-- cannot edit CheckIn -->
	<% else %>
		<% if map %>
			<span class="idea-edit"><%= fast_link("Edit", "trips/#{@trip.permalink}/ideas/#{event.id}/edit?view=map", "rel=\"ibox\" title=\"Edit\"") %></span>
		<% else %>
			<span class="idea-edit"><%= fast_link("Edit", "trips/#{@trip.permalink}/ideas/#{event.id}/edit", "rel=\"ibox\" title=\"Edit\"") %></span>
		<% end %>
	<% end %>

	
<% end %>
		
<span class="idea-delete" style="display: none;"><%= link_to_remote "[x]", :url => trip_idea_path(:permalink => @trip.permalink, :id => event.id), 
		:confirm => "Are you sure you want to delete #{event.title}?", 
		:method => :delete %></span>

</em>

<!-- event details here -->
<div id="<%= event.id %>_details" style="display: none;">
	<%= render :partial => '/events/event_details', :locals => { :event_detail => event, :trip_permalink => @trip.permalink } %>
</div>
</span>
</li>