<% if event.photo? %>
	<li id="list_<%= event.list.to_s %>_<%= event.id.to_s %>" style="width:331px" <% if sortable_tile %> class="sortable" <% end %>>
		<div class="recommendation business">
			<span class="idea-label" id="fooddrink-rec">Food &amp; Drink</span>
			<%= render :partial => 'events/idea_actions', :locals => { :event => event } %>
			<div class="detail">
				<a href="/trips/<%= @trip.permalink %>/ideas/<%= event.id %>"><img src="<%= get_image_url(event) %>" alt="<%= event.title %>" /></a>
			</div>
			<h3><%= display_title_without_link(event, 33) %></h3>
			<div class="idea-note"><%= display_short_note_on_board(event, @trip) %></div>
			<%= content_tag "span", "by #{event.author}", :class => "idea-author" unless event.author.nil? %>
		</div>
	</li>
<% else %>

	<li id="list_<%= event.list.to_s %>_<%= event.id.to_s %>" <% if sortable_tile %> class="sortable" <% end %>>
		<div class="foodanddrink">
			<span class="idea-label">Food &amp; Drink</span>
			<%= render :partial => 'events/idea_actions', :locals => { :event => event } %>
			<h3><%= display_title_without_link(event) %></h3>
			<div class="idea-note">
				<%= display_short_note_on_board(event, @trip) %>
				<% unless event.price_range.nil? %>
					<p style="font-family:Helvetica,Arial,Sans-serif"><span class="price"><small>Price Range: <%= display_price_range(event.price_range.to_i) %></small></span></p>
				<% end %>
			</div>
			<%= content_tag "span", "by #{event.author}", :class => "idea-author" unless event.author.nil? %>
		</div>
	</li>
<% end %>