<% if event.partner_id == Idea::PARTNER_ID["viator"] %>
<li id="list_<%= event.list.to_s %>_<%= event.id.to_s %>" style="width: 286px" <% if sortable_tile %> class="sortable" <% end %>>
	<div class="recommendation">
		<span class="idea-label" id="activity-rec">Recommended Activity</span>
		<%= render :partial => 'events/partner_idea_actions', :locals => { :event => event } %>
		<div class="detail">
			<img src="<%= event.photo_file_name %>" width="75" height="75" alt="name" />
			
			<div class="price"><%= number_to_currency(event.price) %><br /><span>per person</span></div>
			
			<a href="<%= event.website %>" target="_blank" class="more-details-button" onClick="pageTracker._trackEvent('Viator', 'click-on-details', 'page-trip-planning');">Book now</a>
			
		</div>
		<h3><%= display_title_with_link(event, 40) %></h3>
		<div class="idea-note"><%= display_short_note_on_board(event, @trip, Idea::PARTNER_ID["viator"]) %></div>
		<%= content_tag "span", "by <a href=\"/#{event.author}\">#{event.author}</a>", :class => "idea-author" unless event.author.nil? %>
	</div>
</li>
<% else %>
	<% if event.photo? %>
		<li id="list_<%= event.list.to_s %>_<%= event.id.to_s %>" style="width: 286px" <% if sortable_tile %> class="sortable" <% end %>>
			<div class="recommendation business">
				<span class="idea-label" id="activity-rec">Activity</span>
				<%= render :partial => 'events/idea_actions', :locals => { :event => event } %>
				<div class="detail">
					<a href="#" onclick="<%= display_onclick_event_details(@trip.permalink, event.id, event.list) %>"><img src="<%= get_image_url(event) %>" alt="<%= event.title %>" height="138" /></a>
				</div>
				<h3><%= display_title_with_link(event, 33) %></h3>
				<div class="idea-note">
					<p><%= display_short_note_on_board(event, @trip) %></p>
				</div>
				<%= content_tag "span", "by <a href=\"/#{event.author}\">#{event.author}</a>", :class => "idea-author" unless event.author.nil? %>
			</div>
		</li>
	<% else %>
		<li id="list_<%= event.list.to_s %>_<%= event.id.to_s %>" <% if sortable_tile %> class="sortable" <% end %>>
			<div class="activity">
				<span class="idea-label">Activity</span>
				<%= render :partial => 'events/idea_actions', :locals => { :event => event } %>
				<h3><%= display_title_with_link(event) %></h3>
				<div class="idea-note">
					<%= display_short_note_on_board(event, @trip) %>
					<% unless event.price_range.nil? %>
						<p style="font-family:Helvetica,Arial,Sans-serif"><span class="price"><small>Price Range: <%= display_price_range(event.price_range.to_i) %></small></span></p>
					<% end %>
				</div>
				<%= content_tag "span", "by <a href=\"/#{event.author}\">#{event.author}</a>", :class => "idea-author" unless event.author.nil? %>
			</div>
		</li>
	<% end %>
<% end %>
