<% if event.photo? or (event.lat and event.lng) %>
	<li id="list_<%= event.list.to_s %>_<%= event.id.to_s %>" <% if sortable_tile %> class="sortable" <% end %>>
		<div class="pin">
			<%= render :partial => 'events/idea_actions', :locals => { :event => event } %>

			<span class="idea-label foodanddrink">Food &amp; Drink</span>

			<% if photo_exists?(event) %>
				<img style="width: 180px;" alt="<%= event.title %>" src="<%= get_image_url(event) %>">
			<% elsif event.lat and event.lng %>
				<img class="map" src="<%= build_static_map_url(event, :size => "180x180", :zoom => 15) %>">
			<% end %>

			<h3><%= display_title_with_link(event) %></h3>
			<p class="description"><%= truncate(h(event.note), :length => Event::TRUNCATE_NOTE_ON_CORKBOARD) %></p>
			<%= content_tag "span", "by #{event.author}", :class => "idea-author" unless event.author.nil? %>
		</div>
	</li>
<% else %>

	<li id="list_<%= event.list.to_s %>_<%= event.id.to_s %>" <% if sortable_tile %> class="sortable" <% end %>>
		<div class="index_card">
			<span class="foodanddrink idea-label">Food &amp; Drink</span>
			<%= render :partial => 'events/idea_actions', :locals => { :event => event } %>
			<h3><%= display_title_with_link(event) %></h3>
			<div class="idea-note">
				<%= display_short_note_on_board(event, @trip) %>
			</div>
			<%= content_tag "span", "by #{event.author}", :class => "idea-author" unless event.author.nil? %>
		</div>
	</li>
<% end %>