<% if event.partner_id == Idea::PARTNER_ID["ian_hotel"] %>
<li id="list_0_<%= event.id %>" style="width: 286px" <% if sortable_tile %> class="sortable" <% end %>>
	<div class="recommendation">
		<span class="idea-label" id="lodging-rec">Recommended Lodging</span>
		<%= render :partial => 'events/partner_idea_actions', :locals => { :event => event } %>
		<div class="detail">
			<img src="<%= event.photo_file_name %>" width="75" height="75" alt="name" />
			
			<div class="price"><%= number_to_currency(event.price) %><br /><span>per night</span></div>
			
			<a href="<%= event.website %>" target="_blank" class="more-details-button" onClick="pageTracker._trackEvent('Ian-Hotel', 'click-on-details', 'page-trip-planning');">Book now</a>
		</div>
		<h3><%= display_title_with_link(event, 40) %></h3>
		<div class="idea-note"><%= display_short_note_on_board(event, @trip, Idea::PARTNER_ID["ian_hotel"]) %></div>
		<%= content_tag "span", "by <a href=\"/#{event.author}\">#{event.author}</a>", :class => "idea-author" unless event.author.nil? %>
	</div>
</li>
<% else %>
	<% if event.photo? %>
		<li id="list_0_<%= event.id %>" style="width: 286px" <% if sortable_tile %> class="sortable" <% end %>>
			<div class="recommendation business">
				<span class="idea-label" id="lodging-rec">Lodging</span>
				<%= render :partial => 'events/idea_actions', :locals => { :event => event } %>
				<div class="detail">
					<% unless @users.include?(current_user) %>
						<a href="/trips/<%= @trip.permalink %>/ideas/<%= event.id %>" rel="ibox"><img src="<%= get_image_url(event) %>" alt="<%= event.title %>" height="125" /></a>
					<% else %>
						<img src="<%= get_image_url(event) %>" alt="<%= event.title %>" height="125" />
					<% end %>
				</div>
				<h3><%= display_title_with_link(event, 33) %></h3>
				<div class="idea-note"><%= display_short_note_on_board(event, @trip) %>
				</div>
				<%= content_tag "span", "by <a href=\"/#{event.author}\">#{event.author}</a>", :class => "idea-author" unless event.author.nil? %>
			</div>
		</li>
	<% else %>

	<li id="list_0_<%= event.id %>" <% if sortable_tile %> class="sortable" <% end %>>
		<div class="lodging">
			<span class="idea-label">Lodging</span>
			<%= render :partial => 'events/idea_actions', :locals => { :event => event } %>
			<h3><%= display_title_with_link(event) %></h3>
			<div class="idea-note">
				<%= display_short_note_on_board(event, @trip) %>
				<% unless event.price_range.nil? %>
					<p style="font-family:Helvetica,Arial,Sans-serif"><span class="price"><small>Price Range: <%= display_price_range(event.price_range.to_i) %></small></span></p>
				<% end %>
			</div>
			<%= content_tag "span", "by <a href=\"/#{event.author}\">#{event.author}</a>", :class => "idea-author" unless event.author.nil? %>
		</div>
	</li>
	<% end %>

<% end %>