<li id="list_<%= event.list.to_s %>_<%= event.id.to_s %>" <% if sortable_tile %> class="sortable" <% end %>>
	<div class="transport">
		<span class="idea-label">Transportation</span>
		<%= render :partial => 'events/idea_actions', :locals => { :event => event } %>
		<h3><%= display_title_with_link(event) %></h3>
		<% if !event.departure_time.nil? %><div class="idea-transport-time">Departs <%= display_transportation_datetime(event.departure_time) %></div><% end %>
		<div class="idea-note"><%= display_short_note_on_board(event, @trip) %></div>
		<%= content_tag "span", "by #{event.author}", :class => "idea-author" unless event.author.nil? %>
	</div>
</li>
