<% if @no_date_trips.empty? and @planned_trips.empty? %>
<div id="dashboard-header">
	<div id="new-duffel-form">
		<h2>Where do you want to travel?</h2>
		<% form_for(:trip_city, :html => {:id => "trip_form"}, :url => new_trip_url) do |f| %>
			<%= text_field_with_auto_complete :trip, :destination, { :class => "trip_destination big", :onblur => "if(this.value=='')this.value='e.g. Rome, Italy';", :onfocus => "if(this.value=='e.g. Rome, Italy')this.value=''", :value => "e.g. Rome, Italy" }, { :indicator => "indicator", :frequency => ".2", :min_chars => "3" } %>
			<%= submit_tag "Create Duffel", :class => "submit big-button" %>
			<span id="indicator" style="display:none"><img class="indicator" src="/images/ajax-loader.gif" alt="loading" /></span>
		<% end %>
	</div>
</div>
<% end %>

<ul class="tabs">
	<li onclick="location.search='tab=duffels-active';return false;"><a <% if params[:tab] == "duffels-active" %> class="selected" <% end %> href="#">Active (<%= (@planned_trips.size+@no_date_trips.size) %>)</a></li>
	<li onclick="location.search='tab=duffels-previous';return false;"><a <% if params[:tab] == "duffels-previous" %> class="selected" <% end %> href="#">Previous (<%= @past_trips.size %>)</a></li>
	<li onclick="location.search='tab=duffels-faves';return false;"><a <% if params[:tab] == "duffels-faves" %> class="selected" <% end %> href="#">Favorites (<%= @favorite_trips.size %>)</a></li>
</ul>

<div class="clearfix" style="border-bottom: 1px solid #ddd;"></div>

<div id="myDuffels">

	<% if params[:tab] != "duffels-previous" and params[:tab] != "duffels-faves"%>
  		<div id="duffels-active">
			<%- if @no_date_trips.empty? and @planned_trips.empty? -%>
		    <em class="systemComment">You're not planning any trips right now. Where do you want to travel?</em>
		    <% else %>
				<%= render :partial => "trips/duffels", :locals => { :trips => @planned_trips, :favorite => false } %>
				<%= render :partial => "trips/duffels", :locals => { :trips => @no_date_trips, :favorite => false } %>
		    <%- end -%>
		 </div> <!-- #duffels-active -->
  
  	<% elsif params[:tab] == "duffels-previous" %>
		<div id="duffels-previous">
	    <%- if !@past_trips_by_year.empty? -%>
	    	<% @past_trips_by_year.each do |year, trips| %>

				<div class="clearfix"></div>
				<h3><strong><%= year %></strong> <small>(<%= pluralize(trips.size, "duffel") %>)</small></h3>

				<div id="year_<%= year %>_container">

				  	<div id="year_<%= year %>_block" class="year">
						<%= render :partial => "trips/duffels", :locals => { :trips => trips, :favorite => false } %>
					</div>
				</div>
			<% end %>
	    <%- else -%>
	      <em class="systemComment">No public duffels here.</em>
	    <%- end -%>
	  </div> <!-- #duffels-previous -->
	<% elsif params[:tab] == "duffels-faves" %>
  
  		<div id="duffels-favorite">
		    <%- if !@favorite_trips.empty? -%>
		    	<%= render :partial => "trips/duffels", :locals => { :trips => @favorite_trips, :favorite => true } %>
		    <%- else -%>
		      <em class="systemComment">Save any duffel to your favorites.<br/><br/> You can sync favorites directly to your iPhone for offline access. <a target="_blank" href="http://itunes.apple.com/app/id371064516">Check it out.</a></em>
		    <%- end -%>
		</div> <!-- #duffels-favorite -->
	<% end %>

</div> <!-- #myDuffels -->
