<div id="following" class="following" style="display:none;">
	<ul class="popular">
		<li><!--<a class="city" href="<%= na_city_url(:country_code => "US", :region => "NY", :city => "new-york")%>">New York</a>-->New York &ndash; 
		<% if current_user.cities.include?(@new_york) %>
			<%= link_to "Unfollow", subscription_path(:city => @new_york, :redirect => "/user/dashboard"), :method => :delete %>
		<% else %>
			<%= link_to "Follow", subscription_path(:city => @new_york, :redirect => "/user/dashboard"), :method => :post %>
		<% end %>
		</li>
		<li><!--<a class="city" href="<%= na_city_url(:country_code => "US", :region => "CA", :city => "san-francisco")%>">San Francisco</a>-->San Francisco &ndash; 
			<% if current_user.cities.include?(@san_francisco) %>
				<%= link_to "Unfollow", subscription_path(:city => @san_francisco, :redirect => "/user/dashboard"), :method => :delete %>
			<% else %>
				<%= link_to "Follow", subscription_path(:city => @san_francisco, :redirect => "/user/dashboard"), :method => :post %>
			<% end %>
		</li>
		<li><!--<a class="city" href="<%= na_city_url(:country_code => "US", :region => "NV", :city => "las-vegas")%>">Las Vegas</a>-->Las Vegas &ndash; 
			<% if current_user.cities.include?(@las_vegas) %>
				<%= link_to "Unfollow", subscription_path(:city => @las_vegas, :redirect => "/user/dashboard"), :method => :delete %>
			<% else %>
				<%= link_to "Follow", subscription_path(:city => @las_vegas, :redirect => "/user/dashboard"), :method => :post %>
			<% end %>
		</li>
		<li><!--<a class="city" href="<%= na_city_url(:country_code => "US", :region => "CA", :city => "los-angeles")%>">Los Angeles</a>-->Los Angeles &ndash; 
			<% if current_user.cities.include?(@los_angeles) %>
				<%= link_to "Unfollow", subscription_path(:city => @los_angeles, :redirect => "/user/dashboard"), :method => :delete %>
			<% else %>
				<%= link_to "Follow", subscription_path(:city => @los_angeles, :redirect => "/user/dashboard"), :method => :post %>
			<% end %>
		</li>
	</ul>
	
	<div class="clearfix"></div>
	
	<h3 style="margin-top:7px;">Or search a city:</h3>
	<% form_for(:subscription, :html => {:id => "search_form"}, :url => subscription_url(:redirect => "/user/dashboard"), :method => :post) do |f| %>
		<%= text_field_with_auto_complete :subscription, :city, { :class => "search", :style => "margin-bottom: 5px;" }, { :frequency => ".1", :min_chars => "3" } %>
		<%= submit_tag "Follow", :class => "submit", :style => "padding: 3px 8px;margin-bottom:8px;" %> 
	<% end %>
</div>

<div class="clearfix"></div>

<div id="travel-deals">
	
	<% current_user.cities.each_with_index do |c,i| %>
		<h3 style="margin-top:12px;"><%= c.city %>
		 <small>- <%= link_to "Unfollow", subscription_path(:city => c, :redirect => "/user/dashboard"), :method => :delete %></small>
		</h3>
		
		<ul class="deals">
		<%= @hotel_feed[i] %>
		</ul>
	<% end %>
	
	<p class="footnote">*Deals by BookingBuddy</p>

</div>