<noscript>
  <div id="announcement">
  <div class="javascript_disabled_notification">
    <div class="inner">
      <h1>You need to enable Javascript in your web browser!</h1><br>
      <p>Duffel requires a browser feature called <strong>JavaScript</strong> for everything to work correctly.</p>
      <p>Please see: <a href="http://www.google.com/support/bin/answer.py?answer=23852">How to enable JavaScript in your browser</a>.</p>
      <p>Once you've enabled JavaScript you can <a href="">try loading this page again</a>.</p>
	  <p>-- Duffel Team</p>
    </div>
  </div>
  </div>
</noscript>

<%= render :partial => "announcements/announcements" if (logged_in? and current_user.username == params[:username] and not current_announcements.empty?) -%> 

	
	<div id="info" class="span8 row row-profile row-border">

		<span class="span2" style="margin:0">
			<a href="/<%= @user.username %>"> <%= display_thumbnail(@user, { :width => 100 }) %></a>
		</span>

		<h2 class="span4"><%= display_user_name(@user) %></h2>
		<div class="span2" style="color:#FFD700;font-weight:bold;"><% if founding_member?(@user) %>Founding Member<% end %></div>
		
		<span class="hometown span6"><%= "<i class=\"icon-map-marker\"></i> " + @user.home_city unless @user.home_city.nil? %></span>
		
		<% unless @user.bio.nil? or @user.bio.empty? %><span class="bio span6"><strong>About:</strong> <%= h(@user.bio) %></span><% end %>
		<% unless @user.homepage.nil? or @user.homepage.empty? %><span class="bio span6"><strong>Web:</strong> <%= website_link(@user.homepage, @user.homepage) %></span><% end %>

	</div>
	
	<div class="stat">
		<div class="stat_bubble">
			<div class="stat_bubble_title">IDEAS</div>
			<div class="stat_bubble_content"><%= @user.events.count.to_s %></div>
		</div>
		<div class="stat_bubble">
			<div class="stat_bubble_title">DUFFELS</div>
			<div class="stat_bubble_content"><%= @user.trips.count %></div>
		</div>
		<div class="stat_bubble">
			<div class="stat_bubble_title">LIKES</div>
			<div class="stat_bubble_content"><%= @favorite_trips.size.to_s %></div>
		</div>
	</div>
	
	<div class="offset9" >
	<% if logged_in? and @user != current_user %>
		<%= profile_friendship_status(current_user, @user) %>
	<% elsif not logged_in? %>
		<a class='btn btn-success btn-large' href="/signup?redirect=/<%=@user.username%>">Add as friend</a>
	<% end %>
	</div>
	
	<div class="span12" style="height:45px">
		<ul class="nav nav-pills">
			<li id="user-updates" class="active"><a href="#" onclick="$(this).parent().addClass('active');$(this).parent().siblings().removeClass('active');$('#recent-updates').show();$('#planned-duffels').hide();$('#favorite-duffels').hide();$('#likes').hide();return false;">Recent Updates</a></li>
			<li id="a-duffels"><a href="#" onclick="$(this).parent().addClass('active');$(this).parent().siblings().removeClass('active');$('#recent-updates').hide();$('#planned-duffels').show();$('#favorite-duffels').hide();$('#likes').hide();return false;">Duffels (<%= (@no_date_trips.size + @planned_trips.size + @past_trips.size).to_s %>)</a></li>
			<li id="f-duffels"><a href="#" onclick="$(this).parent().addClass('active');$(this).parent().siblings().removeClass('active');$('#recent-updates').hide();$('#planned-duffels').hide();$('#favorite-duffels').show();$('#likes').hide();return false;">Favorite Duffels (<%= @favorite_trips.size.to_s %>)</a></li>
			<li id="likes-tab"><a href="#" onclick="$(this).parent().addClass('active');$(this).parent().siblings().removeClass('active');$('#recent-updates').hide();$('#planned-duffels').hide();$('#favorite-duffels').hide();$('#likes').show();return false;">Likes (<%= @likes.size.to_s %>)</a></li>
		</ul>
	</div>
	
	<div id="myDuffels">
	<div id="recent-updates" class="span8 row row-profile row-border">
		<%= render :partial => 'users/dashboard_partials/recent_updates', :locals => {:profile => params[:username]} %>
	</div>
	
	<div id="planned-duffels" class="span8 row row-profile row-border" style="display:none;">
		<% if logged_in? and @user.id == current_user.id %>
			<h2 class="profile">Your Duffels</h2>
			<% if @no_date_trips.empty? and @planned_trips.empty? %>
				<p><em>You're not planning any trips right now.  Why not <a href="/trips/new">create one</a>?</em></p>
			<% end %>
		<% else %>
			<h2 class="profile"><%= display_user_name(@user) %>'s Duffels</h2>
			<% if @no_date_trips.empty? and @planned_trips.empty? %>
				<p><em><%= display_user_name(@user) %> is not planning any trips right now, at least not publicly.</em></p>
			<% end %>
		<% end %>
		
	<% unless @planned_trips.empty? %>
		<div id="profile-duffels">
			<%= render :partial => "trips/duffels", :locals => { :trips => @planned_trips, :favorite => false } %>
		</div>
	<% end %>

	<% unless @no_date_trips.empty? %>
		<div id="profile-duffels">
			<%= render :partial => "trips/duffels", :locals => { :trips => @no_date_trips, :favorite => false } %>
		</div>
	<% end %>
	
	<h4>Previous Duffels</h4>
	<% unless @past_trips_by_year.empty? %>
		<% @past_trips_by_year.each do |year, trips| %>
			<div id="profile-duffels">
			<h3><strong><%= year %></strong> <small>(<%= pluralize(trips.size, "duffel") %>)</small></h3>
				<div id="year_<%= year %>_container">
					<%= render :partial => "trips/duffels", :locals => { :trips => trips, :favorite => false } %>	
				</div>
			</div>
		<% end %>
	<% end %>
	</div>
	
	<div id="favorite-duffels" class="span8 row row-profile row-border" style="display: none;">
	<% unless @favorite_trips.empty? %>
		<div id="profile-duffels">
		<%= render :partial => "trips/duffels", :locals => { :trips => @favorite_trips, :favorite => true } %>
		</div>
	<% else %>
		<p><em>No favorite duffels yet. Did you know that by adding duffels as faves, you can sync them to your iPhone?</em></p>
	<% end %>
	</div>
	
	<div id="likes" class="span8 row row-profile row-border" style="display:none;">
		<% @likes.each do |a| %>
			<% e = a.event %>
			<% if !e.nil? %>
				<div class="pin <% if !photo_exists?(e) %>note<% end %>" style="height:290px">
					<div class="actions">
						<div class="add-to-duffel"><%= build_url_for_copy("Add to my duffel", e.id, e.trip.permalink) %></div>
						<div class="like <% if liked?(e.id) %>disabled<% end %>" id="like_<%= e.id %>">
							<% if logged_in? %>
								<% if liked?(e.id) %>
									<%= link_to_remote "Unlike", { :url => "/like/111/?event=#{e.id}", :method => :delete } -%>
								<% else %>
									<%= link_to_remote "<span style=\"padding:0 0 2px 31px;background:url(/images/icon-favorite.png) no-repeat 10px -7px;z-index:3;\">Like this</span>", { :url => "/like/?event=#{e.id}", :method => :post }, :style => "padding-left:0;" -%>
								<% end %>
							<% else %>
								<a style="padding-left:0" href="/like/new?redirect=<%= request.request_uri %>"><span style="padding:0 0 2px 31px;background:url(/images/icon-favorite.png) no-repeat 10px -7px;z-index:3">Like this</span></a>
							<% end %>
						</div>
					</div>

					<% if e.eventable_type == "Foodanddrink"%>
						<span class="idea-label fooddrink">Food &amp; Drink</span>
					<% elsif e.eventable_type == "Activity" %>
						<span class="idea-label activity">Activity</span>
					<% elsif e.eventable_type == "Hotel" %>
						<span class="idea-label lodging">Lodging</span>
					<% end %>

					<% if photo_exists?(e) %>
						<div style="overflow:hidden;text-align:center;">
						<a class="ImgLink" href="<%= trip_idea_url(:permalink => e.trip.permalink, :id => e.id) %>">
							<img style="height:180px;" alt="<%= e.title %>" src="<%= get_image_url(e) %>">
						</a>
						</div>
					<% elsif e.eventable.lat and e.eventable.lng %>
						<a class="ImgLink" href="<%= trip_idea_url(:permalink => e.trip.permalink, :id => e.id) %>">
							<img class="map" src="<%= build_static_map_url_my_duffels(e.eventable, :size => "180x180", :zoom => 15) %>">
						</a>
					<% else %>
						<div style="padding: 1px 0">&nbsp;</div>
					<% end %>

					<h5 style="margin-top:5px"><%= truncate(h(e.title), :length => 30) %></h5>
					<p class="description"><%= truncate(h(e.note), :length => 60) %></p>

					<p class="info">By <a href="/<%= e.user.username %>"><%= e.user.username %></a> to <a href="/trips/<%= e.trip.permalink %>"><%= e.trip.title %></a></p>

				</div>
			<% end %>
		<% end %>
	</div>
	
	</div>

	<div id="rightbar">
		<div class="row row-profile row-border" style="width:250px">
			<div class="section" id="friends">
				<%= render :partial => 'friends' %>
			</div>
		</div>
	
		<div class="row row-profile row-border" style="width:250px">
			<div class="section" id="related-ideas-wrapper">
				<h4>Duffels by <%= display_user_name(@user) %></h4>
				<ul class="related-list unstyled">
				<% (@no_date_trips+@past_trips+@planned_trips).each_with_index do |t,i| %>
				<% break if i==3 %>
					<li>
						<div id="image_wrapper"><a href="<%=t.permalink%>"><img src="<%= duffel_thumbnail_url(t) %>"/></a></div>
						<h3><a href="/trips/<%=t.permalink%>"><%= t.title %></a></h3>
						<p><%= truncate(t.destination.gsub(", United States",""), :length => 45) %></p>
						<p><%= t.events.count %> ideas</p>
					</li>
				<% end %>
				</ul>
			
				<a href="#" onclick="$('#a-duffels').addClass('active');$('#a-duffels').siblings().removeClass('active');$('#recent-updates').hide();$('#planned-duffels').show();$('#favorite-duffels').hide();return false;">View all &raquo;</a>
			</div>
		</div>
		
		<div class="row row-profile row-border" style="width:250px;padding-top:10;">
			<h5>Don't Miss Out on Travel Deals</h5>
			<a href="http://www.tkqlhce.com/click-6756984-11104024" target="_blank">
			<img src="http://www.ftjcfx.com/image-6756984-11104024" width="250" height="200" alt="" border="0"/></a>
		</div>
		
		<div class="row row-profile row-border" style="width:250px;padding-top:10px;">
			<h5>Awesome Boutique Hotels</h5>
			<object height="250" width="250" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"><param value="http://www.splendia.com/images/aff/SPL-EN-250x250.swf?clickTag=http%3A%2F%2Fwww.splendia.com%2Fen%2F%3Faftrackid%3DA434%26aftrackmedia%3Dbanner%26utm_source%3Dduffelup-com%26utm_medium%3Dpartner-cpa%26utm_campaign%3Dgeneric%26utm_content%3Dt%3Abanner_s%3A250x250%26utm_term%3Dg%3Abrand_p%3A0_t%3A0_f%3A0" name="movie"/><param value="high" name="quality"/><param value="opaque" name="wmode"/><embed height="250" width="250" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="opaque" quality="high" src="http://www.splendia.com/images/aff/SPL-EN-250x250.swf?clickTag=http%3A%2F%2Fwww.splendia.com%2Fen%2F%3Faftrackid%3DA434%26aftrackmedia%3Dbanner%26utm_source%3Dduffelup-com%26utm_medium%3Dpartner-cpa%26utm_campaign%3Dgeneric%26utm_content%3Dt%3Abanner_s%3A250x250%26utm_term%3Dg%3Abrand_p%3A0_t%3A0_f%3A0"/></object>
		</div>
	</div>

<%= render :partial => "cities/cities_box" %>