<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"> 
<head> 
	<title><%= @title %></title> 
	<%= stylesheet_link_tag "style", :media => :all %>
	<%= stylesheet_link_tag "bootstrap", :media => :all %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<meta name="description" content="<%= @meta_description %>" />
	<link rel="image_src" href="<%= @link %>" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="icon" type="image/png" href="/favicon.png">
</head> 
<body id="simple">
    <%= render :partial => 'shared/header_nav', :locals => { :partner => false } %>

	<div class="container" style="margin-top:55px">
		<div class="row row-border"> 
			<%= yield %>
			
			<div class="clearfix"></div>
			
			<%= render :partial => 'shared/footer' %>
		</div>
		
		<div class="clearfix" style="padding:5px">&nbsp;</div>
	</div>
	
	<%= render :partial => 'shared/external_javascripts_without_fb' %>
</body>
</html>