<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"> 
<head> 
	<title><%= @title %></title> 
	<%= stylesheet_link_tag "style", :media => :all %>
	<%= javascript_include_tag 'all' %>
	<%= javascript_include_tag 'application' %> 
	
<!--[if IE 7]>
<link href="/stylesheets/ie7.css" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
	
	<% if @cities_to_map %>
	<script src="http://gmaps-utility-library.googlecode.com/svn/trunk/mapiconmaker/1.1/src/mapiconmaker.js" type="text/javascript"></script>
	<script type="text/javascript"> 
	  var cities_to_map = <%= @cities_to_map %>;
	  var max_trip_count = <%= @max_trip_count %>;
	  var map;
	</script>
	<script type="text/javascript" 
			src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= GeoKit::Geocoders::google %>">
	</script>
	<script type="text/javascript"> 
	function europe() {    
	    map.setCenter(new GLatLng(46.818188,8.227512), 4);
		//map.panTo(new GLatLng(37.4569, -122.1569));
		//map.setZoom(10);
	 };
	function states() {
		map.setCenter(new GLatLng(37.09024,-95.712891), 4);
	};
	function asia() {
		map.setCenter(new GLatLng(28.228528,112.938827), 3);
	};
	function australia() {
		map.setCenter(new GLatLng(-28.93021,144.645996), 4);
	};
	function sa() {
		map.setCenter(new GLatLng(-22.221816,-54.806415), 3);
	};
	</script>
	<% end %>
	
	<meta name="description" content="<%= @meta_description %>" />
	<link rel="image_src" href="<%= @link %>" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="icon" type="image/png" href="/favicon.png">
</head> 
<body id="simple" <% if @cities_to_map %>onload="initialize_city_map()" onunload="GUnload()"<% end %>>
	
	<!-- Flash accepts id="notice", id="warning", and id="error" -->
	<% flash.each do |key, msg| -%>
	  <%= content_tag :p, msg, :id => key -%>
	<% end -%>

    <div id="wrapper">
		<div id="header" class="clearfix">
			<%= render :partial => 'shared/header_nav', :locals => { :partner => false } %>
	    </div> 
     	
		<% unless logged_in? %>
			<div id="what-is-message">
				<p><strong>Duffel is a online corkboard for travelers.</strong>
				<br/><small>Collect travel ideas with friends.</small></p>
				
				<div id="action">
					<% form_for(:trip_city, :html => {:id => "trip_form"}, :url => create_new_visitor_trip_url) do |f| %>
						<%= text_field_with_auto_complete :trip, :destination, { :class => "trip_destination big", :value => "#{@city.city_country if @city}", :style => "display:none;" }, { :indicator => "indicator", :frequency => ".1", :min_chars => "3" } %>
					<% end %>
					<a href="#" onclick="$('trip_form').submit();return false;">Create one now</a>
				</div>
			</div>
		<% end %>

		<div id="wrapper-inner">
      <%= render :partial => '/users/search_header' %>		
			<div id="primary"> 
			
				<%= yield %>
			</div>
		</div>
		<%= render :partial => 'shared/footer' %>
	</div>
	
	<%= calendar_date_select_includes %>
	<%= render :partial => 'shared/external_javascripts' %>
</body>
</html>