<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"> 
  	<head> 
		<title><%= @title %></title> 
		<%= stylesheet_link_tag 'bootstrap' %>
	    <%= stylesheet_link_tag "trip" %>
		<%= javascript_include_tag 'all' %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="/javascripts/jrails.js" type="text/javascript"></script>
		<%= javascript_include_tag 'bootstrap.min' %>
		<%= javascript_include_tag 'application' %>
		
		<script type="text/javascript" 
				src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= GeoKit::Geocoders::google %>">
		</script>
		<%- if @ideas_to_map -%>
	    <script type="text/javascript"> 
	      var ideas_to_map = <%= @ideas_to_map.to_json %>;
	    </script>
	  	<%- end -%>
		
		<link rel="image_src" href="<%= @link %>" />
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<link rel="icon" type="image/png" href="/favicon.png">
	</head>
	
	<% if params[:view] == "map" %>
	<body onload="initialize_trip_map(true, true, true)" onunload="GUnload()">
	<% else %>
	<body onload="initialize_trip_map(false, false, false)" onunload="GUnload()">
	<% end %>
		
	
	<div id="signup_bubble" class="tour" style="top: 40%; left: 50%; margin: -100px 0 0 -190px; width: 390px; height: 100px;display:none;">
		<h1 id="bubble_title" style="text-align:center;margin-bottom:15px">Sign up and save this duffel</h1>
		<div class="fb-button" style="margin-left: 100px;"><a href="#" id="fb-loginlink">&nbsp;</a></div>
		<a class="tourSmallLink" style="text-align:center;float:none;margin:50px 100px 0 100px" onclick="$('signup_bubble').hide();return false;" href="#">cancel</a>
	</div>

	
		<!-- Flash accepts id="notice", id="warning", and id="error" -->
		<% flash.each do |key, msg| -%>
		  <%= content_tag :p, msg, :id => key -%>
			<script type="text/javascript">
			    setTimeout("$('p#<%=key%>').fadeOut('slow')", 3000);
			  </script>
		<% end -%>
		
		<div id="sorting-indicator" style="display:none;"><p>Saving... <img style="vertical-align:bottom;" src="/images/ajax-loader-sorting.gif"></p></div>

		<div id="header" class="clearfix">


			<div id="logo">
			<%- if logged_in? -%>
				<%= link_to "", dashboard_path -%>
			<%- else -%>
				<%= link_to "", root_path -%>
				<%- end -%>
			</div>

		
			<div id="navigation">
				<h1>
				<% if !@trip.photo.size.nil? and @trip.photo.size != "" %>
				<img width="40" src="<%=@trip.photo.url(:thumb)%>" class="duffel-image" />
				<% elsif !@trip.photo_file_name.nil? %>
				<img width="40" src="<%=@trip.photo_file_name%>" class="duffel-image" />
				<% end %>
					
				<%= h(@trip.title) %>
				
				<span class="collaborator">- Planned by me</span>
				
				</h1>
				
			</div>
			<div id="account">
	          	<ul>
		          	<li class="edit"><a onclick="$('bubble_title').innerHTML='Sign up and edit duffel settings';$('signup_bubble').show();return false;", href="#">Edit (dates & privacy)</a></li>
					<li class="invite"><a onclick="$('bubble_title').innerHTML='Invite others to this duffel';$('signup_bubble').show();return false;", href="#">Invite collaborators</a></li>
					<li id="trip-login"><a class="signup" onclick="$('bubble_title').innerHTML='Save this duffel';$('signup_bubble').show();return false;" href="#">Save this duffel</a></li>
				</ul>
	        </div>
		</div>

		<div id="board-actions" class="clearfix">
			<% if params[:view] == "map" %>
				<%= render :partial => 'trips/new_ideas', :locals => { :map => 'map' } %>
				<ul id="board-view">
					<%= content_tag :li, link_to("Grid View", show_new_visitor_trip_url(:id => @trip.permalink ), :title => "Grid View"), :id => "grid-button" %> 
					<li id="map-button" class="selected">Map View</li>
					<%= content_tag :li, link_to("Print View", trip_print_itinerary_url(@trip), :target => "_blank", :title => "Print View", :onclick => "pageTracker._trackEvent('Duffel', 'click-print-itinerary');"), :id => "print-button" %>
				</ul>
				<!--<%= render :partial => 'trips/grid_map_toggle', :locals => { :map => 'map' } %>-->
			<% else %>
				<%= render :partial => 'trips/new_ideas', :locals => { :map => nil } %>
				<ul id="board-view">
					<li id="grid-button" class="selected">Grid View</li>
					<%= content_tag :li, link_to("Map View", show_new_visitor_trip_url(:id => @trip.permalink, :view => "map"), :title => "Map View"), :id => "map-button"  %> 
					<%= content_tag :li, link_to("Print View", trip_print_itinerary_url(@trip), :target => "_blank", :title => "Print View", :onclick => "pageTracker._trackEvent('Duffel', 'click-print-itinerary');"), :id => "print-button" %>
				</ul>
				<!--<%= render :partial => 'trips/grid_map_toggle', :locals => { :map => nil } %>-->
			<% end %>
		</div>

		<%= yield %>
		
		<script>
			$('#new-idea').modal();
			$('#new-note').modal();
			$('#edit-idea').modal();
		</script>
		
		<div class="modal hide fade" id="new-idea">
		</div>
		
		<div class="modal hide fade" id="edit-idea" style="width:600px;height:430px">
		</div>
		
		<div class="modal hide fade" id="new-note" style="width:610px;height:380px">
		</div>

		<div id="footer">
			<% if !@city[0].nil? %>
			<span class="left">See more duffels in 
			<%= trip_destination_in_trip_header(@city) -%>
			</span>
			<% else %>
			<span class="left">Copyright &copy; 2011 Duffel, Inc.</span>
			<% end %>
			<span class="right">
			<a href="/featured">Explore</a>
			<a href="/site/about">About</a>  
			<a href="http://duffelup.posterous.com">Blog</a>
			<a href="/site/help">Help</a>
			</span>
		</div>
		
		<script>
			jQuery.noConflict();
		</script>
		
		<script type="text/javascript">
			function showMap(){
				var str=$('idea_address').value.replace(' ','+');
				$('event-map-img').src="http://maps.googleapis.com/maps/api/staticmap?Brooklyn+Bridge&zoom=15&size=115x115&sensor=false&center="+str;
			}
		</script>
		
		<script type="text/javascript">
                var isExtended = 0;
        
                function slidingSideBarinit(){
                        Event.observe('sliding-sideBarTab', 'click', slideSideBar, true);
                        Event.observe('close-sideBar', 'click', slideSideBar, true);
                }

                Event.observe(window, 'load', slidingSideBarinit, true);
        </script>
		
		<script type="text/javascript"> 
		  function collapseAll(objs) {
			for (var i=0;i<objs.length;i++ ) {
				document.getElementById(objs[i]).style.display = 'none';
			}}
		  function expandAll(objs) {
			for (var i=0;i<objs.length;i++ ) {
				document.getElementById(objs[i]).style.display = '';
			}}
		</script>
		
		<div id="sortable_list_controls">
			<%= render :partial => 'events/sortable_list_controls' %>
		</div>

		<%= render :partial => 'shared/external_javascripts' %>
	</body>
</html>

