<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"> 
  	<head> 
		<title><%= @title %></title> 
	    <%= stylesheet_link_tag "trip" %>
		<%= javascript_include_tag 'all' %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="/javascripts/jrails.js" type="text/javascript"></script>
		<%= javascript_include_tag 'application' %>
		
		<script type="text/javascript" 
				src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= GeoKit::Geocoders::google %>">
		</script>
		<%- if @ideas_to_map -%>
	    <script type="text/javascript"> 
	      var ideas_to_map = <%= @ideas_to_map.to_json %>;
	    </script>
	  	<%- end -%>
		
		<meta name="description" content="<%= @meta_description %>" />
		<link rel="image_src" href="<%= @link %>" />
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<link rel="icon" type="image/png" href="/favicon.png">
	</head>
	
	<% if params[:view] == "map" %>
	<body onload="initialize_trip_map(true, true, true)" onunload="GUnload()">
	<% else %>
	<body onload="initialize_trip_map(false, false, false)" onunload="GUnload()">
	<% end %>
		
	<% if logged_in? and @users.include?(current_user) and (current_user.hide_tour_at.nil? or current_user.hide_tour_at.blank?) %>
	
	<div id="tour1" class="tour" style="top: 50%; left: 50%; margin: -100px 0 0 -190px; width: 270px; height: 128px;">
		<h1>Welcome to your duffel!</h1>
		<p>In 3 simple steps, we'll show you <strong><i>new</i></strong> features about your personal corkboard.</p>
		<p><a onclick="Effect.Fade('tour1', { duration: '0.3' }); Effect.BlindDown('tour2', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink" href="#tour2">Let's start!</a> 
		<%= link_to_remote "I'm a pro. Skip this.", {:url => '/users/hide_tour', :method => :post}, {:class => 'tourSmallLink'} -%></p>
	</div>
	
	<div id="tour2" class="tour" style="top: 140px; left: 22%; margin: 0 0 0 0; width: 300px; height: 130px; display: none;">
		<img src="/images/tour/tour-arrow1.png" alt="Here it is" style="position: absolute; top: -45px; left: 280px" />
		<h1>1. Add anything to your duffel</h1>
		<p>Click here to add notes, images or lodging options to your corkboard.</p>
		<p><a onclick="Effect.Fade('tour2', { duration: '0.3' }); Effect.BlindDown('tour1', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink2" href="#tour1">Previous</a> 
		   <a onclick="Effect.Fade('tour2', { duration: '0.3' }); Effect.BlindDown('tour3', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink tourLinkNext" href="#tour3">Next</a></p>
	</div>
	
	<div id="tour3" class="tour" style="top: 70px; right: 215px; margin: 0 0 0 0; width: 280px; height: 122px; display: none;">
		<img src="/images/tour/tour-arrow1.png" alt="Here it is" style="position: absolute; top: -35px; right: 20px" />
		<h1>2. Invite friends and family</h1>
		<p>Invite fellow tripgoers to your corkboard. They can contribute ideas and comment.</p>
		<p><a onclick="Effect.Fade('tour3', { duration: '0.3' }); Effect.BlindDown('tour2', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink2" href="#tour2">Previous</a> 
		   <a onclick="Effect.Fade('tour3', { duration: '0.3' }); Effect.BlindDown('tour4', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink tourLinkNext" href="#tour4">Next</a></p>
	</div>
	
	<!--
	<div id="tour3" class="tour" style="top: 130px; right: 1%; margin: 0 0 0 0; width: 240px; height: 140px; display: none;">
		<img src="/images/tour/tour-arrow1.png" alt="Here it is" style="position: absolute; top: -45px; left: 220px" />
		<h1>2. Map your travel notes</h1>
		<p>Toggle from grid (or corkboard) view to map view. See the location of your hotels, restaurants and activities.</p>
		<p><a onclick="Effect.Fade('tour3', { duration: '0.3' }); Effect.BlindDown('tour2', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink2" href="#tour2">Previous</a> 
		    <a onclick="Effect.Fade('tour3', { duration: '0.3' }); Effect.BlindDown('tour4', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink tourLinkNext" href="#tour4">Next</a></p>
	</div>
	-->
	
	<div id="tour4" class="tour" style="top: 280px; left: 5%; margin: 0 0 0 0; width: 270px; height: 130px; display: none;">
		<img src="/images/tour/tour-arrow1.png" alt="Here it is" style="position: absolute; top: -45px; left: 120px" />
		<h1>3. Drag & drop your notes</h1>
		<p>Drag and drop to sort. Shuffle your itinerary on the corkboard. Enjoy!</p>
		<p><a onclick="Effect.Fade('tour4', { duration: '0.3' }); Effect.BlindDown('tour3', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink2" href="#tour3">Previous</a> 
		   <%= link_to_remote "Done", {:url => '/users/hide_tour', :method => :post}, {:class => 'tourLink tourLinkNext'} -%></p>
	</div>

	<% end %>
	
		<!-- Flash accepts id="notice", id="warning", and id="error" -->
		<% flash.each do |key, msg| -%>
		  <%= content_tag :p, msg, :id => key -%>
			<script type="text/javascript">
			    setTimeout("$('p#<%=key%>').fadeOut('slow')", 3000);
			  </script>
		<% end -%>
		
		<div id="sorting-indicator" style="display:none;"><p>Saving... <img style="vertical-align:bottom;" src="/images/ajax-loader-sorting.gif"></p></div>
		<div id="deleting-indicator" style="display:none;"><p>Deleting... <img style="vertical-align:bottom;" src="/images/ajax-loader-sorting.gif"></p></div>

		<div id="header" class="clearfix">


			<div id="logo">
			<%- if logged_in? -%>
				<%= link_to "", dashboard_path -%>
			<%- else -%>
				<%= link_to "", root_path -%>
				<%- end -%>
			</div>

		
			<div id="navigation">
				<h1>
				<% if !@trip.photo.size.nil? and @trip.photo.size != "" %>
				<img width="40" src="<%=@trip.photo.url(:thumb)%>" class="duffel-image" />
				<% elsif !@trip.photo_file_name.nil? %>
				<img width="40" src="<%=@trip.photo_file_name%>" class="duffel-image" />
				<% end %>
					
				<%= h(@trip.title) %>
				
				<span class="collaborator">- Planned by&nbsp;&nbsp;<%= duffel_collaborators(@users) %></span>
				
				<br />
				<% if !@city[0].nil? %>
				<%= trip_destination_in_trip_header(@city) -%>
				<% else %>
				<span class="destination"><%= h(@trip.destination.gsub(", United States", "")) %></span>
				<% end %>
				<span class="date"><%- if @trip.start_date and @trip.end_date -%> from <%= display_trip_dates(@trip.start_date,@trip.end_date) -%><%- end -%></span>
				</h1>
				
			</div>
			<div id="account">
		          <% if logged_in? -%>
		          	<ul>
						<%- if @users.include?(current_user) %>
							<li class="invite"><%= link_to "Invite collaborators", trip_invitation_path(:permalink => @trip), :title => "Invite collaborators", :alt => "Invite collaborators" %></li>
						<%- end -%>
			
			          	<%- if @admins.include?(current_user) %>
			          		<li class="edit"><%= link_to "Edit", edit_trip_path(:id => @trip.permalink), :title => "Edit duffel details", :alt => "Edit duffel details" %></li>
						<%- end -%>
						
						<%- if !@users.include?(current_user) %>
						<% cache("user-#{current_user.id}-trip-#{@trip.id}-favorites") do %>
						<%- unless @trip.favorite?(current_user) -%>
							<li class="add-bookmark"><%= link_to 'Save as favorites', trip_create_favorite_path(@trip.permalink), :title => "Favorite this duffel", :alt => "Favorite this duffel"  %></li>
						<%- else -%>
							<li class="bookmarked"><%= link_to 'Favorited (remove)', trip_delete_favorite_path(@trip.permalink), :method => :post, :title => "Remove from favorites", :alt => "Remove from favorites"  %></li>
						<%- end -%>
						<% end %><!-- end of favorites cache -->
						<% end %>
					
						<!--
						<%- if @users.include?(current_user) -%> 
							<li class="comments"><%= link_to @trip_comments_size + ' Comments', "#", :id => 'add-comment', :title => "Post a tip or comment", :alt => "Post a tip or comment", :onclick => "return false;" %></li>							
						<% end %>
						-->
						
						<li class="share">
							<div id="share" class="addthis_toolbox addthis_default_style">
								<a class="addthis_button_facebook"></a>
								<a class="addthis_button_twitter"></a>
								<a class="addthis_button_email"></a>	
							</div>
						</li>
						<li class="nav-avatar"  onmouseover="$('duffels-submenu').show();" onmouseout="$('duffels-submenu').hide();">
							<a class="dashboard" style="height:40px" href="/user/dashboard"  onmouseover="$('duffels-submenu').show();" onmouseout="$('duffels-submenu').hide();"> <%= display_thumbnail(current_user) %> &nbsp;You <img class="arrow" src="/images/icon-down-arrow.png" style="vertical-align:middle;"></a>
							<ul class="submenu" id="duffels-submenu"  style="display:none;" onmouseover="$('duffels-submenu').show();" onmouseout="$('duffels-submenu').hide();">
								<li style="margin-top:5px;margin-bottom:3px;border-bottom:1px solid #7c7c7c"><a href="/user/dashboard">Dashboard</a></li>
								<li style="margin-top:5px" onclick="location.href='/user/dashboard?tab=duffels-active';$('tb-duffels').addClassName('selected'); $('tb-updates').removeClassName('selected'); $('tb-deals').removeClassName('selected'); $('loading-spinner').show(); return false;"><a href="#">My Duffels</a></li>
								<li onclick="location.href='/user/dashboard?tab=duffels-faves';$('tb-duffels').addClassName('selected'); $('tb-updates').removeClassName('selected'); $('tb-deals').removeClassName('selected'); $('loading-spinner').show(); return false;"><a href="#">Favorite Duffels</a></li>
								<!-- <li><a href="">Likes</a></li> -->
								<li style="margin-bottom:3px;border-bottom:1px solid #7c7c7c"><a href="/featured">Featured</a></li>
								<li><a href="/site/tools">Bookmarklet</a></li>
								<li><a href="/user/edit">Account</a></li>
								<li class="parent hover"><%= link_to "Logout", logout_url %></li>
							</ul>
						</li>
					
					</ul>
		          
		         <% else -%>
					
					<ul>
						<li class="add-bookmark"><%= link_to 'Favorite this', trip_create_favorite_path(@trip.permalink), :title => "Bookmark this duffel", :alt => "Bookmark this duffel"  %></li>
						<li class="share">
							<div id="share" class="addthis_toolbox addthis_default_style">
								<a class="addthis_button_facebook"></a>
								<a class="addthis_button_twitter"></a>
								<a class="addthis_button_email"></a>	
							</div>
						</li>						
						<li id="trip-login"><div class="fb-button"><a href="#" id="fb-loginlink">&nbsp;</a></div></li>
					</ul>
					
		         <% end -%>
	        </div>
		</div>

		<div id="board-actions" class="clearfix" <% if params[:view] == "itinerary" %>style="width:100%;left:0"<% end %>>
		<% if @users.include?(current_user) %>
			<% if params[:view] == "map" %>
				<%= render :partial => 'trips/new_ideas', :locals => { :map => 'map' } %>
				<%= render :partial => 'trips/grid_map_toggle', :locals => { :map => 'map' } %>
			<% elsif params[:view] == "itinerary" %>
				<ul id="add-ideas">
				<li class="guest">This is how other members see your duffel<%- if !@trip.is_public? -%> (but, your duffel is private)<%- end -%>. <%= link_to 'Back to planning &rarr;', trip_path(:id => @trip) %></li>
				</ul>
				<%= render :partial => 'trips/grid_map_toggle', :locals => { :map => nil } %>
			<% else %>
				<%= render :partial => 'trips/new_ideas', :locals => { :map => nil } %>
				<%= render :partial => 'trips/grid_map_toggle', :locals => { :map => nil } %>
			<% end %>
		<% else %>
			<ul id="add-ideas">
			<li class="guest">You're currently viewing <%= @users[0].username %>'s journal. Like what you see?
			<% if current_user %>
			<%= link_to 'Get your own &rarr;', new_trip_path, :style => "font-size:14px;" %>
			<% else %>
			<%= link_to 'Get your own &rarr;', "/explore", :style => "font-size:14px;" %>
			<% end %>
			</li>
			</ul>
			
			<% if params[:view] == "map" %>
				<%= render :partial => 'trips/grid_map_toggle', :locals => { :map => true } %>
			<% else %>
				<%= render :partial => 'trips/grid_map_toggle', :locals => { :map => false } %>
			<% end %>
		<% end %>
		</div>

		<%= yield %>

		<div id="footer">
			<% if !@city[0].nil? %>
			<span class="left">See more ideas in 
			<%= trip_destination_in_trip_header(@city) -%>
			</span>
			<% else %>
			<span class="left">Copyright &copy; 2011 Duffel, Inc.</span>
			<% end %>
			<span class="right">
			<a href="/explore">Explore</a>
			<a href="/site/tools">Bookmarklet</a>
			<a href="/site/about">About</a>  
			<a href="http://blog.duffelup.com">Blog</a>
			<a href="/site/help">Help</a>
			<a onclick="feedback_widget.show()" href="#">Feedback</a>
			</span>
		</div>
		
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=duffel"></script>
		
		<script type="text/javascript">
		var addthis_config = {
		    services_exclude: "print,favorites,friendster,live,technorati,myspace,yahoomail,google,blogger,digg,stumbleupon,delicious,reddit,email"
		}
		</script>
		
		<script>
			jQuery.noConflict();
		</script>
		
		<script type="text/javascript">
			function showMap(){
				var str=$('activity_address').value.replace(' ','+');
				$('event-map-img').src="http://maps.googleapis.com/maps/api/staticmap?Brooklyn+Bridge&zoom=15&size=115x115&sensor=false&center="+str;
			}
		</script>
		
		<script type="text/javascript">
                var isExtended = 0;
        
                function slidingSideBarinit(){
                        Event.observe('sliding-sideBarTab', 'click', slideSideBar, true);
                        Event.observe('close-sideBar', 'click', slideSideBar, true);
                }

                Event.observe(window, 'load', slidingSideBarinit, true);
        </script>
		
		<script type="text/javascript"> 
		  function collapseAll(objs) {
			for (var i=0;i<objs.length;i++ ) {
				document.getElementById(objs[i]).style.display = 'none';
			}}
		  function expandAll(objs) {
			for (var i=0;i<objs.length;i++ ) {
				document.getElementById(objs[i]).style.display = '';
			}}
		</script>
		
		<% if @users.include?(current_user) %>
			<div id="sortable_list_controls">
				<%= render :partial => 'events/sortable_list_controls' if params[:view] != "itinerary" %>
			</div>
		<% end %>
		
		<%= render :partial => 'shared/external_javascripts' %>
	</body>
</html>

