<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"> 
  	<head> 
		<title><%= @title %></title> 
	    <%= stylesheet_link_tag "trip" %>
		<%= javascript_include_tag 'all' %>
		<%= javascript_include_tag 'application' %>

		<% if params[:view] == "map" or params[:view] == "itinerary" %>
			<script type="text/javascript" 
					src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= GeoKit::Geocoders::google %>">
			</script>
			<%- if @ideas_to_map -%>
		    <script type="text/javascript"> 
		      var ideas_to_map = <%= @ideas_to_map.to_json %>;
		    </script>
		  	<%- end -%>
		<% end %>
		
		<meta name="description" content="<%= @meta_description %>" />
		<link rel="image_src" href="<%= @link %>" />
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<link rel="icon" type="image/png" href="/favicon.png">
		
		<% if @trip_properties && !@trip_properties.custom_css.nil? && !@trip_properties.custom_css.empty? %>
		<style type="text/css">
		<%= @trip_properties.custom_css %>
		</style>
		<% end %>
	</head>
	
	<% if params[:view] == "map" %>
	<body onload="initialize_trip_map(true, true)" onunload="GUnload()">
	<% elsif params[:view] == "itinerary" %>
	<body onload="initialize_trip_map(false, false)" onunload="GUnload()">
	<% else %>
	<body>
	<% end %>
		
	<% if logged_in? and @users.include?(current_user) and (current_user.hide_tour_at.nil? or current_user.hide_tour_at.blank?) %>
	
	<div id="tour1" class="tour" style="top: 50%; left: 50%; margin: -64px 0 0 -200px; width: 400px; height: 128px;">
		<h1>Welcome to your duffel!</h1>
		<p>In 3 simple steps, we'll show you some very important features about your trip planning interface.</p>
		<p><a onclick="Effect.Fade('tour1', { duration: '0.3' }); Effect.BlindDown('tour2', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink" href="#tour2">Let's start, shall we?</a> 
		<!--<%= link_to_remote "I'm a pro. Skip this.", {:url => '/users/hide_tour', :method => :post}, {:class => 'tourSmallLink'} -%>--></p>
	</div>
	
	<div id="tour2" class="tour" style="top: 130px; left: 22%; margin: 0 0 0 0; width: 400px; height: 167px; display: none;">
		<img src="/images/tour/tour-arrow1.png" alt="Here it is" style="position: absolute; top: -45px; left: 280px" />
		<h1>1. Add anything to your duffel</h1>
		<p>Click here to add activities, lodging options or any research to your trip.</p>
		<p>An easier and faster way is to use our <a href="/site/tools" target="_blank">Clip-It Bookmarker</a>, which allows you to add travel notes to your trip without leaving the website you're browsing.</p>
		<p><a onclick="Effect.Fade('tour2', { duration: '0.3' }); Effect.BlindDown('tour1', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink2" href="#tour1">Previous</a> 
		   <a onclick="Effect.Fade('tour2', { duration: '0.3' }); Effect.BlindDown('tour3', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink tourLinkNext" href="#tour3">Next</a></p>
	</div>
	
	<div id="tour3" class="tour" style="top: 60px; right: 13%; margin: 0 0 0 0; width: 260px; height: 132px; display: none;">
		<img src="/images/tour/tour-arrow1.png" alt="Here it is" style="position: absolute; top: -35px; left: 170px" />
		<h1>2. Invite friends and family</h1>
		<p>Invite fellow tripgoers or local experts to your trip. They can leave their own research, tips and comments here.</p>
		<p><a onclick="Effect.Fade('tour3', { duration: '0.3' }); Effect.BlindDown('tour2', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink2" href="#tour2">Previous</a> 
		   <a onclick="Effect.Fade('tour3', { duration: '0.3' }); Effect.BlindDown('tour4', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink tourLinkNext" href="#tour4">Next</a></p>
	</div>
	
	<!--
	<div id="tour3" class="tour" style="top: 130px; right: 1%; margin: 0 0 0 0; width: 240px; height: 140px; display: none;">
		<img src="/images/tour/tour-arrow1.png" alt="Here it is" style="position: absolute; top: -45px; left: 220px" />
		<h1>2. Map your travel notes</h1>
		<p>Toggle from grid (or corkboard) view to map view. See the location of your hotels, restaurants and activities.</p>
		<p><a onclick="Effect.Fade('tour3', { duration: '0.3' }); Effect.BlindDown('tour2', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink2" href="#tour2">Previous</a> 
		    <a onclick="Effect.Fade('tour3', { duration: '0.3' }); Effect.BlindDown('tour4', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink tourLinkNext" href="#tour4">Next</a></p>
	</div>
	-->
	
	<div id="tour4" class="tour" style="top: 200px; left: 10%; margin: 0 0 0 0; width: 300px; height: 200px; display: none;">
		<img src="/images/tour/tour-arrow1.png" alt="Here it is" style="position: absolute; top: -45px; left: 120px" />
		<h1>3. Drag & drop your notes to the itinerary</h1>
		<p>Pick your travel dates (if you haven't done so). Drag & drop your notes here to start planning your itinerary.</p>
		<p>Please visit <a href="/site/help">help page</a> for more info. Hope you enjoy Duffel and share with your friends!</p>
		<p><a onclick="Effect.Fade('tour4', { duration: '0.3' }); Effect.BlindDown('tour3', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink2" href="#tour3">Previous</a> 
		   <%= link_to_remote "Finish", {:url => '/users/hide_tour', :method => :post}, {:class => 'tourLink tourLinkNext'} -%></p>
	</div>

	<% end %>
	
		<!-- Flash accepts id="notice", id="warning", and id="error" -->
		<% flash.each do |key, msg| -%>
		  <%= content_tag :p, msg, :id => key -%>
		<% end -%>

		<div id="header" class="clearfix">


			<div id="logo">
			<%- if logged_in? -%>
				<%= link_to "", dashboard_path -%>
			<%- else -%>
				<%= link_to "", root_path -%>
				<%- end -%>
			</div>

		
			<div id="navigation">
				<h1>
				<% if !@trip.photo.size.nil? and @trip.photo.size != "" %>
				<img width="35" src="<%=@trip.photo.url(:thumb)%>" class="duffel-image" />
				<% elsif !@trip.photo_file_name.nil? %>
				<img width="35" src="<%=@trip.photo_file_name%>" class="duffel-image" />
				<% end %>
					
				<%= h(@trip.title) %>
				
				<% if !@admins.include?(current_user) %>
					<span class="collaborator">- Planned by <%= link_to display_user_name(@admins[0]), profile_for(@admins[0]), :class => 'mute' %></span>
				<% end %>
				
				<%- if @users.size > 1 -%>
					<%- if @users.include?(current_user) -%>
						<span class="collaborator">with <%= link_to pluralize(@users.size-1, 'Collaborator'), trip_invitation_path(:permalink => @trip) %></span>
					<%- else -%>
						<span class="collaborator">with <%= link_to pluralize(@users.size-1, 'Collaborator'), "#", :id => "check-collaborators", :onclick => "return false;" %></span>
					<%- end -%>
				<%- end -%>
				<br />
				<% if !@city[0].nil? %>
				<%= trip_destination_in_trip_header(@city) -%>
				<% else %>
				<span class="destination"><%= @trip.destination.gsub(", United States", "") %></span>
				<% end %>
				<span class="date"><%- if @trip.start_date and @trip.end_date -%> from <%= display_trip_dates(@trip.start_date,@trip.end_date) -%><%- end -%></span>
				</h1>
				
			</div>
			<div id="account">
		          <% if logged_in? -%>
		          	<ul>
		          	<%- if @admins.include?(current_user) %>
		          		<li class="edit"><%= link_to "Edit", edit_trip_path(:id => @trip.permalink), :title => "Edit duffel details", :alt => "Edit duffel details" %></li>
		          	<%- end -%>
		          	
		          	<%- if @users.include?(current_user) -%>
		          		<li class="invite"><%= link_to "Invite Collaborators", trip_invitation_path(:permalink => @trip), :title => "Invite Collaborators", :alt => "Invite Collaborators" %></li>
		          	<%- end -%>

						<li class="comments"><%= link_to @trip_comments_size + ' Comments', "#", :id => 'add-comment', :title => "Post a tip or comment", :alt => "Post a tip or comment", :onclick => "return false;" %></li>
					
						<%- unless @users.include?(current_user) -%> <!-- tripgoers can't add their own duffels to bookmark -->
							<% cache("user-#{current_user.id}-trip-#{@trip.id}-favorites") do %>
							<%- unless @trip.favorite?(current_user) -%>
								<li class="add-bookmark"><%= link_to 'Favorite this', trip_create_favorite_path(@trip.permalink), :title => "Favorite this duffel", :alt => "Favorite this duffel"  %></li>
							<%- else -%>
								<li class="bookmarked"><%= link_to 'Favorited (remove)', trip_delete_favorite_path(@trip.permalink), :method => :post, :title => "Remove from my bookmarks", :alt => "Remove from my bookmarks"  %></li>
							<%- end -%>
							<% end %><!-- end of favorites cache -->
						<% end %>
						
						<li class="share">
							<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=duffel" class="addthis_button">Share</a>
						</li>
					
		          		<li class="dashboard"><%= link_to_unless_current "My Dashboard", dashboard_path, :title => "Back to my dashboard", :alt => "Back to my dashboard" %></li>
					</ul>
		          
		         <% else -%>
					
					<ul>
						<li class="comments"><%= link_to @trip_comments_size + ' Comments', "#", :id => 'add-comment', :title => "Post a tip or comment", :alt => "Post a tip or comment", :onclick => "return false;" %></li>
						<li class="add-bookmark"><%= link_to 'Favorite this', trip_create_favorite_path(@trip.permalink), :title => "Bookmark this duffel", :alt => "Bookmark this duffel"  %></li>
						<li class="share">
							<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=duffel" class="addthis_button">Share</a>
						</li>						
						<li id="trip-login"><a class="signup" href="/signup">Sign Up</a></li>
						<li id="trip-login"><a class="signin" href="/login?redirect=<%= request.request_uri %>">Sign In</a></li>
					</ul>
					
		         <% end -%>
	        </div>
		</div>

		<div id="board-actions" class="clearfix" <% if params[:view] == "itinerary" %>style="width:100%;left:0"<% end %>>
		<% if @users.include?(current_user) %>
			<% if params[:view] == "map" %>
				<%= render :partial => 'trips/new_ideas', :locals => { :map => 'map' } %>
				<%= render :partial => 'trips/grid_map_toggle', :locals => { :map => 'map' } %>
			<% elsif params[:view] == "itinerary" %>
				<ul id="add-ideas">
				<li class="guest">This is how third-party guests see your duffel<%- if !@trip.is_public? -%> (but, your duffel is private)<%- end -%>.  <%= link_to 'Back to planning &rarr;', trip_path(:id => @trip) %></li>
				</ul>
				<%= render :partial => 'trips/grid_map_toggle', :locals => { :map => nil } %>
			<% else %>
				<%= render :partial => 'trips/new_ideas', :locals => { :map => nil } %>
				<%= render :partial => 'trips/grid_map_toggle', :locals => { :map => nil } %>
			<% end %>
		<% else %>
			<ul id="add-ideas">
			<li class="guest">You're currently viewing a public duffel. Like what you see? <a style="padding: 3px 6px;font-size:12px" href="/explore">Explore Duffel</a> or <%= link_to 'Get your own &rarr;', new_trip_path, :style => "font-size:14px;" %></li>
			</ul>
			
			<% if params[:view] == "map" %>
				<%= render :partial => 'trips/grid_map_toggle', :locals => { :map => true } %>
			<% else %>
				<%= render :partial => 'trips/grid_map_toggle', :locals => { :map => false } %>
			<% end %>
		<% end %>
		</div>

		<%= yield %>
		
		<div id="sliding-sideBar" <% if params[:view] == "itinerary" %>style="display:none;"<% end %>>
			<a href="#" onclick="return false;" id="sliding-sideBarTab"><img src="/images/slide-button.png" alt="Tips & comments" title="Tips & comments"/></a>
			
			<div id="sliding-sideBarContents" style="display:none;">
				<div style="float:right"><a href="#" onclick="return false;" id="close-sideBar"><img src="/images/icon-close-white.png"/></a></div>
				
				<%= render :partial => "comments/trip_comments"%>
				
			</div>

		</div>

		<div id="footer">
			<div id="footer-inner">
				<p style="padding-top: 3px;">
					<% if !@city[0].nil? %>
					<span class="left">See more duffels in 
					<%= trip_destination_in_trip_header(@city) -%>
					</span>
					<% else %>
					<span class="left">Copyright &copy; 2011 Duffel, Inc.</span>
					<% end %>
					<span class="right">
					<a href="/featured">Duffel All-Stars</a>
					<a href="/site/tools">Tools</a>
					<a href="/site/about">About</a>  
					<a href="http://blog.duffelup.com">Blog</a>
					<a href="/site/help">Help</a>
					<a onclick="feedback_widget.show()" href="#">Feedback</a>
					</span>
				</p>
			</div>
		</div>
		
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=duffel"></script>
		
		<script type="text/javascript">
		var addthis_config = {
		    services_exclude: "print,favorites,friendster,live,technorati,myspace,yahoomail,google,blogger"
		}
		</script>
		
		<script type="text/javascript"> 
		  function collapseAll(objs) {
			for (var i=0;i<objs.length;i++ ) {
				document.getElementById(objs[i]).style.display = 'none';
			}}
		  function expandAll(objs) {
			for (var i=0;i<objs.length;i++ ) {
				document.getElementById(objs[i]).style.display = '';
			}}
		</script>
		
		<script type="text/javascript">
			var isExtended = 0;
		
			function slidingSideBarinit(){
				Event.observe('sliding-sideBarTab', 'click', slideSideBar, true);
				Event.observe('add-comment', 'click', slideSideBar, true);
				Event.observe('close-sideBar', 'click', slideSideBar, true);
				<%- unless (@users.include?(current_user) or @users.size == 1) -%>
				Event.observe('check-collaborators', 'click', slideSideBar, true);
				<%- end -%>
			}

			Event.observe(window, 'load', slidingSideBarinit, true);
		</script>
		
		<% unless true#logged_in? %>
			<script type="text/javascript">
			/* if user is not logged in, then sliding bar shows by default */
				var isExtended = 1;
				$('sliding-sideBarContents').show();
				$('sliding-sideBarTab').childNodes[0].src = $('sliding-sideBarTab').childNodes[0].src.replace(/(\.[^.]+)$/, '-open$1');
			</script>
		<% end %>
		
		<script type="text/javascript">
			/* having #comments in the URL will automatically open comments */
			if (window.location.hash == "#comments") {
				var isExtended = 1;
				$('sliding-sideBarContents').show();
				$('sliding-sideBarTab').childNodes[0].src = $('sliding-sideBarTab').childNodes[0].src.replace(/(\.[^.]+)$/, '-open$1');
			}
		</script>
		
		<% if @users.include?(current_user) %>
			<div id="sortable_list_controls">
				<% if params[:view] == "map" -%>
				<!-- Need a separate partial b/c need to re-render controls after Ajax events calls -->
				<%= render :partial => 'events/sortable_list_controls_without_board' %>
				<% else -%>
				<%= render :partial => 'events/sortable_list_controls' if params[:view] != "itinerary" %>
				<% end -%>
			</div>
		<% end %>
		
		<%= calendar_date_select_includes %>
		<%= render :partial => 'shared/external_javascripts' %>
	</body>
</html>

