<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"> 
  	<head> 
		<title><%= @title %></title> 
	    <%= stylesheet_link_tag "trip" %>
		<%= javascript_include_tag 'all' %>
		<%= javascript_include_tag 'application' %>
		
		<script type="text/javascript" 
				src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= GeoKit::Geocoders::google %>">
		</script>
		<%- if @ideas_to_map -%>
	    <script type="text/javascript"> 
	      var ideas_to_map = <%= @ideas_to_map.to_json %>;
	    </script>
	  	<%- end -%>
	
		<script type="text/javascript">
			Element.observe(window, 'load', function(e)
			{
			  var publishedSlida = new Effect.Slida('slida', { 
					offLabel: 	'Guest View&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;', 
					onLabel: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sortable'
				});
			});
		</script>
		
		<link rel="image_src" href="<%= @link %>" />
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<link rel="icon" type="image/png" href="/favicon.png">
	</head>
	
	<% if params[:view] == "map" %>
	<body onload="initialize_trip_map(true, true, true)" onunload="GUnload()">
	<% else %>
	<body onload="initialize_trip_map(false, false, false)" onunload="GUnload()">
	<% end %>
		
	<% if logged_in? and @users.include?(current_user) and (current_user.hide_tour_at.nil? or current_user.hide_tour_at.blank?) %>
	
	<div id="tour1" class="tour" style="top: 50%; left: 50%; margin: -100px 0 0 -190px; width: 270px; height: 128px;">
		<h1>Welcome to your duffel!</h1>
		<p>In 3 simple steps, we'll show you <strong><i>new</i></strong> features about your personal corkboard.</p>
		<p><a onclick="Effect.Fade('tour1', { duration: '0.3' }); Effect.BlindDown('tour2', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink" href="#tour2">Let's start!</a> 
		<%= link_to_remote "I'm a pro. Skip this.", {:url => '/users/hide_tour', :method => :post}, {:class => 'tourSmallLink'} -%></p>
	</div>
	
	<div id="tour2" class="tour" style="top: 140px; left: 22%; margin: 0 0 0 0; width: 300px; height: 130px; display: none;">
		<img src="/images/tour/tour-arrow1.png" alt="Here it is" style="position: absolute; top: -45px; left: 280px" />
		<h1>1. Add anything to your duffel</h1>
		<p>Click here to add notes, lodging options or any research to your corkboard.</p>
		<p><a onclick="Effect.Fade('tour2', { duration: '0.3' }); Effect.BlindDown('tour1', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink2" href="#tour1">Previous</a> 
		   <a onclick="Effect.Fade('tour2', { duration: '0.3' }); Effect.BlindDown('tour3', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink tourLinkNext" href="#tour3">Next</a></p>
	</div>
	
	<div id="tour3" class="tour" style="top: 70px; right: 275px; margin: 0 0 0 0; width: 280px; height: 122px; display: none;">
		<img src="/images/tour/tour-arrow1.png" alt="Here it is" style="position: absolute; top: -35px; right: 20px" />
		<h1>2. Invite friends and family</h1>
		<p>Invite fellow tripgoers to your corkboard. They can contribute ideas and comment.</p>
		<p><a onclick="Effect.Fade('tour3', { duration: '0.3' }); Effect.BlindDown('tour2', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink2" href="#tour2">Previous</a> 
		   <a onclick="Effect.Fade('tour3', { duration: '0.3' }); Effect.BlindDown('tour4', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink tourLinkNext" href="#tour4">Next</a></p>
	</div>
	
	<div id="tour4" class="tour" style="top: 280px; left: 5%; margin: 0 0 0 0; width: 270px; height: 130px; display: none;">
		<img src="/images/tour/tour-arrow1.png" alt="Here it is" style="position: absolute; top: -45px; left: 120px" />
		<h1>3. Drag & drop your notes</h1>
		<p>Drag and drop to sort. Shuffle your itinerary on the corkboard. Enjoy!</p>
		<p><a onclick="Effect.Fade('tour4', { duration: '0.3' }); Effect.BlindDown('tour3', { scaleContent: true, duration: '0.3', queue: 'end' });return false;" class="tourLink2" href="#tour3">Previous</a> 
		   <%= link_to_remote "Done", {:url => '/users/hide_tour', :method => :post}, {:class => 'tourLink tourLinkNext'} -%></p>
	</div>

	<% end %>
	
		<!-- Flash accepts id="notice", id="warning", and id="error" -->
		<% flash.each do |key, msg| -%>
		  <%= content_tag :p, msg, :id => key -%>
		<% end -%>
		
		<div id="sorting-indicator" style="display:none;"><p>Saving... <img style="vertical-align:bottom;" src="/images/ajax-loader-sorting.gif"></p></div>

		<div id="header" class="clearfix">


			<div id="logo">
			<%- if logged_in? -%>
				<%= link_to "", dashboard_path -%>
			<%- else -%>
				<%= link_to "", root_path -%>
				<%- end -%>
			</div>

		
			<div id="navigation">
				<h1>
				<% if !@trip.photo.size.nil? and @trip.photo.size != "" %>
				<img width="40" src="<%=@trip.photo.url(:thumb)%>" class="duffel-image" />
				<% elsif !@trip.photo_file_name.nil? %>
				<img width="40" src="<%=@trip.photo_file_name%>" class="duffel-image" />
				<% end %>
					
				<%= h(@trip.title) %>
				
				<span class="collaborator">- Planned by me</span>
				
				<br />
				<% if !@city[0].nil? %>
				<%= trip_destination_in_trip_header(@city) -%>
				<% else %>
				<span class="destination"><%= h(@trip.destination.gsub(", United States", "")) %></span>
				<% end %>
				<span class="date"><%- if @trip.start_date and @trip.end_date -%> from <%= display_trip_dates(@trip.start_date,@trip.end_date) -%><%- end -%></span>
				</h1>
				
			</div>
			<div id="account">
	          	<ul>
		          	<li class="edit"><%= link_to "Edit (privacy setting & dates)", edit_trip_path(:id => @trip.permalink), :title => "Edit duffel details", :alt => "Edit duffel details" %></li>
					<li class="invite"><%= link_to "Invite collaborators", trip_invitation_path(:permalink => @trip), :title => "Invite Collaborators", :alt => "Invite Collaborators" %></li>
					<li id="trip-login"><a class="signup" href="/signup">Save this duffel</a></li>
				</ul>
	        </div>
		</div>

		<div id="board-actions" class="clearfix">
			<% if params[:view] == "map" %>
				<%= render :partial => 'trips/new_ideas', :locals => { :map => 'map' } %>
				<ul id="board-view">
					<%= content_tag :li, link_to("Grid View", show_new_visitor_trip_url(:id => @trip.permalink ), :title => "Grid View"), :id => "grid-button" %> 
					<li id="map-button" class="selected">Map View</li>
					<%= content_tag :li, link_to("Print View", trip_print_itinerary_url(@trip), :target => "_blank", :title => "Print View", :onclick => "pageTracker._trackEvent('Duffel', 'click-print-itinerary');"), :id => "print-button" %>
				</ul>
				<!--<%= render :partial => 'trips/grid_map_toggle', :locals => { :map => 'map' } %>-->
			<% else %>
				<%= render :partial => 'trips/new_ideas', :locals => { :map => nil } %>
				<ul id="board-view">
					<li id="grid-button" class="selected">Grid View</li>
					<%= content_tag :li, link_to("Map View", show_new_visitor_trip_url(:id => @trip.permalink, :view => "map"), :title => "Map View"), :id => "map-button"  %> 
					<%= content_tag :li, link_to("Print View", trip_print_itinerary_url(@trip), :target => "_blank", :title => "Print View", :onclick => "pageTracker._trackEvent('Duffel', 'click-print-itinerary');"), :id => "print-button" %>
				</ul>
				<!--<%= render :partial => 'trips/grid_map_toggle', :locals => { :map => nil } %>-->
			<% end %>
		</div>

		<%= yield %>

		<div id="footer">
			<% if !@city[0].nil? %>
			<span class="left">See more duffels in 
			<%= trip_destination_in_trip_header(@city) -%>
			</span>
			<% else %>
			<span class="left">Copyright &copy; 2011 Duffel, Inc.</span>
			<% end %>
			<span class="right">
			<a href="/featured">Explore</a>
			<a href="/site/about">About</a>  
			<a href="http://blog.duffelup.com">Blog</a>
			<a href="/site/help">Help</a>
			</span>
		</div>
		
		<script type="text/javascript">
                var isExtended = 0;
        
                function slidingSideBarinit(){
                        Event.observe('sliding-sideBarTab', 'click', slideSideBar, true);
                        Event.observe('close-sideBar', 'click', slideSideBar, true);
                }

                Event.observe(window, 'load', slidingSideBarinit, true);
        </script>
		
		<script type="text/javascript"> 
		  function collapseAll(objs) {
			for (var i=0;i<objs.length;i++ ) {
				document.getElementById(objs[i]).style.display = 'none';
			}}
		  function expandAll(objs) {
			for (var i=0;i<objs.length;i++ ) {
				document.getElementById(objs[i]).style.display = '';
			}}
		</script>
		
		<div id="sortable_list_controls">
			<%= render :partial => 'events/sortable_list_controls' %>
		</div>

		<%= render :partial => 'shared/external_javascripts' %>
	</body>
</html>

